---
# This cassette is manually crafted to test retry logic.
# It returns 500 twice, then 200 on the third attempt.
# VCR plays back interactions in order, enabling sequential response testing.
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Matched-Path:
      - "/api/apikey/login"
      X-Vercel-Id:
      - iad1::iad1::retry-test-1
    body:
      encoding: UTF-8
      string: 'Internal Server Error'
  recorded_at: Fri, 24 Oct 2025 14:56:01 GMT
[...]
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Matched-Path:
      - "/api/apikey/login"
      X-Vercel-Id:
      - iad1::iad1::retry-test-3
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"test-org-id","name":"test-org","api_url":"https://api.braintrust.dev","proxy_url":"https://api.braintrust.dev"}]}'
  recorded_at: Fri, 24 Oct 2025 14:56:03 GMT
recorded_with: VCR 6.3.1
