---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - NmNjOWE4NTktOTlmNi00OTJiLWI3NDYtM2YxZWE5MGE5M2Qy
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::wtnz7-1774988041583-3437cf814c43
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Tue, 31 Mar 2026 20:14:01 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b348452f-24da-44b9-93d6-900a6a183f44
      X-Bt-Internal-Trace-Id:
      - 69cc2b0900000000266775447be7e3b3
      X-Amz-Apigw-Id:
      - bGuplFnFIAMEOvA=
      Etag:
      - W/"10d-SEV8zdYyFxsGQVbFPF9yW/SqrIE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Tue, 31 Mar 2026 20:14:01 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-prompt-project-id","name":"test-prompt-project-id","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Project
        ID test: {{name}}"}]},"options":{"model":"gpt-4o-mini"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c05eb0e2-479a-4d10-a640-2ef1861a36f3
      X-Bt-Internal-Trace-Id:
      - 69cc2b0900000000704d6b720608a75a
      X-Amz-Apigw-Id:
      - bGupmHTPoAMEZtg=
      Etag:
      - W/"1d4-8AzYqha6SKpiU1kiA0PfSEcFDTs"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-prompt-project-id","name":"test-prompt-project-id","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Project
        ID test: {{name}}"}]},"options":{"model":"gpt-4o-mini"}},"id":"8d56a5c3-8efa-4365-bad1-d317f7d53f98","created":"2026-03-31T20:14:02.023Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196917869306687"}'
  recorded_at: Tue, 31 Mar 2026 20:14:02 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function?project_id=ac86d18e-af78-4caf-918d-b89ad108ec67&slug=test-prompt-project-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c552c9a1-e1fa-4780-bb7f-ce39de8b71e0
      X-Bt-Internal-Trace-Id:
      - 69cc2b0a000000002a9ac1041d593679
      X-Amz-Apigw-Id:
      - bGuprFMIoAMEUYg=
      Etag:
      - W/"24b-u5tAoRtEnrm2JpTXjCwCY2vvhVU"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"8d56a5c3-8efa-4365-bad1-d317f7d53f98","_xact_id":"1000196917869306687","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-prompt-project-id","slug":"test-prompt-project-id","description":null,"created":"2026-03-31T20:14:02.023Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Project
        ID test: {{name}}"}]},"options":{"model":"gpt-4o-mini"}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
  recorded_at: Tue, 31 Mar 2026 20:14:02 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function/8d56a5c3-8efa-4365-bad1-d317f7d53f98
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 2dd3b394-f0f8-463c-81ca-486483dbf92c
      X-Bt-Internal-Trace-Id:
      - 69cc2b0a00000000454b78c9c8641a41
      X-Amz-Apigw-Id:
      - bGupwFuuoAMEdLg=
      Etag:
      - W/"23d-XOBiMDBVLA/i94x9aq47VqTVDC0"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"8d56a5c3-8efa-4365-bad1-d317f7d53f98","_xact_id":"1000196917869306687","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-prompt-project-id","slug":"test-prompt-project-id","description":null,"created":"2026-03-31T20:14:02.023Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Project
        ID test: {{name}}"}]},"options":{"model":"gpt-4o-mini"}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}'
  recorded_at: Tue, 31 Mar 2026 20:14:03 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/function/8d56a5c3-8efa-4365-bad1-d317f7d53f98
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - adeda020-5550-45df-bfd3-fd033984e9d3
      X-Bt-Internal-Trace-Id:
      - 69cc2b0b000000003254b65b1988babc
      X-Amz-Apigw-Id:
      - bGup0E3BoAMEXLg=
      Etag:
      - W/"11a-g0Zd7+pp+d3gsXhKM+Rty1ldhCw"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-prompt-project-id","id":"8d56a5c3-8efa-4365-bad1-d317f7d53f98","created":"2026-03-31T20:14:03.436Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_object_delete":true,"_xact_id":"1000196917869375097"}'
  recorded_at: Tue, 31 Mar 2026 20:14:03 GMT
recorded_with: VCR 6.4.0
