---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZDE5MmFhODgtNjU5Ny00OWVmLTgzZjAtNDRmMDJlYTY5MmQ1
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::c7rlk-1767972723551-c064f07e7248
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 09 Jan 2026 15:32:03 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/function?project_name=ruby-sdk-test&slug=nonexistent-prompt-xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - e525a4b0-3de5-43ce-9b4f-fedef9b6d867
      X-Bt-Internal-Trace-Id:
      - 69611f73000000005ccf167cee9e9974
      X-Amz-Apigw-Id:
      - W7HaJFBAIAMEF8w=
      Etag:
      - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[]}'
  recorded_at: Fri, 09 Jan 2026 15:32:03 GMT
recorded_with: VCR 6.4.0
