---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - NDk0M2EwZTYtM2M0YS00N2Y3LWFlMTEtNzVhMzA1MjZiNGFl
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::l8kjr-1770136079348-08771e3e847b
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Tue, 03 Feb 2026 16:27:59 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - '011186a0-0fb2-4634-bc00-95af84cf3343'
      X-Bt-Internal-Trace-Id:
      - 6982220f000000003c26a0c34f0470ae
      X-Amz-Apigw-Id:
      - YNpCgHGaIAMEh_g=
      Etag:
      - W/"10d-SEV8zdYyFxsGQVbFPF9yW/SqrIE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Tue, 03 Feb 2026 16:27:59 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-prompt-version","name":"test-prompt-version","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Version
        test: {{name}}"}]},"options":{"model":"gpt-4o-mini"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 1163b7e1-fedc-4625-b894-2f07340664e4
      X-Bt-Internal-Trace-Id:
      - 6982220f00000000761b361d77c86ede
      X-Amz-Apigw-Id:
      - YNpCiGaCoAMEtNQ=
      Etag:
      - W/"1cb-HOafIp8cLL2WM5C1XzbOXaTM8cs"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-prompt-version","name":"test-prompt-version","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Version
        test: {{name}}"}]},"options":{"model":"gpt-4o-mini"}},"id":"688afbf1-2138-4b26-83c4-0ae9c5ff18f3","created":"2026-02-03T16:27:59.956Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196599891140962"}'
  recorded_at: Tue, 03 Feb 2026 16:28:00 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function?project_name=ruby-sdk-test&slug=test-prompt-version
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 46b9edb0-b604-4457-8f05-3c4eeb5b42cc
      X-Bt-Internal-Trace-Id:
      - 69822210000000006e8e7b10d1aea3d7
      X-Amz-Apigw-Id:
      - YNpCpE8HoAMEvwg=
      Etag:
      - W/"242-lXp8Iw1uJp0p+kj/h9BNJF+gKls"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"688afbf1-2138-4b26-83c4-0ae9c5ff18f3","_xact_id":"1000196599891140962","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-prompt-version","slug":"test-prompt-version","description":null,"created":"2026-02-03T16:27:59.956Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Version
        test: {{name}}"}]},"options":{"model":"gpt-4o-mini"}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
  recorded_at: Tue, 03 Feb 2026 16:28:01 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function/688afbf1-2138-4b26-83c4-0ae9c5ff18f3?version=1000196599891140962
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 90cdb81b-df18-42cb-902b-fff81078a6bd
      X-Bt-Internal-Trace-Id:
      - 69822211000000002386aaf7bfc14b99
      X-Amz-Apigw-Id:
      - YNpCvHNMIAMEdYw=
      Etag:
      - W/"234-4hFqSCp1semAPAQ5IIwmnQAzn5w"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"688afbf1-2138-4b26-83c4-0ae9c5ff18f3","_xact_id":"1000196599891140962","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-prompt-version","slug":"test-prompt-version","description":null,"created":"2026-02-03T16:27:59.956Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Version
        test: {{name}}"}]},"options":{"model":"gpt-4o-mini"}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}'
  recorded_at: Tue, 03 Feb 2026 16:28:01 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/function/688afbf1-2138-4b26-83c4-0ae9c5ff18f3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 46c9d966-a18d-4f27-843a-a8b54e14b404
      X-Bt-Internal-Trace-Id:
      - 69822211000000002299cfa4323934bf
      X-Amz-Apigw-Id:
      - YNpC0FuYoAMETAw=
      Etag:
      - W/"117-C2YbqIF11ONeL97loSFeQl9ViCI"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-prompt-version","id":"688afbf1-2138-4b26-83c4-0ae9c5ff18f3","created":"2026-02-03T16:28:01.929Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_object_delete":true,"_xact_id":"1000196599891209069"}'
  recorded_at: Tue, 03 Feb 2026 16:28:02 GMT
recorded_with: VCR 6.4.0
