---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZDFkMGEyMzAtYmU1Zi00ZTE0LWI4MjItYjY3YTNhYWZjMjE5
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::h84s4-1770136944328-d672984a107e
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Tue, 03 Feb 2026 16:42:24 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 64ed7b2f-c6af-4fe3-9a5c-dfe27d66375c
      X-Bt-Internal-Trace-Id:
      - 698225700000000073d4803fef0b51bd
      X-Amz-Apigw-Id:
      - YNrJpH4GoAMEvVw=
      Etag:
      - W/"10d-SEV8zdYyFxsGQVbFPF9yW/SqrIE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Tue, 03 Feb 2026 16:42:24 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-prompt-tools","name":"test-prompt-tools","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"What
        is the weather in {{city}}?"}],"tools":"[{\"type\":\"function\",\"function\":{\"name\":\"get_weather\",\"description\":\"Get
        the current weather in a location\",\"parameters\":{\"type\":\"object\",\"properties\":{\"location\":{\"type\":\"string\",\"description\":\"City
        name\"}},\"required\":[\"location\"]}}}]"},"options":{"model":"gpt-4o-mini"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 898ddabf-814d-4d58-b383-2590fb58fe9a
      X-Bt-Internal-Trace-Id:
      - 6982257000000000022807ed4476bdfa
      X-Amz-Apigw-Id:
      - YNrJrFK6IAMEvXw=
      Etag:
      - W/"2ea-LYRoVaHbEKEatY1aVi6aOl18504"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-prompt-tools","name":"test-prompt-tools","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"What
        is the weather in {{city}}?"}],"tools":"[{\"type\":\"function\",\"function\":{\"name\":\"get_weather\",\"description\":\"Get
        the current weather in a location\",\"parameters\":{\"type\":\"object\",\"properties\":{\"location\":{\"type\":\"string\",\"description\":\"City
        name\"}},\"required\":[\"location\"]}}}]"},"options":{"model":"gpt-4o-mini"}},"id":"54bf3889-e339-4869-9dea-2d9524fc0540","created":"2026-02-03T16:42:24.919Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196599947750956"}'
  recorded_at: Tue, 03 Feb 2026 16:42:25 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function?project_name=ruby-sdk-test&slug=test-prompt-tools
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 56c51e8b-f77b-4175-aba3-83aae0476841
      X-Bt-Internal-Trace-Id:
      - 69822571000000003e48a514d09e88a5
      X-Amz-Apigw-Id:
      - YNrJyHh0oAMETAw=
      Etag:
      - W/"361-O3S4Sbw84UNJFYmmKW8EAmWnk28"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"54bf3889-e339-4869-9dea-2d9524fc0540","_xact_id":"1000196599947750956","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-prompt-tools","slug":"test-prompt-tools","description":null,"created":"2026-02-03T16:42:24.919Z","prompt_data":{"prompt":{"type":"chat","tools":"[{\"type\":\"function\",\"function\":{\"name\":\"get_weather\",\"description\":\"Get
        the current weather in a location\",\"parameters\":{\"type\":\"object\",\"properties\":{\"location\":{\"type\":\"string\",\"description\":\"City
        name\"}},\"required\":[\"location\"]}}}]","messages":[{"role":"user","content":"What
        is the weather in {{city}}?"}]},"options":{"model":"gpt-4o-mini"}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
  recorded_at: Tue, 03 Feb 2026 16:42:26 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function/54bf3889-e339-4869-9dea-2d9524fc0540
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 05d3c865-33f7-4adc-b255-8e3ea2e06338
      X-Bt-Internal-Trace-Id:
      - 69822572000000006248[...]
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/function/54bf3889-e339-4869-9dea-2d9524fc0540
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - db1d0f4b-0533-4584-8d62-b30b3afc176f
      X-Bt-Internal-Trace-Id:
      - 69822572000000002917c3a08e258b31
      X-Amz-Apigw-Id:
      - YNrJ-Hm_IAMEjXA=
      Etag:
      - W/"115-DyUp6466yAVGFZroE14vpI62SXI"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-prompt-tools","id":"54bf3889-e339-4869-9dea-2d9524fc0540","created":"2026-02-03T16:42:26.748Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_object_delete":true,"_xact_id":"1000196599947884626"}'
  recorded_at: Tue, 03 Feb 2026 16:42:27 GMT
recorded_with: VCR 6.4.0
