---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - MGQzNDRiYjctMzcyZC00ODEzLTg0MmYtYjYwNmFiZWY0Nzc5
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::478kl-1767972717018-8f1c4449dd71
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 09 Jan 2026 15:31:57 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 6308ae43-6aef-4e2a-b677-6eeb03896599
      X-Bt-Internal-Trace-Id:
      - 69611f6d000000007e25f8ac6b23187b
      X-Amz-Apigw-Id:
      - W7HZIGr1IAMEjxA=
      Etag:
      - W/"10d-jHt6t+s3DyzhLf+d20I2XKvIjGQ"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","description":null,"created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}]}'
  recorded_at: Fri, 09 Jan 2026 15:31:57 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-prompt-load","name":"test-prompt-load","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Say
        hello to {{name}}"}]},"options":{"model":"gpt-4o-mini"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 411104c9-b444-450f-b49c-d7cd030b9b18
      X-Bt-Internal-Trace-Id:
      - 69611f6d000000007281a26ff26ab68f
      X-Amz-Apigw-Id:
      - W7HZKEbxIAMEDJQ=
      Etag:
      - W/"1c4-HTfX1Q46VKOG3lasMWxS8J85LCQ"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-prompt-load","name":"test-prompt-load","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Say
        hello to {{name}}"}]},"options":{"model":"gpt-4o-mini"}},"id":"2ee042ed-2971-47f4-a73c-7abe38ab1a38","created":"2026-01-09T15:31:57.524Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196458112984917"}'
  recorded_at: Fri, 09 Jan 2026 15:31:57 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/function?project_name=ruby-sdk-test&slug=test-prompt-load
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - af75d70c-ba8f-4244-a61e-fb6e643abd74
      X-Bt-Internal-Trace-Id:
      - 69611f6d0000000079da7c9d7c78e29e
      X-Amz-Apigw-Id:
      - W7HZNF8ooAMErzg=
      Etag:
      - W/"23b-zKRi5DEcuekPd/TsGth74hG9tXw"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"2ee042ed-2971-47f4-a73c-7abe38ab1a38","_xact_id":"1000196458112984917","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"test-prompt-load","slug":"test-prompt-load","description":null,"created":"2026-01-09T15:31:57.524Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Say
        hello to {{name}}"}]},"options":{"model":"gpt-4o-mini"}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
  recorded_at: Fri, 09 Jan 2026 15:31:58 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/function/2ee042ed-2971-47f4-a73c-7abe38ab1a38
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 9e3c6ab3-0160-4a1e-94a9-35ab9f19913e
      X-Bt-Internal-Trace-Id:
      - 69611f6e0000000071b8a71148470d4f
      X-Amz-Apigw-Id:
      - W7HZTHd7oAMESTw=
      Etag:
      - W/"22d-ma3D4t+NO2VLj1JEXruVnj40R7s"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"2ee042ed-2971-47f4-a73c-7abe38ab1a38","_xact_id":"1000196458112984917","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"test-prompt-load","slug":"test-prompt-load","description":null,"created":"2026-01-09T15:31:57.524Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Say
        hello to {{name}}"}]},"options":{"model":"gpt-4o-mini"}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}'
  recorded_at: Fri, 09 Jan 2026 15:31:58 GMT
- request:
    method: delete
    uri: https://api.braintrust.dev/v1/function/2ee042ed-2971-47f4-a73c-7abe38ab1a38
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 2fd59f3d-1ab3-4711-a36d-cc8f4a571f38
      X-Bt-Internal-Trace-Id:
      - 69611f6e000000006407a3df038879bd
      X-Amz-Apigw-Id:
      - W7HZYFE2oAMEF7g=
      Etag:
      - W/"114-DQ3SOr2UfgKZ6FbXE8ta7C0iQ+0"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-prompt-load","id":"2ee042ed-2971-47f4-a73c-7abe38ab1a38","created":"2026-01-09T15:31:58.990Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196458113118216"}'
  recorded_at: Fri, 09 Jan 2026 15:31:59 GMT
recorded_with: VCR 6.4.0
