---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - MzRlY2NiNDUtMGJlYy00Mjc4LTg4NGUtYjhjM2IzNTEzMGZi
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::jplb2-1761318568404-313309e10662
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:09:28 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c40e98eb-e4b8-49ee-82e5-4a3cf930516e
      X-Bt-Internal-Trace-Id:
      - 68fb96a80000000055074116d861a1ac
      X-Amz-Apigw-Id:
      - S9R6ZEcKIAMEjSg=
      Etag:
      - W/"fa-+YSPhVhMcSODQVu7iSaJULbdOe4"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}]}'
  recorded_at: Fri, 24 Oct 2025 15:09:28 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-func","name":"test-ruby-sdk-func","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Test
        prompt"}]},"options":{"model":"gpt-4o-mini"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b8b3491d-e4ea-4918-8f58-ca36ec1e0bc5
      X-Bt-Internal-Trace-Id:
      - 68fb96a80000000009377fcab9011203
      X-Amz-Apigw-Id:
      - S9R6bH_FoAMEmTA=
      Etag:
      - W/"1be-kcKslfTMEhhV7owRRH2PDO7ES/E"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-func","name":"test-ruby-sdk-func","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Test
        prompt"}]},"options":{"model":"gpt-4o-mini"}},"id":"8f376e59-388e-4a20-bc7e-15d4706fb10d","created":"2025-10-24T15:09:28.833Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196022026685313"}'
  recorded_at: Fri, 24 Oct 2025 15:09:29 GMT
recorded_with: VCR 6.3.1
