---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZWU0NTc5ZGYtMDczMi00MjE5LWIzYzAtNGVmNDIyMjhjNjA4
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::px6nb-1765428949725-14f7ee2cc1f7
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Thu, 11 Dec 2025 04:55:49 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c88ca7f5-a8da-42cb-80b8-e0faf7fda719
      X-Bt-Internal-Trace-Id:
      - 693a4ed5000000003121291ec21e5663
      X-Amz-Apigw-Id:
      - VaFBfEicoAMEBNg=
      Etag:
      - W/"fa-HrwmCajpdJfSgika/ZPujG7WfoY"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Thu, 11 Dec 2025 04:55:50 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-llm-helper","name":"test-ruby-sdk-llm-helper","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Translate
        to French: {{text}}"}]},"options":{"model":"gpt-4o-mini"}},"function_type":"llm"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 964e64ee-6c55-43c9-98bb-c4535f8bb43c
      X-Bt-Internal-Trace-Id:
      - 693a4ed6000000001aca747759d28465
      X-Amz-Apigw-Id:
      - VaFBgHuTIAMED3A=
      Etag:
      - W/"1f2-lIqldc+LaZYKYIacBe3KSqdMVV4"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-llm-helper","name":"test-ruby-sdk-llm-helper","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Translate
        to French: {{text}}"}]},"options":{"model":"gpt-4o-mini"}},"function_type":"llm","id":"8cd1b4df-c8b4-4041-a536-c2e1b5cd2138","created":"2025-12-11T04:55:50.204Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196291404657606"}'
  recorded_at: Thu, 11 Dec 2025 04:55:50 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/function/8cd1b4df-c8b4-4041-a536-c2e1b5cd2138
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 562ccc4b-c7ed-4a4a-9eb8-6bbf34bf8b68
      X-Bt-Internal-Trace-Id:
      - 693a4ed6000000000cef49a2f80fb5c6
      X-Amz-Apigw-Id:
      - VaFBmG1QIAMETCA=
      Etag:
      - W/"11c-oZq10l0Jaw4UkggvsdNouKqM46Q"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-llm-helper","id":"8cd1b4df-c8b4-4041-a536-c2e1b5cd2138","created":"2025-12-11T04:55:50.807Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_object_delete":true,"_xact_id":"1000196291404657950"}'
  recorded_at: Thu, 11 Dec 2025 04:55:51 GMT
recorded_with: VCR 6.3.1
