---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - NjNhMTZkZjItYTQxNS00MmQyLWJkYmMtZjQ2YjdlYjYzNGE2
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::6gwhr-1765402087109-041585946b4e
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Wed, 10 Dec 2025 21:28:07 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 074ca65f-8e60-45c4-b9ae-5631f00fea80
      X-Bt-Internal-Trace-Id:
      - 6939e5e70000000012d81496fed5a146
      X-Amz-Apigw-Id:
      - VZDcMHe3IAMEdfw=
      Etag:
      - W/"fa-+YSPhVhMcSODQVu7iSaJULbdOe4"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}]}'
  recorded_at: Wed, 10 Dec 2025 21:28:07 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-no-type-func","name":"test-ruby-sdk-no-type-func","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Hello
        {{input}}"}]},"options":{"model":"gpt-4o-mini"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c1bc2823-b31f-4799-822b-88e77a9ea095
      X-Bt-Internal-Trace-Id:
      - 6939e5e7000000004b9b63a01e924508
      X-Amz-Apigw-Id:
      - VZDcOFgYIAMEmiw=
      Etag:
      - W/"1d2-/TVCKK14Uxl4oPvFqVlcfFIKCuI"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-no-type-func","name":"test-ruby-sdk-no-type-func","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Hello
        {{input}}"}]},"options":{"model":"gpt-4o-mini"}},"id":"88630d80-2f32-458c-9edc-789a1e317f69","created":"2025-12-10T21:28:07.540Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196289644199125"}'
  recorded_at: Wed, 10 Dec 2025 21:28:07 GMT
recorded_with: VCR 6.3.1
