---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - NzFkMjgwNGUtNTRiMC00MzNmLTk4NWQtYjM0N2M2OTM5Mjc3
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::xs4h4-1765402086236-aaeb571feca8
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Wed, 10 Dec 2025 21:28:06 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 6eff316b-3fc9-44f1-b754-d4b114496707
      X-Bt-Internal-Trace-Id:
      - 6939e5e6000000003856a70c93a8c85f
      X-Amz-Apigw-Id:
      - VZDcEFF4IAMEd_A=
      Etag:
      - W/"fa-+YSPhVhMcSODQVu7iSaJULbdOe4"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}]}'
  recorded_at: Wed, 10 Dec 2025 21:28:06 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-scorer-func","name":"test-ruby-sdk-scorer-func","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return a score between 0 and 1."},{"role":"user","content":"Score
        this: {{output}}"}]},"options":{"model":"gpt-4o-mini"}},"function_type":"scorer"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c22d4cb1-56e9-4b2c-84c6-51c274f25050
      X-Bt-Internal-Trace-Id:
      - 6939e5e6000000003b3683f76419ac78
      X-Amz-Apigw-Id:
      - VZDcGEkZIAMEcXg=
      Etag:
      - W/"240-9c6a13QUilhYyZfbU4gWjxZ2g5s"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-scorer-func","name":"test-ruby-sdk-scorer-func","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return a score between 0 and 1."},{"role":"user","content":"Score
        this: {{output}}"}]},"options":{"model":"gpt-4o-mini"}},"function_type":"scorer","id":"5b10c950-ce41-4355-b132-59f48b65111c","created":"2025-12-10T21:28:06.769Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196289644132876"}'
  recorded_at: Wed, 10 Dec 2025 21:28:07 GMT
recorded_with: VCR 6.3.1
