---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - Y2QzOTQwNGEtM2I4Mi00NDBmLThkYjItODUwOWI3ZTBkNWVl
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::blp9g-1765428998917-e494340df7f5
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Thu, 11 Dec 2025 04:56:38 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f4cde881-0d2f-4eeb-a9f0-434b6f387852
      X-Bt-Internal-Trace-Id:
      - 693a4f0700000000582eef1b893e2ada
      X-Amz-Apigw-Id:
      - VaFJLHMJoAMELMQ=
      Etag:
      - W/"fa-HrwmCajpdJfSgika/ZPujG7WfoY"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Thu, 11 Dec 2025 04:56:39 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-tool-with-schema","name":"test-ruby-sdk-tool-with-schema","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Search
        for: {{query}}"}]},"options":{"model":"gpt-4o-mini"}},"function_type":"tool","function_schema":{"parameters":{"type":"object","properties":{"query":{"type":"string","description":"Search
        query"}},"required":["query"]},"returns":{"type":"string","description":"Search
        results"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 1ee695e6-f241-4942-baab-04c3791c432a
      X-Bt-Internal-Trace-Id:
      - 693a4f070000000012871ab44e66fb0b
      X-Amz-Apigw-Id:
      - VaFJPH9bIAMERNg=
      Etag:
      - W/"2c0-mCUaEFHTK7Mcr0f/BENutDu3TNg"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-tool-with-schema","name":"test-ruby-sdk-tool-with-schema","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Search
        for: {{query}}"}]},"options":{"model":"gpt-4o-mini"}},"function_type":"tool","function_schema":{"parameters":{"type":"object","properties":{"query":{"type":"string","description":"Search
        query"}},"required":["query"]},"returns":{"type":"string","description":"Search
        results"}},"id":"b9b0a756-3d95-4858-979f-b4a07615484a","created":"2025-12-11T04:56:39.640Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196291407895940"}'
  recorded_at: Thu, 11 Dec 2025 04:56:39 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/function/b9b0a756-3d95-4858-979f-b4a07615484a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 236f798f-81b9-4429-acfe-0a71197ebe77
      X-Bt-Internal-Trace-Id:
      - 693a4f080000000021a8bf85d4f10944
      X-Amz-Apigw-Id:
      - VaFJUFIaIAMEGOQ=
      Etag:
      - W/"122-KxkjHyt37DgjDqygMSYc4hWlNcM"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-tool-with-schema","id":"b9b0a756-3d95-4858-979f-b4a07615484a","created":"2025-12-11T04:56:40.145Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_object_delete":true,"_xact_id":"1000196291407961825"}'
  recorded_at: Thu, 11 Dec 2025 04:56:40 GMT
recorded_with: VCR 6.3.1
