---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - YTJjNjFhMTctZjRmNS00N2ZjLThmNGEtMjIwYmU4Zjk0MWJl
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::kcx4j-1765428916152-a1cf3fc51400
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Thu, 11 Dec 2025 04:55:16 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 4bae4144-3a12-4d57-905f-8a2cf7c039a9
      X-Bt-Internal-Trace-Id:
      - 693a4eb40000000053bced5a0bd7888a
      X-Amz-Apigw-Id:
      - VaE8PGqNoAMEXFA=
      Etag:
      - W/"fa-HrwmCajpdJfSgika/ZPujG7WfoY"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Thu, 11 Dec 2025 04:55:16 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-helper","name":"test-ruby-sdk-scorer-helper","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return a score between 0 and 1."},{"role":"user","content":"Score
        this output: {{output}}"}]},"options":{"model":"gpt-4o-mini"}},"function_type":"scorer"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 0c519b08-0b31-4f2e-b035-9b4c734abfa4
      X-Bt-Internal-Trace-Id:
      - 693a4eb4000000002361ec5410e55c51
      X-Amz-Apigw-Id:
      - VaE8SEQHIAMEm6g=
      Etag:
      - W/"24b-cTIRiLePppBz2Y71KMdrHz88H5I"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-helper","name":"test-ruby-sdk-scorer-helper","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return a score between 0 and 1."},{"role":"user","content":"Score
        this output: {{output}}"}]},"options":{"model":"gpt-4o-mini"}},"function_type":"scorer","id":"d3185824-261b-421d-b521-f1575891a1b3","created":"2025-12-11T04:55:16.838Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196291402408416"}'
  recorded_at: Thu, 11 Dec 2025 04:55:17 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/function/d3185824-261b-421d-b521-f1575891a1b3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 407a5376-07ec-4d61-8614-7b7a2d890322
      X-Bt-Internal-Trace-Id:
      - 693a4eb500000000118149ac917ca883
      X-Amz-Apigw-Id:
      - VaE8YELyIAMEq6w=
      Etag:
      - W/"11f-qcFVaem/NZDZs2Ry62ZL8kKjiN0"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-helper","id":"d3185824-261b-421d-b521-f1575891a1b3","created":"2025-12-11T04:55:17.398Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_object_delete":true,"_xact_id":"1000196291402474269"}'
  recorded_at: Thu, 11 Dec 2025 04:55:17 GMT
recorded_with: VCR 6.3.1
