---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - NTMzYWY3ZmUtNmQ4OS00MjZiLTk2MmMtMGNhYjQxYjcxNTc2
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::2qj8n-1765428982997-9d11d4427700
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Thu, 11 Dec 2025 04:56:23 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d5e7e5e0-1d08-414c-8a33-9722c3601945
      X-Bt-Internal-Trace-Id:
      - 693a4ef800000000179f1be0a1b9fe8a
      X-Amz-Apigw-Id:
      - VaFG4En5IAMEnaQ=
      Etag:
      - W/"fa-HrwmCajpdJfSgika/ZPujG7WfoY"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Thu, 11 Dec 2025 04:56:24 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-typed","name":"test-ruby-sdk-scorer-typed","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return a score between 0 and 1."},{"role":"user","content":"Score
        this: {{output}}"}]},"options":{"model":"gpt-4o-mini"}},"function_type":"scorer"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 0c461163-960c-49ff-bb9e-c95e627cbba3
      X-Bt-Internal-Trace-Id:
      - 693a4ef9000000002e08063942bbee8f
      X-Amz-Apigw-Id:
      - VaFG-GBuoAMEs4Q=
      Etag:
      - W/"242-xcOwFbksSiv7dqRia8dIpqo3R6g"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-typed","name":"test-ruby-sdk-scorer-typed","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return a score between 0 and 1."},{"role":"user","content":"Score
        this: {{output}}"}]},"options":{"model":"gpt-4o-mini"}},"function_type":"scorer","id":"a7eb746f-0467-4455-9e30-b1fd6cae3d1a","created":"2025-12-11T04:56:25.211Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196291406969937"}'
  recorded_at: Thu, 11 Dec 2025 04:56:25 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/function/a7eb746f-0467-4455-9e30-b1fd6cae3d1a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - bdfe142e-ce41-4ecb-b5de-299450129565
      X-Bt-Internal-Trace-Id:
      - 693a4efa000000000b3a9a957c2e9798
      X-Amz-Apigw-Id:
      - VaFHIFwgIAMEVsg=
      Etag:
      - W/"11e-9XkIPGAdtEoTPJs1c74kx6bM4is"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-typed","id":"a7eb746f-0467-4455-9e30-b1fd6cae3d1a","created":"2025-12-11T04:56:26.169Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_object_delete":true,"_xact_id":"1000196291407036053"}'
  recorded_at: Thu, 11 Dec 2025 04:56:26 GMT
recorded_with: VCR 6.3.1
