---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - YWE5MGFhZTQtMmRhZi00ZThhLTk3ODYtZTk5NDkwNzI2OGI4
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::6k66j-1765428929315-bb500ef1b844
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Thu, 11 Dec 2025 04:55:29 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - a1416d41-19fa-4c52-af7e-c0d3a20417a4
      X-Bt-Internal-Trace-Id:
      - 693a4ec100000000724592849e469a88
      X-Amz-Apigw-Id:
      - VaE-UHV4IAMEmEw=
      Etag:
      - W/"fa-HrwmCajpdJfSgika/ZPujG7WfoY"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Thu, 11 Dec 2025 04:55:29 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-tool-helper","name":"test-ruby-sdk-tool-helper","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Echo:
        {{input}}"}]},"options":{"model":"gpt-4o-mini"}},"description":"A test tool
        that echoes input","function_type":"tool","function_schema":{"parameters":{"type":"object","properties":{"input":{"type":"string"}}},"returns":{"type":"string"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b884d995-0953-4fa0-bdf6-fe5c01505210
      X-Bt-Internal-Trace-Id:
      - 693a4ec10000000002355e7e5957e641
      X-Amz-Apigw-Id:
      - VaE-XGcPoAMERFQ=
      Etag:
      - W/"28d-1DGRK2bqGP9mHBdYZI9WpnBp5dc"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-tool-helper","name":"test-ruby-sdk-tool-helper","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Echo:
        {{input}}"}]},"options":{"model":"gpt-4o-mini"}},"description":"A test tool
        that echoes input","function_type":"tool","function_schema":{"parameters":{"type":"object","properties":{"input":{"type":"string"}}},"returns":{"type":"string"}},"id":"7872a93e-3e19-4250-811e-3bc888ed5323","created":"2025-12-11T04:55:30.037Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196291403334775"}'
  recorded_at: Thu, 11 Dec 2025 04:55:30 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/function/7872a93e-3e19-4250-811e-3bc888ed5323
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 302fcabc-a98c-4a73-a371-7d5376ace61a
      X-Bt-Internal-Trace-Id:
      - 693a4ec2000000006d155d5ba6cf1126
      X-Amz-Apigw-Id:
      - VaE-dGGYIAMEqlQ=
      Etag:
      - W/"11d-Eh4ubzNnNsnEzH/VIP2WIP6FR80"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-tool-helper","id":"7872a93e-3e19-4250-811e-3bc888ed5323","created":"2025-12-11T04:55:30.683Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_object_delete":true,"_xact_id":"1000196291403335077"}'
  recorded_at: Thu, 11 Dec 2025 04:55:30 GMT
recorded_with: VCR 6.3.1
