---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - OGYxZjE0NjEtYjNhYy00ZjY4LWFlMGMtNTBlZTQwZmQ0Y2Vj
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::zt97p-1765428939262-e4cabb95b87f
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Thu, 11 Dec 2025 04:55:39 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f9b3ce86-9b59-483a-b431-8d9ce0c2d65a
      X-Bt-Internal-Trace-Id:
      - 693a4ecb000000003abe688906ff893a
      X-Amz-Apigw-Id:
      - VaE_2FSrIAMEaIw=
      Etag:
      - W/"fa-HrwmCajpdJfSgika/ZPujG7WfoY"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Thu, 11 Dec 2025 04:55:39 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-task-helper","name":"test-ruby-sdk-task-helper","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Hello
        {{name}}"}]},"options":{"model":"gpt-4o-mini"}},"function_type":"task"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b3e8afa8-3c94-44c4-9ac7-5dbe3ef922f4
      X-Bt-Internal-Trace-Id:
      - 693a4ecc000000000bf9fa279554c8da
      X-Amz-Apigw-Id:
      - VaFABFFZIAMEkBA=
      Etag:
      - W/"1e6-sTuTl1Tgp6HyOtVr44k2WcQmBz8"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-task-helper","name":"test-ruby-sdk-task-helper","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Hello
        {{name}}"}]},"options":{"model":"gpt-4o-mini"}},"function_type":"task","id":"9c404264-10f8-4e70-a357-4da38f158159","created":"2025-12-11T04:55:40.645Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196291403996314"}'
  recorded_at: Thu, 11 Dec 2025 04:55:40 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/function/9c404264-10f8-4e70-a357-4da38f158159
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 9870a1f1-052e-4044-adb4-4631b4f8b95a
      X-Bt-Internal-Trace-Id:
      - 693a4ecc000000006057d98c0fbbd6a4
      X-Amz-Apigw-Id:
      - VaFAEGrjoAMEegg=
      Etag:
      - W/"11d-zPpy3TFS5X8vJoUVJeAZSzkWMT4"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-task-helper","id":"9c404264-10f8-4e70-a357-4da38f158159","created":"2025-12-11T04:55:40.907Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_object_delete":true,"_xact_id":"1000196291403996550"}'
  recorded_at: Thu, 11 Dec 2025 04:55:41 GMT
recorded_with: VCR 6.3.1
