---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - MWJlYzVjMzctODRhYy00ZWFhLTk4MTgtYzI2N2JhYjZhNzVk
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::5mzj6-1761318570446-9e00f6745b8c
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:09:30 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b3767329-d4cb-402e-b1db-a8bfe72ac57e
      X-Bt-Internal-Trace-Id:
      - 68fb96aa0000000060079daa3d39d591
      X-Amz-Apigw-Id:
      - S9R6tGH2oAMEPTg=
      Etag:
      - W/"fa-+YSPhVhMcSODQVu7iSaJULbdOe4"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}]}'
  recorded_at: Fri, 24 Oct 2025 15:09:30 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-delete-func","name":"test-ruby-sdk-delete-func","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Test"}]},"options":{"model":"gpt-4o-mini"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - fbc623a9-9da5-49a9-aa05-d48b21a644a5
      X-Bt-Internal-Trace-Id:
      - 68fb96aa000000002d8ce26b0bbe0745
      X-Amz-Apigw-Id:
      - S9R6vH4toAMEONQ=
      Etag:
      - W/"1c5-gDZHZEPJxm/4+lDlzpeY2Lthpkk"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-delete-func","name":"test-ruby-sdk-delete-func","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Test"}]},"options":{"model":"gpt-4o-mini"}},"id":"ebd7c3c7-789c-4f23-9067-8db6ad6e0cd4","created":"2025-10-24T15:09:30.837Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196022026817718"}'
  recorded_at: Fri, 24 Oct 2025 15:09:31 GMT
- request:
    method: delete
    uri: https://api.braintrust.dev/v1/function/ebd7c3c7-789c-4f23-9067-8db6ad6e0cd4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 8886ecff-8ca5-437e-b097-f91b4ed33948
      X-Bt-Internal-Trace-Id:
      - 68fb96ab00000000260f4f65e54c6a83
      X-Amz-Apigw-Id:
      - S9R6yETrIAMEWYw=
      Etag:
      - W/"11d-z+HoGAEWLPgUUEUzLZEmo+CnlCw"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-delete-func","id":"ebd7c3c7-789c-4f23-9067-8db6ad6e0cd4","created":"2025-10-24T15:09:31.284Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196022026883550"}'
  recorded_at: Fri, 24 Oct 2025 15:09:31 GMT
recorded_with: VCR 6.3.1
