---
http_interactions:
- request:
    method: get
    uri: https://api.braintrust.dev/v1/function/eaa1d7fa-ddfc-487e-bdf1-8c83c9e5e216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 999f045e-52bf-431a-ab23-4231e84c599b
      X-Bt-Internal-Trace-Id:
      - 69611d45000000001d09e277b8e05ffb
      X-Amz-Apigw-Id:
      - W7GC7HqrIAMEBEQ=
      Etag:
      - W/"28a-o+EOs8vizZBvL0+kfKefNOgxPc0"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"eaa1d7fa-ddfc-487e-bdf1-8c83c9e5e216","_xact_id":"1000196458014160880","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"test-ruby-sdk-get-func","slug":"test-ruby-sdk-get-func","description":null,"created":"2026-01-09T15:06:49.196Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a helpful assistant."},{"role":"user","content":"Hello {{name}}"}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0.7}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}'
  recorded_at: Fri, 09 Jan 2026 15:22:45 GMT
- request:
    method: delete
    uri: https://api.braintrust.dev/v1/function/eaa1d7fa-ddfc-487e-bdf1-8c83c9e5e216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b46eee9c-fcb5-4035-897c-fae539611a0e
      X-Bt-Internal-Trace-Id:
      - 69611d47000000005cc7572f079de445
      X-Amz-Apigw-Id:
      - W7GDKGoaoAMEg5g=
      Etag:
      - W/"11a-P+3A9L3licMg9JgEGiq9t1aKens"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-get-func","id":"eaa1d7fa-ddfc-487e-bdf1-8c83c9e5e216","created":"2026-01-09T15:22:47.106Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196458076954719"}'
  recorded_at: Fri, 09 Jan 2026 15:22:47 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - MzQ5OGZkZjYtMmJlOC00NDY2LWE1MzAtODY5N2ViZjI5YzFl
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::vhxvp-1767972389112-bcc3207d4501
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 09 Jan 2026 15:26:29 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - df8c7dca-c9f8-4554-bc08-c4003c5faaaa
      X-Bt-Internal-Trace-Id:
      - 69611e25000000002d2feed003d7844a
      X-Amz-Apigw-Id:
      - W7Gl4FNZIAMET2Q=
      Etag:
      - W/"10d-jHt6t+s3DyzhLf+d20I2XKvIjGQ"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","description":null,"created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}]}'
  recorded_at: Fri, 09 Jan 2026 15:26:29 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-get-func","name":"test-ruby-sdk-get-func","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a helpful assistant."},{"role":"user","content":"Hello {{name}}"}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0.7}}}[...]
[...]
- request:
    method: delete
    uri: https://api.braintrust.dev/v1/function/9c763edd-0474-4034-8869-8bbe307fcd32
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d1b4a95f-c311-4b54-8332-a8d893a10e09
      X-Bt-Internal-Trace-Id:
      - 69611e260000000011fd6ec6f9aad01f
      X-Amz-Apigw-Id:
      - W7GmDGdooAMERvQ=
      Etag:
      - W/"11a-G6BnvsesfXj6YiI3nDotOemHZaM"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-get-func","id":"9c763edd-0474-4034-8869-8bbe307fcd32","created":"2026-01-09T15:26:30.444Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196458091561660"}'
  recorded_at: Fri, 09 Jan 2026 15:26:30 GMT
recorded_with: VCR 6.4.0
