---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - MmYwZmFiMWQtNjg4NC00YTE2LWE5OTItMzE0ZTg3MGFhNTNh
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::ghmxj-1770136388123-be3269ddef3e
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Tue, 03 Feb 2026 16:33:08 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 458bdb37-c7dd-435d-8b11-880cf64b9c4e
      X-Bt-Internal-Trace-Id:
      - 69822344000000003d66a0003e2d8e5c
      X-Amz-Apigw-Id:
      - YNpywFagoAMEUiw=
      Etag:
      - W/"10d-SEV8zdYyFxsGQVbFPF9yW/SqrIE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Tue, 03 Feb 2026 16:33:08 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-get-version","name":"test-ruby-sdk-get-version","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Version
        test message"}]},"options":{"model":"gpt-4o-mini"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 96c75162-20f9-4e1c-be0d-782d3f07547c
      X-Bt-Internal-Trace-Id:
      - 698223440000000036800c79695f4502
      X-Amz-Apigw-Id:
      - YNpyyEd4IAMEr3g=
      Etag:
      - W/"1d5-EXDd/m5R7AuOv8m7Q9If7CqJm/0"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-get-version","name":"test-ruby-sdk-get-version","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Version
        test message"}]},"options":{"model":"gpt-4o-mini"}},"id":"51619c9a-c450-4532-9be2-ddc07f667f88","created":"2026-02-03T16:33:08.808Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196599911306390"}'
  recorded_at: Tue, 03 Feb 2026 16:33:09 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function/51619c9a-c450-4532-9be2-ddc07f667f88?version=1000196599911306390
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - fc2331fc-7760-421d-8ef5-81a6844478cb
      X-Bt-Internal-Trace-Id:
      - 6982234500000000437008e428860d4c
      X-Amz-Apigw-Id:
      - YNpy5H8HIAMEUxQ=
      Etag:
      - W/"23e-1wXcVKhMbpJMjZHunom3G8oHbyY"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"51619c9a-c450-4532-9be2-ddc07f667f88","_xact_id":"1000196599911306390","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-get-version","slug":"test-ruby-sdk-get-version","description":null,"created":"2026-02-03T16:33:08.808Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Version
        test message"}]},"options":{"model":"gpt-4o-mini"}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}'
  recorded_at: Tue, 03 Feb 2026 16:33:09 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/function/51619c9a-c450-4532-9be2-ddc07f667f88
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 9750ea43-9ce6-47a8-a4a3-7b33062e464b
      X-Bt-Internal-Trace-Id:
      - 69822345000000003e5cfec1015329e3
      X-Amz-Apigw-Id:
      - YNpy-Gx4oAMEh7g=
      Etag:
      - W/"11d-TXf4dI6R04Mz+mUFVNDns6262HQ"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-get-version","id":"51619c9a-c450-4532-9be2-ddc07f667f88","created":"2026-02-03T16:33:10.053Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_object_delete":true,"_xact_id":"1000196599911439840"}'
  recorded_at: Tue, 03 Feb 2026 16:33:10 GMT
recorded_with: VCR 6.4.0
