---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - OWE1YzU2NWEtNTIzMi00ZjczLWIxNGItZjY5NGRlNWRiN2Vi
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::mpd2g-1761318569084-7b303875f326
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:09:29 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/function?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 8fe6b59d-946f-414f-8d64-494ffa894fc5
      X-Bt-Internal-Trace-Id:
      - 68fb96a90000000072924a7b04d0a543
      X-Amz-Apigw-Id:
      - S9R6gEt3IAMEqsA=
      Etag:
      - W/"55c5d-Rv+hOkKsNg5FTe+UmOVVVlyylbM"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"d7669acd-3a20-4698-b553-f20cb020108f","_xact_id":"1000196022023508949","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"test-ruby-sdk-eval-scorer","slug":"test-ruby-sdk-eval-scorer","description":null,"created":"2025-10-24T15:08:40.014Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Evaluate if the output matches the expected value."},{"role":"user","content":"Does
        ''{{output}}'' match ''{{expected}}''? Answer ''correct'' or ''incorrect''."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0},"parser":{"type":"llm_classifier","use_cot":true,"choice_scores":{"correct":1,"incorrect":0}}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null},{"id":"c5f6b1eb-00cb-463a-aba7-71c6c9696fb0","_xact_id":"1000196022023707273","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"test-ruby-sdk-task-invoke","slug":"test-ruby-sdk-task-invoke","description":null,"created":"2025-10-24T15:08:43.131Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Say
        hello to {{input}}"}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null},{"id":"3fdd4e0b-f4b8-468f-93c0-6d87261082b2","_xact_id":"1000196022023442790","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"test-ruby-sdk-scorer","slug":"test-ruby-sdk-scorer","description":null,"created":"2025-10-24T15:08:38.905Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return a score between 0 and 1."},{"role":"user","content":"Score
        this: {{output}}. Return just a number."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null},{"id":"a11111cf-d152-45d0-ad97-80cb2035f9d9","_xact_id":"1000196022023641137","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"test-ruby-sdk-task-callable","slug":"test-ruby-sdk-task-callable","description"[...]
