---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - YTEwMmI3YjItMjNhYS00MzBhLTk3ODAtYzE4YTk5NTZhMTc1
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::tt9qk-1774987926039-89b9edf3502f
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Tue, 31 Mar 2026 20:12:06 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d06d0eae-2b84-4d3f-a6ff-f5fd74ece1fd
      X-Bt-Internal-Trace-Id:
      - 69cc2a9600000000149d35111c3e408d
      X-Amz-Apigw-Id:
      - bGuXhGmSoAMEcFA=
      Etag:
      - W/"10d-SEV8zdYyFxsGQVbFPF9yW/SqrIE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Tue, 31 Mar 2026 20:12:06 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-list-by-project-id","name":"test-ruby-sdk-list-by-project-id","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Test"}]},"options":{"model":"gpt-4o-mini"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d025f347-542e-406a-9ae3-8a0e36650e28
      X-Bt-Internal-Trace-Id:
      - 69cc2a960000000060627aca2cd9d7f7
      X-Amz-Apigw-Id:
      - bGuXjFidoAMEVbg=
      Etag:
      - W/"1d3-51V+vS3uCSgY8MJB2CZA3LN4AYQ"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-list-by-project-id","name":"test-ruby-sdk-list-by-project-id","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Test"}]},"options":{"model":"gpt-4o-mini"}},"id":"de423c54-e67b-45ca-b7f6-452e06e47d99","created":"2026-03-31T20:12:06.507Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196917861683401"}'
  recorded_at: Tue, 31 Mar 2026 20:12:07 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function?project_id=ac86d18e-af78-4caf-918d-b89ad108ec67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 7cd5ec6d-345e-441c-8a1b-2c136edb3ece
      X-Bt-Internal-Trace-Id:
      - 69cc2a97000000005b5f6e717919c475
      X-Amz-Apigw-Id:
      - bGuXqGgWIAMEHxA=
      Etag:
      - W/"6bd94-QBYXubmy0fKscTK1J6G8nFs6bsA"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"de423c54-e67b-45ca-b7f6-452e06e47d99","_xact_id":"1000196917861683401","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-list-by-project-id","slug":"test-ruby-sdk-list-by-project-id","description":null,"created":"2026-03-31T20:12:06.507Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Test"}]},"options":{"model":"gpt-4o-mini"}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null},{"id":"36f38221-212b-4e41-9662-a8eab97a23af","_xact_id":"1000196810591786339","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-scorer-by-id","slug":"test-ruby-sdk-scorer-by-id","description":null,"created":"2026-03-12T21:31:56.980Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return a score between 0 and 1."},{"role":"user","content":"Score
        this: {{output}}. Return just a number."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null},{"id":"28396e20-dedd-482b-8a97-7a6f0b63125a","_xact_id":"1000196810591854943","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-scorer-by-id-ver","slug":"test-ruby-sdk-scorer-by-id-ver","description":null,"created":"2026-03-12T21:31:58.681Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer."},{"role":"user","content":"Score: {{output}}. Return a number."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null},{"id":"c9ced8a5-26e1-4b62-b251-3c3d2010aca4","_xact_id":"1000196679567424210","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-code-scorer","slug":"test-ruby-sdk-code-scorer","description":null,"created":"2026-02-17T18:10:44.116Z","prompt_data":null,"tags":null,"metadata":null,"function_type":null,"function_data":{"data":{"code":"function
        handler({ input, output, expected }) { return 0.75; }","type":"inline","runtime_context":{"runtime":"node","version":"18"}},"type":"code"},"origin":null,"function_schema":null},{"id":"22445dcf-7fc5-4009-8348-3e6323906a0b","_xact_id":"1000196673833021428","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-scorer-string-numeric","slug":"test-ruby-sdk-scorer-string-numeric","description":null,"created":"2026-02-16T17:52:24.461Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer[...]
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/function/de423c54-e67b-45ca-b7f6-452e06e47d99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 537ff449-22da-4010-8fd4-67f13be729c8
      X-Bt-Internal-Trace-Id:
      - 69cc2a980000000020637b311f370cc0
      X-Amz-Apigw-Id:
      - bGuX7ECqoAMEYxA=
      Etag:
      - W/"124-NDfeYhWZscj7PeqvvqHhPB/0AEY"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-list-by-project-id","id":"de423c54-e67b-45ca-b7f6-452e06e47d99","created":"2026-03-31T20:12:08.828Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_object_delete":true,"_xact_id":"1000196917861819679"}'
  recorded_at: Tue, 31 Mar 2026 20:12:08 GMT
recorded_with: VCR 6.4.0
