---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - NjI0YWY0MTMtYTQ3OC00NDM4LThkOTQtNjQ3MmM1MDMwZWQx
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::mz2dk-1761317762348-1613993a5d47
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 14:56:02 GMT
recorded_with: VCR 6.3.1
