--markup markdown
--markup-provider kramdown
--output-dir doc
--readme README.md
--title "Braintrust Ruby SDK Documentation"
--protected
--no-private
--hide-warnings
lib/**/*.rb
-
README.md
CONTRIBUTING.md
