---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - OTllZTU4NGYtZmVhNy00NWQ2LTk4N2MtOWM5NDFlY2Y4MWRi
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::dhhxm-1770238939945-4bd333d28aba
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Wed, 04 Feb 2026 21:02:20 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-dataset-lazy","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"pn5e5w8hn0h1"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - MjNkNjcyMjEtMjIzOC00MWUxLWFjZjktYjM5MjVhNWM5ZGU0
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::fnljg-1770238940113-fd2bfecfa1ea
    body:
      encoding: UTF-8
      string: '{"project":{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null},"dataset":{"id":"e3cb8850-b409-4a34-a12c-89f93e5331c3","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-lazy","description":null,"created":"2026-02-04T21:02:20.204Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"url_slug":"test-ruby-sdk-dataset-lazy"},"found_existing":false}'
  recorded_at: Wed, 04 Feb 2026 21:02:20 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/dataset/e3cb8850-b409-4a34-a12c-89f93e5331c3/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"lazy-1","expected":"LAZY-1"},{"input":"lazy-2","expected":"LAZY-2"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 1f3eb747-abaf-436a-9b0b-56ad40d140e5
      X-Bt-Internal-Trace-Id:
      - 6983b3dc0000000056909d088cf32ccd
      X-Amz-Apigw-Id:
      - YRkKfFEzIAMEnZw=
      Etag:
      - W/"5b-fltfYciuLRqjr6hEaGalGnQoq68"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["3c537c61-7129-496a-b304-2e6a62dfc45b","734e8320-175f-4240-a2f8-26c42b56e8ed"]}'
  recorded_at: Wed, 04 Feb 2026 21:02:20 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/dataset?dataset_name=test-ruby-sdk-dataset-lazy&project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 503b01da-9b5a-4925-9d18-588225b81f7c
      X-Bt-Internal-Trace-Id:
      - 6983b3dc0000000007fafa80a170f0a6
      X-Amz-Apigw-Id:
      - YRkKjHpNoAMEBfA=
      Etag:
      - W/"146-qK8LiUudQSDvyStGdyQsK7lGEQU"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"e3cb8850-b409-4a34-a12c-89f93e5331c3","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-lazy","description":null,"created":"2026-02-04T21:02:20.204Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"url_slug":"test-ruby-sdk-dataset-lazy"}]}'
  recorded_at: Wed, 04 Feb 2026 21:02:20 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"e3cb8850-b409-4a34-a12c-89f93e5331c3"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 812145af-a9a3-49fd-84c9-d39181d7718a
      X-Bt-Internal-Trace-Id:
      - 6983b3dd00000000399a5d0fdf5278f4
      X-Amz-Apigw-Id:
      - YRkKmEllIAMEIvQ=
      X-Bt-Cursor:
      - aYOz3CfMAAA
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07603118354073387009","_xact_id":"1000196606632142796","audit_data":[{"_xact_id":"1000196606632142796","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-02-04T21:02:20.370Z","dataset_id":"e3cb8850-b409-4a34-a12c-89f93e5331c3","expected":"LAZY-2","facets":null,"id":"734e8320-175f-4240-a2f8-26c42b56e8ed","input":"lazy-2","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"950e3708-6c09-479a-a7ca-d1d1dbd07e0a","span_id":"950e3708-6c09-479a-a7ca-d1d1dbd07e0a","tags":null}
        {"_pagination_key":"p07603118354073387008","_xact_id":"1000196606632142796","audit_data":[{"_xact_id":"1000196606632142796","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-02-04T21:02:20.370Z","dataset_id":"e3cb8850-b409-4a34-a12c-89f93e5331c3","expected":"LAZY-1","facets":null,"id":"3c537c61-7129-496a-b304-2e6a62dfc45b","input":"lazy-1","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"f2d45fdc-5cb5-4d1d-8ec5-fa102acacdc4","span_id":"f2d45fdc-5cb5-4d1d-8ec5-fa102acacdc4","tags":null}
  recorded_at: Wed, 04 Feb 2026 21:02:21 GMT
recorded_with: VCR 6.4.0
