---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZDVjMTg3NGQtMDYxZS00MmNhLTlmMTMtZTI2YjM2NzVjMjlh
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::tcvfp-1770238941191-57b52ca4192e
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Wed, 04 Feb 2026 21:02:21 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-dataset-fetch","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6ox8ebhlcyh3"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - ZTZjZWI2NjYtMzNkZS00NDQ1LTgwMzQtMjQ5NTUyZjViZDE4
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::5d7sn-1770238941380-106b01f88323
    body:
      encoding: UTF-8
      string: '{"project":{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null},"dataset":{"id":"a6c37ef0-1722-40d5-8bfb-19bea7883aea","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-fetch","description":null,"created":"2026-02-04T21:02:21.444Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"url_slug":"test-ruby-sdk-dataset-fetch"},"found_existing":false}'
  recorded_at: Wed, 04 Feb 2026 21:02:21 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/dataset/a6c37ef0-1722-40d5-8bfb-19bea7883aea/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"fetch-test","expected":"FETCH-TEST"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 7aad9745-b75c-4d4c-b605-13678d423f9c
      X-Bt-Internal-Trace-Id:
      - 6983b3dd000000007521b749869bba4b
      X-Amz-Apigw-Id:
      - YRkKrEusoAMEVfA=
      Etag:
      - W/"34-VSm8tDVY1XsOwsbproLq4jbikl4"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["5c987495-5126-4d26-91ba-44bd0900d979"]}'
  recorded_at: Wed, 04 Feb 2026 21:02:21 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/dataset?dataset_name=test-ruby-sdk-dataset-fetch&project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 46d181af-b9b3-42ea-a643-b0dd83bb4e82
      X-Bt-Internal-Trace-Id:
      - 6983b3de00000000595fbce15bd4588b
      X-Amz-Apigw-Id:
      - YRkKvGFkIAMELdw=
      Etag:
      - W/"148-gd16NfVM8NL/YdTmdxzjZS4wpsM"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"a6c37ef0-1722-40d5-8bfb-19bea7883aea","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-fetch","description":null,"created":"2026-02-04T21:02:21.444Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"url_slug":"test-ruby-sdk-dataset-fetch"}]}'
  recorded_at: Wed, 04 Feb 2026 21:02:22 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"a6c37ef0-1722-40d5-8bfb-19bea7883aea"}]},"select":[{"op":"star"}],"limit":1},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 53960308-ff68-4a05-bead-6f6bf97fede4
      X-Bt-Internal-Trace-Id:
      - 6983b3de000000003e1e92d474e42938
      X-Amz-Apigw-Id:
      - YRkKyES2oAMEDeg=
      X-Bt-Cursor:
      - aYOz3TAHAAA
    body:
      encoding: ASCII-8BIT
      string: '{"_pagination_key":"p07603118358506438656","_xact_id":"1000196606632210439","audit_data":[{"_xact_id":"1000196606632210439","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-02-04T21:02:21.580Z","dataset_id":"a6c37ef0-1722-40d5-8bfb-19bea7883aea","expected":"FETCH-TEST","facets":null,"id":"5c987495-5126-4d26-91ba-44bd0900d979","input":"fetch-test","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"23316edc-60a5-4375-af53-45219361db96","span_id":"23316edc-60a5-4375-af53-45219361db96","tags":null}

        '
  recorded_at: Wed, 04 Feb 2026 21:02:22 GMT
recorded_with: VCR 6.4.0
