---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZDhjYzIxNDgtMDkzYy00YmExLWI2MDUtYTE4NDFkY2Y1YzZj
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::fjx8s-1765480186308-f7e408a5435f
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Thu, 11 Dec 2025 19:09:46 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 471239fa-87f6-4d3f-9bf7-33191c363d0f
      X-Bt-Internal-Trace-Id:
      - 693b173d0000000002fdadc9ad21b9c9
      X-Amz-Apigw-Id:
      - VcCRnE41oAMElMQ=
      Etag:
      - W/"fa-HrwmCajpdJfSgika/ZPujG7WfoY"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Thu, 11 Dec 2025 19:10:53 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-eval-task","name":"test-ruby-sdk-eval-task","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Uppercase
        this: {{input}}. Return ONLY the uppercase version, nothing else."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 2cb1beba-88e2-4eec-9370-e16353467eac
      X-Bt-Internal-Trace-Id:
      - 693b173d000000007ad423b5e7d764e2
      X-Amz-Apigw-Id:
      - VcCRqE7coAMEmGQ=
      Etag:
      - W/"223-jtBuXzTS7Jzk3eqbdrz3QXXziqM"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-eval-task","name":"test-ruby-sdk-eval-task","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Uppercase
        this: {{input}}. Return ONLY the uppercase version, nothing else."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"id":"284f8891-c3fe-41e2-af14-63c827a89462","created":"2025-12-11T19:10:53.606Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196294766839345"}'
  recorded_at: Thu, 11 Dec 2025 19:10:53 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function?project_name=ruby-sdk-test&slug=test-ruby-sdk-eval-task
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 2ee22c71-3308-44a0-bb5f-5998f5b0ffb0
      X-Bt-Internal-Trace-Id:
      - 693b17400000000065aba58b5c9add91
      X-Amz-Apigw-Id:
      - VcCSJH1vIAMEDwQ=
      Etag:
      - W/"29a-KFoTpWeb9GuA0eLM29yFza5GK3Y"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"284f8891-c3fe-41e2-af14-63c827a89462","_xact_id":"1000196294766839345","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-eval-task","slug":"test-ruby-sdk-eval-task","description":null,"created":"2025-12-11T19:10:53.606Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Uppercase
        this: {{input}}. Return ONLY the uppercase version, nothing else."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
  recorded_at: Thu, 11 Dec 2025 19:10:57 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 2d789562-0cd8-438c-87c7-738779211be4
      X-Bt-Internal-Trace-Id:
      - 693b17410000000075e6aba5675310bf
      X-Amz-Apigw-Id:
      - VcCSUFn7oAMEBVg=
      Etag:
      - W/"ec-tjqKTzXkSD9WFkzugu+08z52cpA"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Thu, 11 Dec 2025 19:10:57 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-remote-task-eval","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - cea0b737-3af5-4bf1-bfc2-e1ce8748d8e8
      X-Bt-Internal-Trace-Id:
      - 693b1741000000002d6eec051dca2216
      X-Amz-Apigw-Id:
      - VcCSXEZOIAMEvGw=
      Etag:
      - W/"193-McPgqnPT5TxWHO06duDiMEombdY"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"d12c3748-ba5d-4841-b563-bb7d07f3e9f5","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-remote-task-eval-de7b8a06","description":null,"created":"2025-12-11T19:10:58.058Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Thu, 11 Dec 2025 19:10:58 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function/284f8891-c3fe-41e2-af14-63c827a89462/invoke
    body:
      encoding: UTF-8
      string: '{"input":"hello"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bt-Used-Endpoint:
      - AZURE_DEFAULT_CREDENTIALS
      X-Amzn-Requestid:
      - c9a0b4d3-1884-4705-af25-ba3ab00d4f55
      X-Ms-Deployment-Name:
      - gpt-4o-mini
      X-Ratelimit-Remaining-Requests:
      - '2497'
      X-Ms-Region:
      - East US
      X-Ms-Rai-Invoked:
      - 'true'
      X-Bt-Cached:
      - HIT
      Azureml-Model-Session:
      - d20251210231011-628f6c5d8b8c414b
      X-Ratelimit-Limit-Tokens:
      - '250000'
      X-Ratelimit-Remaining-Tokens:
      - '249914'
      X-Bt-Function-Creds-Cached:
      - MISS
      X-Bt-Function-Meta-Cached:
      - MISS
      X-Ratelimit-Limit-Requests:
      - '2500'
    body:
      encoding: UTF-8
      string: '"HELLO."'
  recorded_at: Thu, 11 Dec 2025 19:10:59 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function/284f8891-c3fe-41e2-af14-63c827a89462/invoke
    body:
      encoding: UTF-8
      string: '{"input":"world"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bt-Used-Endpoint:
      - OPENAI_API_KEY
      X-Amzn-Requestid:
      - e64f85d0-2c1e-49f5-b6c6-002fbdda956b
      X-Ratelimit-Remaining-Requests:
      - '29999'
      Openai-Processing-Ms:
      - '336'
      X-Bt-Cached:
      - HIT
      X-Openai-Proxy-Wasm:
      - v0.1
      X-Ratelimit-Reset-Requests:
      - 2ms
      Openai-Organization:
      - braintrust-data
      X-Ratelimit-Limit-Tokens:
      - '150000000'
      X-Ratelimit-Remaining-Tokens:
      - '149999980'
      X-Bt-Function-Creds-Cached:
      - HIT
      X-Bt-Function-Meta-Cached:
      - HIT
      X-Ratelimit-Reset-Tokens:
      - 0s
      Openai-Version:
      - '2020-10-01'
      X-Ratelimit-Limit-Requests:
      - '30000'
      Openai-Project:
      - proj_wMRY6YpEiASXMxPIIcI9nQRi
    body:
      encoding: UTF-8
      string: '"WORLD."'
  recorded_at: Thu, 11 Dec 2025 19:10:59 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/experiment-comparison2?experiment_id=d12c3748-ba5d-4841-b563-bb7d07f3e9f5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 1d7d3f98-f20e-4fa3-ac90-2b3bcfcaaa9b
      X-Bt-Internal-Trace-Id:
      - 693b1743000000006c870db53ef6a13e
      X-Amz-Apigw-Id:
      - VcCSnHHHIAMEJkA=
      Etag:
      - W/"1a-DVqVcAQOxg1HFdcjY89JEuayOGw"
    body:
      encoding: ASCII-8BIT
      string: '{"scores":{},"metrics":{}}'
  recorded_at: Thu, 11 Dec 2025 19:11:00 GMT
recorded_with: VCR 6.3.1
