---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - OWRjNDAyNzktZGQ1Mi00NGRlLWJjNzktYmI4ZTI4YTQ1ZWRi
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::sf48l-1761318577764-5a87fbb48444
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:09:37 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 74dde7a5-cd10-461a-9ea4-88f3fa0708a3
      X-Bt-Internal-Trace-Id:
      - 68fb96b1000000006eb9d6fa28e1b37d
      X-Amz-Apigw-Id:
      - S9R72H1OIAMEsIA=
      Etag:
      - W/"fa-+YSPhVhMcSODQVu7iSaJULbdOe4"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}]}'
  recorded_at: Fri, 24 Oct 2025 15:09:38 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-eval-task","name":"test-ruby-sdk-eval-task","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Uppercase
        this: {{input}}. Return ONLY the uppercase version, nothing else."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 5c077309-248f-4d59-835d-1598c0f33b08
      X-Bt-Internal-Trace-Id:
      - 68fb96b2000000006da8150dee0bf7f1
      X-Amz-Apigw-Id:
      - S9R74ECkoAMEGkw=
      Etag:
      - W/"223-ipBaUnj4py2MsTNCGBYPx3mfuYc"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-eval-task","name":"test-ruby-sdk-eval-task","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Uppercase
        this: {{input}}. Return ONLY the uppercase version, nothing else."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"id":"4bf8c762-f38f-45b5-ba62-9fd9994fbb5c","created":"2025-10-24T15:09:38.141Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196022027347036"}'
  recorded_at: Fri, 24 Oct 2025 15:09:38 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/function?project_name=ruby-sdk-test&slug=test-ruby-sdk-eval-task
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f5e9ba41-8142-4b5a-9e84-87b4e1f66d2c
      X-Bt-Internal-Trace-Id:
      - 68fb96b200000000564a9d54e73a8fde
      X-Amz-Apigw-Id:
      - S9R77EuQoAMEPPA=
      Etag:
      - W/"29a-u6LJ9XSYn2ObRgTCbQk86a3esFA"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"4bf8c762-f38f-45b5-ba62-9fd9994fbb5c","_xact_id":"1000196022027347036","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"test-ruby-sdk-eval-task","slug":"test-ruby-sdk-eval-task","description":null,"created":"2025-10-24T15:09:38.141Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Uppercase
        this: {{input}}. Return ONLY the uppercase version, nothing else."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
  recorded_at: Fri, 24 Oct 2025 15:09:38 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 48dca7f8-821f-4182-898f-456112aa85bb
      X-Bt-Internal-Trace-Id:
      - 68fb96b200000000214b199f875d93a5
      X-Amz-Apigw-Id:
      - S9R8AEcRoAMEo-A=
      Etag:
      - W/"ec-ae+104VIsuTGSnPanxA+Dc4IyRE"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
  recorded_at: Fri, 24 Oct 2025 15:09:38 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-remote-task-eval","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 61808dc4-f443-40fa-be18-88390db9fea5
      X-Bt-Internal-Trace-Id:
      - 68fb96b30000000015b5068ffe631948
      X-Amz-Apigw-Id:
      - S9R8CHhooAMEsbg=
      Etag:
      - W/"191-mfh1k2yDNYiLAYSSOH1eBV7FDIA"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ebc23a05-56c8-43ad-89eb-75bd21a67ca0","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-remote-task-eval-4e7ed7fc","description":null,"created":"2025-10-24T15:09:39.153Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
  recorded_at: Fri, 24 Oct 2025 15:09:39 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/function/4bf8c762-f38f-45b5-ba62-9fd9994fbb5c/invoke
    body:
      encoding: UTF-8
      string: '{"input":"hello"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bt-Used-Endpoint:
      - OPENAI_API_KEY
      X-Amzn-Requestid:
      - 2e514414-51b0-40e5-be21-7b900b371c7c
      X-Ratelimit-Remaining-Requests:
      - '29999'
      Openai-Processing-Ms:
      - '148'
      X-Bt-Cached:
      - HIT
      X-Openai-Proxy-Wasm:
      - v0.1
      X-Ratelimit-Reset-Requests:
      - 2ms
      Openai-Organization:
      - braintrust-data
      X-Ratelimit-Limit-Tokens:
      - '150000000'
      X-Ratelimit-Remaining-Tokens:
      - '149999980'
      X-Bt-Function-Creds-Cached:
      - HIT
      X-Bt-Function-Meta-Cached:
      - MISS
      X-Ratelimit-Reset-Tokens:
      - 0s
      Openai-Version:
      - '2020-10-01'
      X-Ratelimit-Limit-Requests:
      - '30000'
      Openai-Project:
      - proj_wMRY6YpEiASXMxPIIcI9nQRi
    body:
      encoding: UTF-8
      string: '"HELLO."'
  recorded_at: Fri, 24 Oct 2025 15:09:39 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/function/4bf8c762-f38f-45b5-ba62-9fd9994fbb5c/invoke
    body:
      encoding: UTF-8
      string: '{"input":"world"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bt-Used-Endpoint:
      - OPENAI_API_KEY
      X-Amzn-Requestid:
      - 4d0ef6aa-da8d-467a-9f0d-c46d37bc47e5
      X-Ratelimit-Remaining-Requests:
      - '29999'
      Openai-Processing-Ms:
      - '326'
      X-Bt-Cached:
      - HIT
      X-Openai-Proxy-Wasm:
      - v0.1
      X-Ratelimit-Reset-Requests:
      - 2ms
      Openai-Organization:
      - braintrust-data
      X-Ratelimit-Limit-Tokens:
      - '150000000'
      X-Ratelimit-Remaining-Tokens:
      - '149999980'
      X-Bt-Function-Creds-Cached:
      - HIT
      X-Bt-Function-Meta-Cached:
      - HIT
      X-Ratelimit-Reset-Tokens:
      - 0s
      Openai-Version:
      - '2020-10-01'
      X-Ratelimit-Limit-Requests:
      - '30000'
      Openai-Project:
      - proj_wMRY6YpEiASXMxPIIcI9nQRi
    body:
      encoding: UTF-8
      string: '"WORLD."'
  recorded_at: Fri, 24 Oct 2025 15:09:39 GMT
recorded_with: VCR 6.3.1
