---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - OWJmZGRjMDctNmJiYi00Mjk1LWI1YzUtNzUxOGNkYjE2YjY1
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::5qtgc-1765480329667-85cf8d5c8c1b
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Thu, 11 Dec 2025 19:12:09 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 6723bf91-0711-450e-9f3f-1b277f3aa7f3
      X-Bt-Internal-Trace-Id:
      - 693b178900000000738ef5a42fd81177
      X-Amz-Apigw-Id:
      - VcCdmEHLIAMEUkg=
      Etag:
      - W/"fa-HrwmCajpdJfSgika/ZPujG7WfoY"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Thu, 11 Dec 2025 19:12:10 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-eval-scorer","name":"test-ruby-sdk-eval-scorer","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Evaluate if the output matches the expected value."},{"role":"user","content":"Does
        ''{{output}}'' match ''{{expected}}''? Answer ''correct'' or ''incorrect''."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0},"parser":{"type":"llm_classifier","use_cot":true,"choice_scores":{"correct":1.0,"incorrect":0.0}}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - a4cda943-fc9c-4cd3-b907-073cbb446d21
      X-Bt-Internal-Trace-Id:
      - 693b178a000000000c3a65fc19c29000
      X-Amz-Apigw-Id:
      - VcCdrGkBIAMEFvA=
      Etag:
      - W/"2e5-JGbx0+Sr9TQHDIsMqp7ZVaqXOqk"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-eval-scorer","name":"test-ruby-sdk-eval-scorer","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Evaluate if the output matches the expected value."},{"role":"user","content":"Does
        ''{{output}}'' match ''{{expected}}''? Answer ''correct'' or ''incorrect''."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0},"parser":{"type":"llm_classifier","use_cot":true,"choice_scores":{"correct":1,"incorrect":0}}}},"id":"c79dc30e-6eba-4a6d-95ed-e12bebe54d9b","created":"2025-12-11T19:12:10.507Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196294771873884"}'
  recorded_at: Thu, 11 Dec 2025 19:12:11 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function?project_name=ruby-sdk-test&slug=test-ruby-sdk-eval-scorer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d71fdf5d-280a-4921-88a5-0a93a5fa7761
      X-Bt-Internal-Trace-Id:
      - 693b178b00000000696d85f362f9be3c
      X-Amz-Apigw-Id:
      - VcCdzEoNIAMEAlQ=
      Etag:
      - W/"35c-+RVu3hfbb49qOZiIlEA2vuRxTk8"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"c79dc30e-6eba-4a6d-95ed-e12bebe54d9b","_xact_id":"1000196294771873884","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-eval-scorer","slug":"test-ruby-sdk-eval-scorer","description":null,"created":"2025-12-11T19:12:10.507Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Evaluate if the output matches the expected value."},{"role":"user","content":"Does
        ''{{output}}'' match ''{{expected}}''? Answer ''correct'' or ''incorrect''."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0},"parser":{"type":"llm_classifier","use_cot":true,"choice_scores":{"correct":1,"incorrect":0}}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
  recorded_at: Thu, 11 Dec 2025 19:12:11 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - fcb9c044-4e5b-448c-9ec0-708eb8510c46
      X-Bt-Internal-Trace-Id:
      - 693b178b0000000015a9f755181ca82c
      X-Amz-Apigw-Id:
      - VcCd5GgxIAMEngA=
      Etag:
      - W/"ec-tjqKTzXkSD9WFkzugu+08z52cpA"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Thu, 11 Dec 2025 19:12:11 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-remote-scorer-eval","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 35e07d51-4f0e-42b7-a3f0-f31b5aa491e6
      X-Bt-Internal-Trace-Id:
      - 693b178b000000001b3424863a65d9e2
      X-Amz-Apigw-Id:
      - VcCd7HxEIAMEvGw=
      Etag:
      - W/"195-3QAI5G6Px+CzyHASrk0FxUNN560"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"902f477a-efb9-4f5b-a94e-057943d787cc","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-remote-scorer-eval-4fa91e80","description":null,"created":"2025-12-11T19:12:12.072Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Thu, 11 Dec 2025 19:12:12 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function/c79dc30e-6eba-4a6d-95ed-e12bebe54d9b/invoke
    body:
      encoding: UTF-8
      string: '{"input":{"input":"hello","expected":"HELLO","output":"HELLO","metadata":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bt-Used-Endpoint:
      - AZURE_DEFAULT_CREDENTIALS
      X-Amzn-Requestid:
      - 88a2ac39-6e3b-46a1-ad85-af8d6140ee4f
      X-Ms-Deployment-Name:
      - gpt-4o-mini
      X-Ratelimit-Remaining-Requests:
      - '2499'
      X-Ms-Region:
      - East US
      X-Ms-Rai-Invoked:
      - 'true'
      X-Bt-Cached:
      - HIT
      Azureml-Model-Session:
      - d20251210231011-628f6c5d8b8c414b
      X-Ratelimit-Limit-Tokens:
      - '250000'
      X-Ratelimit-Remaining-Tokens:
      - '249966'
      X-Bt-Function-Creds-Cached:
      - HIT
      X-Bt-Function-Meta-Cached:
      - MISS
      X-Ratelimit-Limit-Requests:
      - '2500'
    body:
      encoding: UTF-8
      string: '"correct"'
  recorded_at: Thu, 11 Dec 2025 19:12:12 GMT
[...]
- request:
    method: get
    uri: https://staging-api.braintrust.dev/experiment-comparison2?experiment_id=902f477a-efb9-4f5b-a94e-057943d787cc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b3d8ac6f-c77e-4f8a-8b5b-9ea8bf38d2be
      X-Bt-Internal-Trace-Id:
      - 693b178d000000005a3ca3016c2a683a
      X-Amz-Apigw-Id:
      - VcCeGEY2oAMEdhQ=
      Etag:
      - W/"1a-DVqVcAQOxg1HFdcjY89JEuayOGw"
    body:
      encoding: ASCII-8BIT
      string: '{"scores":{},"metrics":{}}'
  recorded_at: Thu, 11 Dec 2025 19:12:13 GMT
recorded_with: VCR 6.3.1
