---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - Njk5NjgwZmQtNzNhNy00MzUzLTkyNzEtYjRkMDNiZWVjNGRm
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::msnrv-1771739518567-aa6c2fc531f9
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Sun, 22 Feb 2026 05:51:58 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function/00000000-0000-0000-0000-000000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - efb8f5cf-1bec-4145-8952-05192a8bb7b2
      X-Bt-Internal-Trace-Id:
      - 699a997e0000000073a84bd8cf6a87a8
      X-Amz-Apigw-Id:
      - ZKzr2FoNoAMEdDA=
      Etag:
      - W/"13d-BEQPUUIhpatGnj5v6nNIUfHas9s"
    body:
      encoding: ASCII-8BIT
      string: '{"Code":"BadRequestError","Message":"Function does not exist or you
        do not have access [user_email=david.elner@braintrustdata.com] [user_org=braintrustdata.com]
        [timestamp=1771739518.789]","InternalTraceId":"699a997e0000000073a84bd8cf6a87a8","Path":"/v1/function/00000000-0000-0000-0000-000000000000","Service":"api"}'
  recorded_at: Sun, 22 Feb 2026 05:51:58 GMT
recorded_with: VCR 6.4.0
