---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZGJkYzE1NzUtOTA5OS00NTY4LThjZmQtMzUwMDI5YzUwOGMy
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::mqs9g-1771351948563-d223090365c4
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Tue, 17 Feb 2026 18:12:28 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 374bf42e-053f-498f-9a34-a9e6978b7939
      X-Bt-Internal-Trace-Id:
      - 6994af8c0000000008a4638485c14527
      X-Amz-Apigw-Id:
      - Y8BeFEEqIAMEItA=
      Etag:
      - W/"10d-SEV8zdYyFxsGQVbFPF9yW/SqrIE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Tue, 17 Feb 2026 18:12:29 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-structured","name":"test-ruby-sdk-scorer-structured","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Evaluate if the output matches the expected value."},{"role":"user","content":"Does
        ''{{output}}'' match ''{{expected}}''? Answer ''correct'' or ''incorrect''."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"parser":{"type":"llm_classifier","use_cot":true,"choice_scores":{"correct":1.0,"incorrect":0.0}}},"function_type":"scorer"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - e7dd0cdc-a5e8-4587-b1ee-cdcb443169e5
      X-Bt-Internal-Trace-Id:
      - 6994af8d0000000023c944255646bff0
      X-Amz-Apigw-Id:
      - Y8BeHFpDIAMEqpw=
      Etag:
      - W/"30a-DZ9F9e25Om0PsuR4ljmPffQpQzo"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-structured","name":"test-ruby-sdk-scorer-structured","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Evaluate if the output matches the expected value."},{"role":"user","content":"Does
        ''{{output}}'' match ''{{expected}}''? Answer ''correct'' or ''incorrect''."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"parser":{"type":"llm_classifier","use_cot":true,"choice_scores":{"correct":1,"incorrect":0}}},"function_type":"scorer","id":"2131402b-d1f6-4614-b723-96590e2d6167","created":"2026-02-17T18:12:29.305Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196679574311003"}'
  recorded_at: Tue, 17 Feb 2026 18:12:29 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function?project_name=ruby-sdk-test&slug=test-ruby-sdk-scorer-structured
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 41f77cd8-250e-491a-9a23-343bad17a36f
      X-Bt-Internal-Trace-Id:
      - 6994af8d00000000484120975c8262ff
      X-Amz-Apigw-Id:
      - Y8BeOEkroAMEdAw=
      Etag:
      - W/"36c-C0ckg7bmtuDeMvuYX50xa1Ko2wE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"2131402b-d1f6-4614-b723-96590e2d6167","_xact_id":"1000196679574311003","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-scorer-structured","slug":"test-ruby-sdk-scorer-structured","description":null,"created":"2026-02-17T18:12:29.305Z","prompt_data":{"parser":{"type":"llm_classifier","use_cot":true,"choice_scores":{"correct":1,"incorrect":0}},"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Evaluate if the output matches the expected value."},{"role":"user","content":"Does
        ''{{output}}'' match ''{{expected}}''? Answer ''correct'' or ''incorrect''."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"tags":null,"metadata":null,"function_type":"scorer","function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
  recorded_at: Tue, 17 Feb 2026 18:12:30 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function/2131402b-d1f6-4614-b723-96590e2d6167/invoke
    body:
      encoding: UTF-8
      string: '{"input":{"input":"hello","expected":"HELLO","output":"HELLO","metadata":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bt-Used-Endpoint:
      - OPENAI_API_KEY
      X-Amzn-Requestid:
      - fc221f80-b1c3-45a1-a6fe-bb87f8667046
      X-Ratelimit-Remaining-Requests:
      - '29999'
      Openai-Processing-Ms:
      - '1206'
      X-Bt-Cached:
      - HIT
      X-Openai-Proxy-Wasm:
      - v0.1
      X-Ratelimit-Reset-Requests:
      - 2ms
      Openai-Organization:
      - braintrust-data
      X-Ratelimit-Limit-Tokens:
      - '150000000'
      X-Ratelimit-Remaining-Tokens:
      - '149999965'
      X-Bt-Function-Creds-Cached:
      - HIT
      X-Bt-Function-Meta-Cached:
      - MISS
      X-Ratelimit-Reset-Tokens:
      - 0s
      Openai-Version:
      - '2020-10-01'
      X-Ratelimit-Limit-Requests:
      - '30000'
      Openai-Project:
      - proj_wMRY6YpEiASXMxPIIcI9nQRi
    body:
      encoding: UTF-8
      string: '{"name":"test-ruby-sdk-scorer-structured","score":1,"metadata":{"rationale":"The
        two strings ''HELLO'' and ''HELLO'' are identical. They have the same characters
        in the same order, and there are no differences in case or spacing. Therefore,
        they match perfectly.","choice":"correct"}}'
  recorded_at: Tue, 17 Feb 2026 18:12:30 GMT
recorded_with: VCR 6.4.0
