---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - YTZiNTUyMzYtNDNhZC00NWU3LTk4NjYtMzAyN2NlNTQyNGMw
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::7jpbj-1771261481718-3e2542b1ec74
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Mon, 16 Feb 2026 17:04:42 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d3a24dc6-be86-4c83-8a32-339954bfe20e
      X-Bt-Internal-Trace-Id:
      - 69934e2a00000000026225b34cab90a8
      X-Amz-Apigw-Id:
      - Y4kmpHt9oAMEcqg=
      Etag:
      - W/"10d-SEV8zdYyFxsGQVbFPF9yW/SqrIE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Mon, 16 Feb 2026 17:04:42 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-structured","name":"test-ruby-sdk-scorer-structured","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Evaluate if the output matches the expected value."},{"role":"user","content":"Does
        ''{{output}}'' match ''{{expected}}''? Answer ''correct'' or ''incorrect''."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0},"parser":{"type":"llm_classifier","use_cot":true,"choice_scores":{"correct":1.0,"incorrect":0.0}}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d7b9724c-47d5-40d0-9097-28d453fc65b9
      X-Bt-Internal-Trace-Id:
      - 69934e2a000000007dd3dfcefa768d9e
      X-Amz-Apigw-Id:
      - Y4kmrEd7oAMEOZg=
      Etag:
      - W/"2f1-DSQAbWsQ8DB7MYYDzJwU9Z8tdpU"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-structured","name":"test-ruby-sdk-scorer-structured","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Evaluate if the output matches the expected value."},{"role":"user","content":"Does
        ''{{output}}'' match ''{{expected}}''? Answer ''correct'' or ''incorrect''."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0},"parser":{"type":"llm_classifier","use_cot":true,"choice_scores":{"correct":1,"incorrect":0}}}},"id":"2131402b-d1f6-4614-b723-96590e2d6167","created":"2026-02-16T17:04:42.480Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196673645460597"}'
  recorded_at: Mon, 16 Feb 2026 17:04:42 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function?project_name=ruby-sdk-test&slug=test-ruby-sdk-scorer-structured
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c74e821d-63ad-40f8-ab13-6866903a7b48
      X-Bt-Internal-Trace-Id:
      - 69934e2a00000000518f07980e1d1b7b
      X-Amz-Apigw-Id:
      - Y4kmuG2AoAMEvMw=
      Etag:
      - W/"368-AEXp19RqdcBXPGFChDNVHptQINI"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"2131402b-d1f6-4614-b723-96590e2d6167","_xact_id":"1000196673645460597","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-scorer-structured","slug":"test-ruby-sdk-scorer-structured","description":null,"created":"2026-02-16T17:04:42.480Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Evaluate if the output matches the expected value."},{"role":"user","content":"Does
        ''{{output}}'' match ''{{expected}}''? Answer ''correct'' or ''incorrect''."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0},"parser":{"type":"llm_classifier","use_cot":true,"choice_scores":{"correct":1,"incorrect":0}}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
  recorded_at: Mon, 16 Feb 2026 17:04:43 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function/2131402b-d1f6-4614-b723-96590e2d6167/invoke
    body:
      encoding: UTF-8
      string: '{"input":{"input":"hello","expected":"HELLO","output":"HELLO","metadata":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bt-Used-Endpoint:
      - OPENAI_API_KEY
      X-Amzn-Requestid:
      - 59a44cd2-442f-40f5-9096-d71a5e0bc7d2
      X-Ratelimit-Remaining-Requests:
      - '29999'
      Openai-Processing-Ms:
      - '158'
      X-Bt-Cached:
      - HIT
      X-Openai-Proxy-Wasm:
      - v0.1
      X-Ratelimit-Reset-Requests:
      - 2ms
      Openai-Organization:
      - braintrust-data
      X-Ratelimit-Limit-Tokens:
      - '150000000'
      X-Ratelimit-Remaining-Tokens:
      - '149999965'
      X-Bt-Function-Creds-Cached:
      - HIT
      X-Bt-Function-Meta-Cached:
      - MISS
      X-Ratelimit-Reset-Tokens:
      - 0s
      Openai-Version:
      - '2020-10-01'
      X-Ratelimit-Limit-Requests:
      - '30000'
      Openai-Project:
      - proj_wMRY6YpEiASXMxPIIcI9nQRi
    body:
      encoding: UTF-8
      string: '"correct"'
  recorded_at: Mon, 16 Feb 2026 17:04:43 GMT
recorded_with: VCR 6.4.0
