---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - YTcxNGUxNjktZjZjNC00YTc3LWI2YmYtMTdlODU0Njg5NDJi
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::sr2xt-1761318579926-6bcf03f76a71
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:09:40 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 0ba39c6c-6f89-43b1-997a-6bbb88afd59d
      X-Bt-Internal-Trace-Id:
      - 68fb96b400000000485e01d5b2dfe1e0
      X-Amz-Apigw-Id:
      - S9R8MFacIAMEmgQ=
      Etag:
      - W/"fa-+YSPhVhMcSODQVu7iSaJULbdOe4"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}]}'
  recorded_at: Fri, 24 Oct 2025 15:09:40 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-scorer","name":"test-ruby-sdk-scorer","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return a score between 0 and 1."},{"role":"user","content":"Score
        this: {{output}}. Return just a number."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 1948044a-9054-462c-aaec-d00bf084cec0
      X-Bt-Internal-Trace-Id:
      - 68fb96b400000000304deac52be7ec83
      X-Amz-Apigw-Id:
      - S9R8OEEyIAMEGAQ=
      Etag:
      - W/"24f-zRMx0QIKkLfqVLoc3Cupfeh82No"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-scorer","name":"test-ruby-sdk-scorer","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return a score between 0 and 1."},{"role":"user","content":"Score
        this: {{output}}. Return just a number."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"id":"3fdd4e0b-f4b8-468f-93c0-6d87261082b2","created":"2025-10-24T15:09:40.355Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196022027479500"}'
  recorded_at: Fri, 24 Oct 2025 15:09:40 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/function?project_name=ruby-sdk-test&slug=test-ruby-sdk-scorer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 1cd2c2c3-fa7f-45f4-945c-ed58b39dc820
      X-Bt-Internal-Trace-Id:
      - 68fb96b400000000209b505b47b9d286
      X-Amz-Apigw-Id:
      - S9R8SHsioAMEsig=
      Etag:
      - W/"2c6-ooCl5/oMR912EQV1b1anz0JE044"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"3fdd4e0b-f4b8-468f-93c0-6d87261082b2","_xact_id":"1000196022027479500","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"test-ruby-sdk-scorer","slug":"test-ruby-sdk-scorer","description":null,"created":"2025-10-24T15:09:40.355Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return a score between 0 and 1."},{"role":"user","content":"Score
        this: {{output}}. Return just a number."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
  recorded_at: Fri, 24 Oct 2025 15:09:41 GMT
recorded_with: VCR 6.3.1
