---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - MmE3ZTZiMWItZDAwMC00NGQ1LWE5MTctMGJjZTcwMjczN2Iz
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::z9vg4-1771261477235-33e183d0d0ea
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Mon, 16 Feb 2026 17:04:37 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b3561347-b71c-4100-afba-e7f845f46c52
      X-Bt-Internal-Trace-Id:
      - 69934e250000000073548a11ca104e36
      X-Amz-Apigw-Id:
      - Y4kl7HbEoAMECIg=
      Etag:
      - W/"10d-SEV8zdYyFxsGQVbFPF9yW/SqrIE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Mon, 16 Feb 2026 17:04:37 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-numeric","name":"test-ruby-sdk-scorer-numeric","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return ONLY a number between 0 and 1."},{"role":"user","content":"Score
        how well ''{{output}}'' matches ''{{expected}}''. Return just a decimal number
        like 1.0 or 0.5"}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d6789c7b-3211-44fa-9c7c-fbf3e4ad632d
      X-Bt-Internal-Trace-Id:
      - 69934e25000000003a97e27902b9d406
      X-Amz-Apigw-Id:
      - Y4kl-EgWIAMEFAg=
      Etag:
      - W/"298-shL+RuvXWndET7/uvq4ofj576as"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-numeric","name":"test-ruby-sdk-scorer-numeric","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return ONLY a number between 0 and 1."},{"role":"user","content":"Score
        how well ''{{output}}'' matches ''{{expected}}''. Return just a decimal number
        like 1.0 or 0.5"}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"id":"e6dbd7a8-470a-4a50-9e91-4517dd70afb9","created":"2026-02-16T17:04:37.922Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196673645125336"}'
  recorded_at: Mon, 16 Feb 2026 17:04:38 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function?project_name=ruby-sdk-test&slug=test-ruby-sdk-scorer-numeric
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 2f7fd1ea-97d6-48ae-9b27-a956b9f991b8
      X-Bt-Internal-Trace-Id:
      - 69934e26000000004fa77928de1a97e5
      X-Amz-Apigw-Id:
      - Y4kmDFH6IAMEjOQ=
      Etag:
      - W/"30f-J5PAsh3U+n3r2K9E2F0ViXYUwSA"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"e6dbd7a8-470a-4a50-9e91-4517dd70afb9","_xact_id":"1000196673645125336","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-scorer-numeric","slug":"test-ruby-sdk-scorer-numeric","description":null,"created":"2026-02-16T17:04:37.922Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return ONLY a number between 0 and 1."},{"role":"user","content":"Score
        how well ''{{output}}'' matches ''{{expected}}''. Return just a decimal number
        like 1.0 or 0.5"}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
  recorded_at: Mon, 16 Feb 2026 17:04:38 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function/e6dbd7a8-470a-4a50-9e91-4517dd70afb9/invoke
    body:
      encoding: UTF-8
      string: '{"input":{"input":"test","expected":"test","output":"test","metadata":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bt-Used-Endpoint:
      - OPENAI_API_KEY
      X-Amzn-Requestid:
      - 5596ae14-06c8-4ee8-b567-8a0002f6ed7c
      X-Ratelimit-Remaining-Requests:
      - '29999'
      Openai-Processing-Ms:
      - '1981'
      X-Bt-Cached:
      - HIT
      X-Openai-Proxy-Wasm:
      - v0.1
      X-Ratelimit-Reset-Requests:
      - 2ms
      Openai-Organization:
      - braintrust-data
      X-Ratelimit-Limit-Tokens:
      - '150000000'
      X-Ratelimit-Remaining-Tokens:
      - '149999962'
      X-Bt-Function-Creds-Cached:
      - HIT
      X-Bt-Function-Meta-Cached:
      - MISS
      X-Ratelimit-Reset-Tokens:
      - 0s
      Openai-Version:
      - '2020-10-01'
      X-Ratelimit-Limit-Requests:
      - '30000'
      Openai-Project:
      - proj_wMRY6YpEiASXMxPIIcI9nQRi
    body:
      encoding: UTF-8
      string: '"1.0"'
  recorded_at: Mon, 16 Feb 2026 17:04:39 GMT
recorded_with: VCR 6.4.0
