---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - YTIyODg4OTUtMTdlNC00YTYwLWEzMTktZGNkNDE1M2JiZDY2
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::g45z6-1771351843606-51e033a82293
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Tue, 17 Feb 2026 18:10:43 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 90b5ff37-b2d7-441c-a657-28c70e3c8cb4
      X-Bt-Internal-Trace-Id:
      - 6994af23000000003152bb9c4a33223c
      X-Amz-Apigw-Id:
      - Y8BNpEQyIAMEUzQ=
      Etag:
      - W/"10d-SEV8zdYyFxsGQVbFPF9yW/SqrIE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Tue, 17 Feb 2026 18:10:43 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-code-scorer","name":"test-ruby-sdk-code-scorer","function_data":{"type":"code","data":{"type":"inline","runtime_context":{"runtime":"node","version":"18"},"code":"function
        handler({ input, output, expected }) { return 0.75; }"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 997fec8a-5c87-487d-811a-9a8bc542f379
      X-Bt-Internal-Trace-Id:
      - 6994af240000000078ac41641aca3977
      X-Amz-Apigw-Id:
      - Y8BNrETcoAMEkiw=
      Etag:
      - W/"1df-DtqpiT96Wsm+5kS5+ti2DZwMIeU"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-code-scorer","name":"test-ruby-sdk-code-scorer","function_data":{"type":"code","data":{"type":"inline","runtime_context":{"runtime":"node","version":"18"},"code":"function
        handler({ input, output, expected }) { return 0.75; }"}},"id":"c9ced8a5-26e1-4b62-b251-3c3d2010aca4","created":"2026-02-17T18:10:44.116Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196679567424210"}'
  recorded_at: Tue, 17 Feb 2026 18:10:44 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function?project_name=ruby-sdk-test&slug=test-ruby-sdk-code-scorer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 9a7ffdb0-0f08-4751-9130-7b243061d0c3
      X-Bt-Internal-Trace-Id:
      - 6994af24000000004d2bff445e3f8118
      X-Amz-Apigw-Id:
      - Y8BNxExMIAMEOuQ=
      Etag:
      - W/"269-XPAoic+KDVg6+4jOljcQ3dXNPg4"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"c9ced8a5-26e1-4b62-b251-3c3d2010aca4","_xact_id":"1000196679567424210","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-code-scorer","slug":"test-ruby-sdk-code-scorer","description":null,"created":"2026-02-17T18:10:44.116Z","prompt_data":null,"tags":null,"metadata":null,"function_type":null,"function_data":{"data":{"code":"function
        handler({ input, output, expected }) { return 0.75; }","type":"inline","runtime_context":{"runtime":"node","version":"18"}},"type":"code"},"origin":null,"function_schema":null}]}'
  recorded_at: Tue, 17 Feb 2026 18:10:45 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function/c9ced8a5-26e1-4b62-b251-3c3d2010aca4/invoke
    body:
      encoding: UTF-8
      string: '{"input":{"input":"test","expected":"test","output":"test","metadata":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bt-Function-Meta-Cached:
      - MISS
      X-Amzn-Requestid:
      - 94113382-c427-4e84-8e51-5dd583f948b1
      X-Bt-Function-Creds-Cached:
      - MISS
    body:
      encoding: UTF-8
      string: '0.75'
  recorded_at: Tue, 17 Feb 2026 18:10:46 GMT
recorded_with: VCR 6.4.0
