---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - NDIxMGU0YmEtOTkxNS00NzQ4LWIwMjUtMGZkODMxM2Y0NDZk
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::hl4m4-1771736104436-2f52792bfd9d
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Sun, 22 Feb 2026 04:55:04 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - a63f0610-9472-4465-b884-4e99d0d2e2eb
      X-Bt-Internal-Trace-Id:
      - 699a8c28000000003beefc6aca37a268
      X-Amz-Apigw-Id:
      - ZKrWbGwFIAMEU0Q=
      Etag:
      - W/"10d-SEV8zdYyFxsGQVbFPF9yW/SqrIE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Sun, 22 Feb 2026 04:55:04 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-by-id-ver","name":"test-ruby-sdk-scorer-by-id-ver","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer."},{"role":"user","content":"Score: {{output}}. Return a number."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - '0993e9a7-0422-454f-a276-4c682ab8fa55'
      X-Bt-Internal-Trace-Id:
      - 699a8c290000000053a131efcea202f9
      X-Amz-Apigw-Id:
      - ZKrWeF2yIAMEXig=
      Etag:
      - W/"239-B5w/Nx7UdYP/zzT7LyMR52OoQHM"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-by-id-ver","name":"test-ruby-sdk-scorer-by-id-ver","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer."},{"role":"user","content":"Score: {{output}}. Return a number."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"id":"28396e20-dedd-482b-8a97-7a6f0b63125a","created":"2026-02-22T04:55:05.265Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196704750368412"}'
  recorded_at: Sun, 22 Feb 2026 04:55:05 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function/28396e20-dedd-482b-8a97-7a6f0b63125a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - a09c628b-5380-4412-96d6-94218fbb7a4c
      X-Bt-Internal-Trace-Id:
      - 699a8c290000000023a590a93bcb6fec
      X-Amz-Apigw-Id:
      - ZKrWmEL5IAMEFsg=
      Etag:
      - W/"2a2-id3uB7vGBhzEQFWU0mz4aRNp4Bo"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"28396e20-dedd-482b-8a97-7a6f0b63125a","_xact_id":"1000196704750368412","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-scorer-by-id-ver","slug":"test-ruby-sdk-scorer-by-id-ver","description":null,"created":"2026-02-22T04:55:05.265Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer."},{"role":"user","content":"Score: {{output}}. Return a number."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}'
  recorded_at: Sun, 22 Feb 2026 04:55:06 GMT
recorded_with: VCR 6.4.0
