---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - YjAyNDI5YjMtMjg2Mi00MDU0LTg2ZDEtNmVkN2VmYzUwMjll
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::p5pdm-1771351790528-70bec34d953e
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Tue, 17 Feb 2026 18:09:50 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 544ca73c-c941-47af-a974-01b6ee45d28d
      X-Bt-Internal-Trace-Id:
      - 6994aeee000000001c139c854458963a
      X-Amz-Apigw-Id:
      - Y8BFYEfioAMEszA=
      Etag:
      - W/"10d-SEV8zdYyFxsGQVbFPF9yW/SqrIE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Tue, 17 Feb 2026 18:09:51 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-code-scorer","name":"test-ruby-sdk-code-scorer","function_data":{"type":"code","data":{"type":"inline","runtime_context":{"runtime":"node","version":"18"},"code":"function
        handler({ input, output, expected }) { return ''0.45''; }"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - cef78547-34f6-421b-a652-a4f8cafdad5d
      X-Bt-Internal-Trace-Id:
      - 6994aeef000000002ee690cd5b2d1ebd
      X-Amz-Apigw-Id:
      - Y8BFaEgnIAMEtIA=
      Etag:
      - W/"1e1-WDSrac3xzD5NVJYywwKyaEToLSY"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-code-scorer","name":"test-ruby-sdk-code-scorer","function_data":{"type":"code","data":{"type":"inline","runtime_context":{"runtime":"node","version":"18"},"code":"function
        handler({ input, output, expected }) { return ''0.45''; }"}},"id":"c9ced8a5-26e1-4b62-b251-3c3d2010aca4","created":"2026-02-17T18:09:51.222Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196679563982419"}'
  recorded_at: Tue, 17 Feb 2026 18:09:51 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function?project_name=ruby-sdk-test&slug=test-ruby-sdk-code-scorer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 3a848c46-f7bf-4049-baf5-65746a2d0bec
      X-Bt-Internal-Trace-Id:
      - 6994aeef000000006cbbd464aa9396c7
      X-Amz-Apigw-Id:
      - Y8BFgHS8IAMEiXQ=
      Etag:
      - W/"26b-yu/eA8TLihEZaB/P2+FmOFjZOOs"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"c9ced8a5-26e1-4b62-b251-3c3d2010aca4","_xact_id":"1000196679563982419","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-code-scorer","slug":"test-ruby-sdk-code-scorer","description":null,"created":"2026-02-17T18:09:51.222Z","prompt_data":null,"tags":null,"metadata":null,"function_type":null,"function_data":{"data":{"code":"function
        handler({ input, output, expected }) { return ''0.45''; }","type":"inline","runtime_context":{"runtime":"node","version":"18"}},"type":"code"},"origin":null,"function_schema":null}]}'
  recorded_at: Tue, 17 Feb 2026 18:09:52 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function/c9ced8a5-26e1-4b62-b251-3c3d2010aca4/invoke
    body:
      encoding: UTF-8
      string: '{"input":{"input":"test","expected":"test","output":"test","metadata":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bt-Function-Meta-Cached:
      - MISS
      X-Amzn-Requestid:
      - 584098be-73e9-455f-b72c-a87cc330722c
      X-Bt-Function-Creds-Cached:
      - HIT
    body:
      encoding: UTF-8
      string: '"0.45"'
  recorded_at: Tue, 17 Feb 2026 18:09:53 GMT
recorded_with: VCR 6.4.0
