---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZTFhNjUzM2EtNzJkOS00M2U3LTg3ZDgtMmVmODUyMDY5OWVh
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::pm5qc-1771261479770-7355a7a0923f
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Mon, 16 Feb 2026 17:04:39 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 59f3ffff-6521-4e6d-b840-f27813f1c5e4
      X-Bt-Internal-Trace-Id:
      - 69934e270000000076eca904f639f8b6
      X-Amz-Apigw-Id:
      - Y4kmTGcCoAMEEkQ=
      Etag:
      - W/"10d-SEV8zdYyFxsGQVbFPF9yW/SqrIE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Mon, 16 Feb 2026 17:04:40 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-string-numeric","name":"test-ruby-sdk-scorer-string-numeric","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Always respond with exactly: 0.75"},{"role":"user","content":"Score
        this: {{output}}"}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 47980fa3-d44b-43f4-b1e3-94e9fdc52893
      X-Bt-Internal-Trace-Id:
      - 69934e28000000004cb7c6961cf5d3a2
      X-Amz-Apigw-Id:
      - Y4kmWEqVIAMEPfQ=
      Etag:
      - W/"258-PSgyzH9TYixy4RLNQ8rHOvdcv9E"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-string-numeric","name":"test-ruby-sdk-scorer-string-numeric","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Always respond with exactly: 0.75"},{"role":"user","content":"Score
        this: {{output}}"}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"id":"22445dcf-7fc5-4009-8348-3e6323906a0b","created":"2026-02-16T17:04:40.355Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196673645326044"}'
  recorded_at: Mon, 16 Feb 2026 17:04:40 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function?project_name=ruby-sdk-test&slug=test-ruby-sdk-scorer-string-numeric
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 6f60010a-bcc7-451f-bb36-0319e59ebef2
      X-Bt-Internal-Trace-Id:
      - 69934e28000000004343850117d92f79
      X-Amz-Apigw-Id:
      - Y4kmZFvOoAMEmAw=
      Etag:
      - W/"2cf-RJ00nF1urOdDv8/ad7Q/9lgNADM"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"22445dcf-7fc5-4009-8348-3e6323906a0b","_xact_id":"1000196673645326044","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-scorer-string-numeric","slug":"test-ruby-sdk-scorer-string-numeric","description":null,"created":"2026-02-16T17:04:40.355Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Always respond with exactly: 0.75"},{"role":"user","content":"Score
        this: {{output}}"}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
  recorded_at: Mon, 16 Feb 2026 17:04:41 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function/22445dcf-7fc5-4009-8348-3e6323906a0b/invoke
    body:
      encoding: UTF-8
      string: '{"input":{"input":"test","expected":"test","output":"test","metadata":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bt-Used-Endpoint:
      - OPENAI_API_KEY
      X-Amzn-Requestid:
      - 16876fb5-b29b-4d24-b618-e1d476216ada
      X-Ratelimit-Remaining-Requests:
      - '29999'
      Openai-Processing-Ms:
      - '138'
      X-Bt-Cached:
      - HIT
      X-Openai-Proxy-Wasm:
      - v0.1
      X-Ratelimit-Reset-Requests:
      - 2ms
      Openai-Organization:
      - braintrust-data
      X-Ratelimit-Limit-Tokens:
      - '150000000'
      X-Ratelimit-Remaining-Tokens:
      - '149999980'
      X-Bt-Function-Creds-Cached:
      - HIT
      X-Bt-Function-Meta-Cached:
      - MISS
      X-Ratelimit-Reset-Tokens:
      - 0s
      Openai-Version:
      - '2020-10-01'
      X-Ratelimit-Limit-Requests:
      - '30000'
      Openai-Project:
      - proj_wMRY6YpEiASXMxPIIcI9nQRi
    body:
      encoding: UTF-8
      string: '"0.75"'
  recorded_at: Mon, 16 Feb 2026 17:04:41 GMT
recorded_with: VCR 6.4.0
