---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - NTk4MGNiN2YtZjczYy00OThkLWJkZWYtYjkzMTE0NDVjNWVh
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::69krx-1771736106472-34a831588d98
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Sun, 22 Feb 2026 04:55:06 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 5eb6bd79-3903-43d4-b26b-aa7409a8e2d8
      X-Bt-Internal-Trace-Id:
      - 699a8c2a0000000006230b1710051583
      X-Amz-Apigw-Id:
      - ZKrWuGugoAMEBRQ=
      Etag:
      - W/"10d-SEV8zdYyFxsGQVbFPF9yW/SqrIE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Sun, 22 Feb 2026 04:55:06 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-by-id","name":"test-ruby-sdk-scorer-by-id","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return a score between 0 and 1."},{"role":"user","content":"Score
        this: {{output}}. Return just a number."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - ed056e10-ef97-49ab-acb8-91311fe94ac7
      X-Bt-Internal-Trace-Id:
      - 699a8c2a00000000552d9e0167fa80f5
      X-Amz-Apigw-Id:
      - ZKrWwFW2IAMEgDw=
      Etag:
      - W/"25b-0D6vKhGRRJceQomAarpMqfz+itM"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-by-id","name":"test-ruby-sdk-scorer-by-id","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return a score between 0 and 1."},{"role":"user","content":"Score
        this: {{output}}. Return just a number."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"id":"36f38221-212b-4e41-9662-a8eab97a23af","created":"2026-02-22T04:55:06.988Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196704750500551"}'
  recorded_at: Sun, 22 Feb 2026 04:55:07 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function/36f38221-212b-4e41-9662-a8eab97a23af
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 1edf0ea4-1c73-4506-99e4-5c8c6f480e54
      X-Bt-Internal-Trace-Id:
      - 699a8c2b000000003fc05461510ce5c1
      X-Amz-Apigw-Id:
      - ZKrWzHmEoAMEfag=
      Etag:
      - W/"2c4-ztrw2+d48rF+RatdNdloDeR5IKo"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"36f38221-212b-4e41-9662-a8eab97a23af","_xact_id":"1000196704750500551","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-scorer-by-id","slug":"test-ruby-sdk-scorer-by-id","description":null,"created":"2026-02-22T04:55:06.988Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You
        are a scorer. Return a score between 0 and 1."},{"role":"user","content":"Score
        this: {{output}}. Return just a number."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}'
  recorded_at: Sun, 22 Feb 2026 04:55:07 GMT
recorded_with: VCR 6.4.0
