---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - YmZiZmMwOTItODViYy00N2YyLWJhNjEtMTE3NDhmNzVkY2Jl
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::5g6bc-1761318583226-6ec342f6f92e
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:09:43 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 71be23de-e29c-44dd-b1aa-9a5d3a98dd4e
      X-Bt-Internal-Trace-Id:
      - 68fb96b7000000006c6570aa62b144be
      X-Amz-Apigw-Id:
      - S9R8tG3QoAMERzQ=
      Etag:
      - W/"fa-+YSPhVhMcSODQVu7iSaJULbdOe4"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}]}'
  recorded_at: Fri, 24 Oct 2025 15:09:43 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-task-callable","name":"test-ruby-sdk-task-callable","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Say
        hello to {{input}}"}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 8dc57cbf-56ca-4227-9b32-62ca46adf9f5
      X-Bt-Internal-Trace-Id:
      - 68fb96b70000000043695d02fceef125
      X-Amz-Apigw-Id:
      - S9R8vHpNIAMEQgA=
      Etag:
      - W/"1f6-4de7S4zji9QaPgI5GxX2f5sYkbY"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","slug":"test-ruby-sdk-task-callable","name":"test-ruby-sdk-task-callable","function_data":{"type":"prompt"},"prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Say
        hello to {{input}}"}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"id":"a11111cf-d152-45d0-ad97-80cb2035f9d9","created":"2025-10-24T15:09:43.643Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196022027678218"}'
  recorded_at: Fri, 24 Oct 2025 15:09:43 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/function?project_name=ruby-sdk-test&slug=test-ruby-sdk-task-callable
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 71017940-9b66-4756-a1be-5a5654c2401e
      X-Bt-Internal-Trace-Id:
      - 68fb96b700000000795e06e2ddf9ed3c
      X-Amz-Apigw-Id:
      - S9R8yHoxoAMEJlw=
      Etag:
      - W/"26d-IAkDUxDHXN66EGQbF8UUj3kix5c"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"a11111cf-d152-45d0-ad97-80cb2035f9d9","_xact_id":"1000196022027678218","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"test-ruby-sdk-task-callable","slug":"test-ruby-sdk-task-callable","description":null,"created":"2025-10-24T15:09:43.643Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Say
        hello to {{input}}"}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
  recorded_at: Fri, 24 Oct 2025 15:09:44 GMT
recorded_with: VCR 6.3.1
