---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZGQ1Y2M5ZmYtY2VlZS00ZWE0LWFlYWItYTc3ZDYxYzg1YjYz
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::lwt7k-1772766227238-9501d5915f37
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 06 Mar 2026 03:03:47 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b0e7856d-ad7d-4326-a92b-583122a9d35e
      X-Bt-Internal-Trace-Id:
      - 69aa44130000000007329df56cac6aa5
      X-Amz-Apigw-Id:
      - Zx-TGEXyoAMEP7Q=
      Etag:
      - W/"ff-6vJBGKzQtkVK0GxiGBpsJc6l6u8"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Fri, 06 Mar 2026 03:03:47 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","ensure_new":false,"name":"btql-empty-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 83b93c92-65f1-4635-bcba-fbfe2c7fd65f
      X-Bt-Internal-Trace-Id:
      - 69aa441300000000066d095eba0e0922
      X-Amz-Apigw-Id:
      - Zx-TIGaKoAMEAIg=
      Etag:
      - W/"17b-DiCUXZloH2K6Ce2sX1gO0aEL6NI"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1740103d-f7d0-409b-8d53-c91abe4f5e90","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"btql-empty-test","description":null,"created":"2026-03-06T02:40:58.503Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Fri, 06 Mar 2026 03:03:47 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":"SELECT * FROM experiment(''1740103d-f7d0-409b-8d53-c91abe4f5e90'')
        WHERE root_span_id = ''0000000000000000ffffffffffffffff'' AND span_attributes.type
        != ''score'' LIMIT 1000","fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - abb8ecb8-644d-4426-ac2d-be55e90a1928
      X-Bt-Brainstore-Duration-Ms:
      - '44'
      X-Bt-Api-Duration-Ms:
      - '156'
      X-Bt-Internal-Trace-Id:
      - 69aa441300000000416cf5ff9f1ea7fa
      X-Amz-Apigw-Id:
      - Zx-TLEQvIAMEc5w=
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 06 Mar 2026 03:03:48 GMT
[...]
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/experiment/1740103d-f7d0-409b-8d53-c91abe4f5e90
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 58accc6e-441f-4322-9889-3a5c0a146bfb
      X-Bt-Internal-Trace-Id:
      - 69aa44150000000023f88e0667a6385d
      X-Amz-Apigw-Id:
      - Zx-TeGwNoAMEp0A=
      Etag:
      - W/"191-1tiJc231vr43eFmPKa4R6yiMUu4"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1740103d-f7d0-409b-8d53-c91abe4f5e90","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"btql-empty-test","description":null,"created":"2026-03-06T02:40:58.503Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":"2026-03-06T03:03:49.946Z","dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Fri, 06 Mar 2026 03:03:49 GMT
recorded_with: VCR 6.4.0
