---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZmE4NmQyOGEtZGJiMi00MGIyLTk2OGUtMWQxMGRiZjAwMmYw
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::g7vc5-1772766230076-b28b14e94944
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 06 Mar 2026 03:03:50 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 27188639-7f81-4f87-86de-7d02cc588ef3
      X-Bt-Internal-Trace-Id:
      - 69aa4416000000007d7abb0758186b73
      X-Amz-Apigw-Id:
      - Zx-TiHyZoAMEgGw=
      Etag:
      - W/"ff-6vJBGKzQtkVK0GxiGBpsJc6l6u8"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Fri, 06 Mar 2026 03:03:50 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","ensure_new":false,"name":"btql-trace-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d3649340-228e-43a2-9258-63c7d2560a9b
      X-Bt-Internal-Trace-Id:
      - 69aa44160000000044fec877ffcb35ec
      X-Amz-Apigw-Id:
      - Zx-TkGftoAMEe8g=
      Etag:
      - W/"17b-SpUG00YaijHPFidNiBXpF0cKVdo"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"110afc87-6974-4976-84a7-a5fa8b800ca8","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"btql-trace-test","description":null,"created":"2026-03-06T03:03:50.535Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Fri, 06 Mar 2026 03:03:50 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":"SELECT * FROM experiment(''110afc87-6974-4976-84a7-a5fa8b800ca8'')
        WHERE root_span_id = ''4a5fdda0f881776e093341bdb782f5cc'' AND span_attributes.type
        != ''score'' LIMIT 1000","fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 1965078e-dfc9-4c6d-b1c7-63e6863fed1c
      X-Bt-Brainstore-Duration-Ms:
      - '85'
      X-Bt-Api-Duration-Ms:
      - '207'
      X-Bt-Internal-Trace-Id:
      - 69aa4417000000000ff6f609a687137b
      X-Amz-Apigw-Id:
      - Zx-TtGcuoAMEUMQ=
      X-Bt-Cursor:
      - aapEFsCeAAA
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07613972984534794241","_xact_id":"1000196772260659358","audit_data":[{"_xact_id":"1000196772260659358","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"context":null,"created":"2026-03-06T03:03:50.701Z","error":null,"expected":null,"experiment_id":"110afc87-6974-4976-84a7-a5fa8b800ca8","facets":null,"id":"5d5f8d377f9c3dec","input":null,"is_root":true,"metadata":{"braintrust.app_url":"https://www.braintrust.dev","braintrust.org":"braintrustdata.com","braintrust.parent":"experiment_id:110afc87-6974-4976-84a7-a5fa8b800ca8"},"metrics":{"end":1772766230.701538,"start":1772766230.701321},"origin":null,"output":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"4a5fdda0f881776e093341bdb782f5cc","scores":null,"span_attributes":{"name":"eval","type":"task"},"span_id":"5d5f8d377f9c3dec","span_parents":null,"tags":null}
        {"_pagination_key":"p07613972984534794240","_xact_id":"1000196772260659358","audit_data":[{"_xact_id":"1000196772260659358","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"context":null,"created":"2026-03-06T03:03:50.701Z","error":null,"expected":null,"experiment_id":"110afc87-6974-4976-84a7-a5fa8b800ca8","facets":null,"id":"fd7af2f8afc12c98","input":{"text":"hello"},"is_root":false,"metadata":{"braintrust.app_url":"https://www.braintrust.dev","braintrust.org":"braintrustdata.com","braintrust.parent":"experiment_id:110afc87-6974-4976-84a7-a5fa8b800ca8"},"metrics":{"end":1772766230.7015128,"start":1772766230.701499},"origin":null,"output":{"result":"5"},"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"4a5fdda0f881776e093341bdb782f5cc","scores":null,"span_attributes":{"name":"task","type":"task"},"span_id":"fd7af2f8afc12c98","span_parents":["5d5f8d377f9c3dec"],"tags":null}
  recorded_at: Fri, 06 Mar 2026 03:03:51 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/experiment/110afc87-6974-4976-84a7-a5fa8b800ca8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 8c2316d0-164b-415d-9985-9b8b2d5a614f
      X-Bt-Internal-Trace-Id:
      - 69aa441700000000060ccaf4b4caa276
      X-Amz-Apigw-Id:
      - Zx-TwFuAIAMElGg=
      Etag:
      - W/"191-glK5zu51+sP9YXCjiaROT28otKg"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"110afc87-6974-4976-84a7-a5fa8b800ca8","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"btql-trace-test","description":null,"created":"2026-03-06T03:03:50.535Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":"2026-03-06T03:03:51.734Z","dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Fri, 06 Mar 2026 03:03:51 GMT
recorded_with: VCR 6.4.0
