---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ODE5NDllNjctNjYyNi00ZTE2LWJkYmMtYWQzNmRmMDhjNDdh
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::5rfch-1772766232224-75104b967c85
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 06 Mar 2026 03:03:52 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"00000000-0000-0000-0000-000000000000","ensure_new":true,"name":"bad"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Amzn-Requestid:
      - dc1bc514-1311-405c-99fd-a7144b49853d
      X-Bt-Internal-Trace-Id:
      - 69aa4418000000007b37c61bed432353
      X-Amz-Apigw-Id:
      - Zx-T3Gq_oAMEQRg=
      Etag:
      - W/"fe-Ay8uLfucdsAf7WrW6YRLM2NVo8o"
    body:
      encoding: ASCII-8BIT
      string: Missing read access to project id 00000000-0000-0000-0000-000000000000,
        or the project does not exist [user_email=david.elner@braintrustdata.com]
        [user_org=braintrustdata.com] [timestamp=1772766232.485] [request_id=iad1::l5cwq-1772766232405-a69aa87761fc]
  recorded_at: Fri, 06 Mar 2026 03:03:52 GMT
recorded_with: VCR 6.4.0
