---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - Y2RkNTYxZTMtYTE0ZC00YTk4LWE5ZTctMTBkMjY2Y2ZkYjUw
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::mkpl9-1772766474977-71824f7edd7a
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 06 Mar 2026 03:07:55 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f7aa6acd-39f5-4743-87f3-c7e3fae0e4e8
      X-Bt-Internal-Trace-Id:
      - 69aa450b00000000344f2f7a63bb773e
      X-Amz-Apigw-Id:
      - Zx-50E5qIAMEkIA=
      Etag:
      - W/"ff-6vJBGKzQtkVK0GxiGBpsJc6l6u8"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Fri, 06 Mar 2026 03:07:55 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","ensure_new":false,"name":"experiments-test-idempotent"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 01ae0a69-fc02-4250-94d3-4ba4cccc4be6
      X-Bt-Internal-Trace-Id:
      - 69aa450b00000000022b6696571ecee4
      X-Amz-Apigw-Id:
      - Zx-52G4foAMEesw=
      Etag:
      - W/"187-w0Lb0ShxmVpBXQhiveS3jEvmb+I"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"37e121ea-5b66-431d-afbc-a3715e87ac52","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"experiments-test-idempotent","description":null,"created":"2026-03-06T03:07:55.554Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Fri, 06 Mar 2026 03:07:55 GMT
[...]
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/experiment/37e121ea-5b66-431d-afbc-a3715e87ac52
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 4801ad03-4dd9-41a8-bf2d-daf1346f97ed
      X-Bt-Internal-Trace-Id:
      - 69aa450b00000000491f7f08ea8ab86a
      X-Amz-Apigw-Id:
      - Zx-56FDfIAMERMA=
      Etag:
      - W/"19d-eXYo3I+sUk+21/5kBjHUG8O9RuI"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"37e121ea-5b66-431d-afbc-a3715e87ac52","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"experiments-test-idempotent","description":null,"created":"2026-03-06T03:07:55.554Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":"2026-03-06T03:07:56.104Z","dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Fri, 06 Mar 2026 03:07:56 GMT
recorded_with: VCR 6.4.0
