---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - NTU3NmY0ZjAtOGUxZi00ZjdlLTg4YjQtOGQyMmFmYjRhMWVl
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::2d5db-1772766477789-1766563ae7f0
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 06 Mar 2026 03:07:57 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 61c31d12-c914-4ee4-8c14-d1674795056c
      X-Bt-Internal-Trace-Id:
      - 69aa450d000000002758301051b3229c
      X-Amz-Apigw-Id:
      - Zx-6PFEpoAMEHKg=
      Etag:
      - W/"ff-6vJBGKzQtkVK0GxiGBpsJc6l6u8"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Fri, 06 Mar 2026 03:07:58 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","ensure_new":false,"name":"experiments-test-basic"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 5caa87b5-8e6c-4c13-a8d2-1951de0c5ed3
      X-Bt-Internal-Trace-Id:
      - 69aa450e0000000010951fba3199d8ab
      X-Amz-Apigw-Id:
      - Zx-6RFP1oAMEFkA=
      Etag:
      - W/"182-4Y6nzETOX8YwApijfwcLcNxl0rI"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"6cbbddf0-4075-4fa3-a068-85af5bead120","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"experiments-test-basic","description":null,"created":"2026-03-06T03:07:58.240Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Fri, 06 Mar 2026 03:07:58 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/experiment/6cbbddf0-4075-4fa3-a068-85af5bead120
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 1202aee2-7aa6-402c-9c25-0323cfec0506
      X-Bt-Internal-Trace-Id:
      - 69aa450e00000000611698f0fca4c2f5
      X-Amz-Apigw-Id:
      - Zx-6TG6EIAMEDlw=
      Etag:
      - W/"198-CdNdwhHO5XzzMmtLIj1KbIuyfXg"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"6cbbddf0-4075-4fa3-a068-85af5bead120","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"experiments-test-basic","description":null,"created":"2026-03-06T03:07:58.240Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":"2026-03-06T03:07:58.460Z","dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Fri, 06 Mar 2026 03:07:58 GMT
recorded_with: VCR 6.4.0
