---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - Njc1OTE0NGEtZWY0Yy00MWZlLThkZWItMjFhM2Y3Y2NhYjll
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::5ngdj-1772766476288-0c0331373fa7
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 06 Mar 2026 03:07:56 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - cec32128-d2dc-4fa0-a872-61d47fc8efe4
      X-Bt-Internal-Trace-Id:
      - 69aa450c00000000151fb04326d8e8ee
      X-Amz-Apigw-Id:
      - Zx-6AGdSoAMEfbg=
      Etag:
      - W/"ff-6vJBGKzQtkVK0GxiGBpsJc6l6u8"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Fri, 06 Mar 2026 03:07:56 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","ensure_new":false,"name":"experiments-test-tags","tags":["test","sdk"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 965912ec-4101-43cc-a86a-d3363d4d7fa4
      X-Bt-Internal-Trace-Id:
      - 69aa450c0000000036c37c69441461a6
      X-Amz-Apigw-Id:
      - Zx-6CHivoAMEhwg=
      Etag:
      - W/"18b-ZJtw1TDnPWm4z2PzctHcWfj3vKs"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"677ab67e-8ce4-4ad1-8908-5782fb2c4d63","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"experiments-test-tags","description":null,"created":"2026-03-06T03:07:56.745Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":["test","sdk"]}'
  recorded_at: Fri, 06 Mar 2026 03:07:56 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/experiment/677ab67e-8ce4-4ad1-8908-5782fb2c4d63
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - fb8b5de4-c831-493d-bc6f-eb66a2e83357
      X-Bt-Internal-Trace-Id:
      - 69aa450c0000000041d767526369f889
      X-Amz-Apigw-Id:
      - Zx-6EFilIAMELIg=
      Etag:
      - W/"1a1-MkJ/NaBpJmjArat6seKKFIZN630"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"677ab67e-8ce4-4ad1-8908-5782fb2c4d63","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"experiments-test-tags","description":null,"created":"2026-03-06T03:07:56.745Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":"2026-03-06T03:07:56.944Z","dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":["test","sdk"]}'
  recorded_at: Fri, 06 Mar 2026 03:07:56 GMT
recorded_with: VCR 6.4.0
