---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZTI4YzhhYWYtMTdlMi00ODU4LTllMzMtMTY3Yzc2YTAxMDlh
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::5dsm9-1772766232567-c6e445a7e1c5
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 06 Mar 2026 03:03:52 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 9a9c2967-b688-47a7-8e98-2e7cf43349ba
      X-Bt-Internal-Trace-Id:
      - 69aa4418000000000ddce66df573a39f
      X-Amz-Apigw-Id:
      - Zx-T7EP-IAMEAlA=
      Etag:
      - W/"ff-6vJBGKzQtkVK0GxiGBpsJc6l6u8"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Fri, 06 Mar 2026 03:03:52 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","ensure_new":false,"name":"experiments-test-create-delete"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 36e763e4-a7a5-468c-880e-1df79cedf84f
      X-Bt-Internal-Trace-Id:
      - 69aa4418000000001e3da8a86c38357f
      X-Amz-Apigw-Id:
      - Zx-T9GZBoAMEvzA=
      Etag:
      - W/"18a-mTTVB1WObwdvEY6+kyOnTyl7Tnc"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"69681222-cd01-41c8-8cf1-0d253ddb582f","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"experiments-test-create-delete","description":null,"created":"2026-03-06T03:03:52.999Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Fri, 06 Mar 2026 03:03:53 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/experiment/69681222-cd01-41c8-8cf1-0d253ddb582f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f97ea30a-6ebf-4ff7-a392-2f9f90461cfc
      X-Bt-Internal-Trace-Id:
      - 69aa44190000000023469022955c7be5
      X-Amz-Apigw-Id:
      - Zx-T_F45IAMEU5A=
      Etag:
      - W/"1a0-jPXwEZqBoS9TUTbyBxryW2Iy/7E"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"69681222-cd01-41c8-8cf1-0d253ddb582f","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"experiments-test-create-delete","description":null,"created":"2026-03-06T03:03:52.999Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":"2026-03-06T03:03:53.202Z","dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Fri, 06 Mar 2026 03:03:53 GMT
recorded_with: VCR 6.4.0
