---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - NmMyNTQ2YjYtMzQyOS00ZGRhLWExYjEtM2JkNGE4YzVmOGJk
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::92tjm-1772766477062-c78c0e1d52ef
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 06 Mar 2026 03:07:57 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 0dd94324-2028-49a4-b1a5-289c6db3698a
      X-Bt-Internal-Trace-Id:
      - 69aa450d000000001d1d0f56de4124a8
      X-Amz-Apigw-Id:
      - Zx-6IFcpIAMErdg=
      Etag:
      - W/"ff-6vJBGKzQtkVK0GxiGBpsJc6l6u8"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Fri, 06 Mar 2026 03:07:57 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","ensure_new":false,"name":"experiments-test-delete"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 60066c8b-a0d3-422c-8823-1c94e6b36931
      X-Bt-Internal-Trace-Id:
      - 69aa450d00000000079fbe084980837a
      X-Amz-Apigw-Id:
      - Zx-6KHhxIAMEbcA=
      Etag:
      - W/"183-npvIDotDIe7zJYLj902xeSJWVng"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"77fa1584-42a3-4970-90bf-121dc399cb2a","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"experiments-test-delete","description":null,"created":"2026-03-06T03:07:57.484Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Fri, 06 Mar 2026 03:07:57 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/experiment/77fa1584-42a3-4970-90bf-121dc399cb2a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - '08e59080-5154-414b-a598-72d34327bbae'
      X-Bt-Internal-Trace-Id:
      - 69aa450d00000000373ff39ff35bdddf
      X-Amz-Apigw-Id:
      - Zx-6LHsaIAMEv8A=
      Etag:
      - W/"199-2VfdNpR3CXpzdnD+ro1lKad9qnI"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"77fa1584-42a3-4970-90bf-121dc399cb2a","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"experiments-test-delete","description":null,"created":"2026-03-06T03:07:57.484Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":"2026-03-06T03:07:57.686Z","dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Fri, 06 Mar 2026 03:07:57 GMT
recorded_with: VCR 6.4.0
