---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZGZiM2E0ZDAtZDJhMi00YmIwLThlN2UtM2Y5YjdlY2VhMmEy
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::vqvw4-1761319751392-811c80a7cc72
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:29:11 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 702175e0-d1ac-41ce-baf1-ec444bde0601
      X-Bt-Internal-Trace-Id:
      - 68fb9b470000000060695691a0c77389
      X-Amz-Apigw-Id:
      - S9UzPH1IoAMEilg=
      Etag:
      - W/"ec-ae+104VIsuTGSnPanxA+Dc4IyRE"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
  recorded_at: Fri, 24 Oct 2025 15:29:11 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-experiment-update","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 33b1e4b7-0c40-4fd1-8197-273845908064
      X-Bt-Internal-Trace-Id:
      - 68fb9b4700000000481912e0e0efb6f5
      X-Amz-Apigw-Id:
      - S9UzREZIIAMEGyg=
      Etag:
      - W/"189-Z5jahuVBncyuEPbnW3KPxx7F63g"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"634c7434-901a-4491-9b1f-40ec1f567e6c","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-experiment-update-0545f357","description":null,"created":"2025-10-24T15:29:11.874Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
  recorded_at: Fri, 24 Oct 2025 15:29:11 GMT
[...]
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-experiment-update","ensure_new":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 16d5aeef-d788-49a0-984d-78be2903b3fc
      X-Bt-Internal-Trace-Id:
      - 68fb9b48000000000674f01085979fd9
      X-Amz-Apigw-Id:
      - S9UzUElRIAMEPew=
      Etag:
      - W/"180-Gl90m41ef9FU7HsMWhGgoDGj92M"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"327668a4-6f6a-4a94-ba6a-75f6fc153acc","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-experiment-update","description":null,"created":"2025-10-22T02:53:51.418Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
  recorded_at: Fri, 24 Oct 2025 15:29:12 GMT
recorded_with: VCR 6.3.1
