---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - MjNlOWM5NjMtYjI4Mi00NjE3LTgyYWQtZjlhNWRkMzgzNTMw
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::24ktk-1761319750806-1d90beaf8b42
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:29:10 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 166690fc-2f33-485a-a974-86d58cd95a00
      X-Bt-Internal-Trace-Id:
      - 68fb9b4700000000733b888f386d5335
      X-Amz-Apigw-Id:
      - S9UzKGtnoAMEBCA=
      Etag:
      - W/"ec-ae+104VIsuTGSnPanxA+Dc4IyRE"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
  recorded_at: Fri, 24 Oct 2025 15:29:11 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-experiment-basic","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - aa6e1b18-66bf-4d1f-a8ff-366090b2e16f
      X-Bt-Internal-Trace-Id:
      - 68fb9b47000000002ab14a6a1e5b2716
      X-Amz-Apigw-Id:
      - S9UzME-FIAMEP0A=
      Etag:
      - W/"191-On0XjF7uFbfqytyRVsgmFGIGL7Y"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"d4cf81c2-23b2-4663-81d6-8e66731c2d65","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-experiment-basic-cda464ef","description":null,"created":"2025-10-24T15:29:11.296Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
  recorded_at: Fri, 24 Oct 2025 15:29:11 GMT
recorded_with: VCR 6.3.1
