---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - NGZjMWQyYWUtYzNmZS00ZGMwLWFhNmYtMzYxOGQyNTFlZGY0
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::kzz4p-1761319752245-e12beb0c5e82
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:29:12 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - e4a81069-6752-4fb5-bd85-5c2c07804005
      X-Bt-Internal-Trace-Id:
      - 68fb9b48000000000df6f36f86f6d217
      X-Amz-Apigw-Id:
      - S9UzXH4HIAMEicQ=
      Etag:
      - W/"ec-ae+104VIsuTGSnPanxA+Dc4IyRE"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
  recorded_at: Fri, 24 Oct 2025 15:29:12 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-experiment-tags","ensure_new":true,"tags":["test","ruby"],"metadata":{"version":"1.0","author":"claude"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 493958fa-bf8b-4c7a-86c3-385b5070145f
      X-Bt-Internal-Trace-Id:
      - 68fb9b4800000000527cdfa5ccc1912b
      X-Amz-Apigw-Id:
      - S9UzZGOOoAMEs1A=
      Etag:
      - W/"1ba-RwrosBTwZ6zsiZ3mO2aiaNrxsZY"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"61b04eb4-5fdf-4fa1-8aa7-df1e5cb8ff98","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-experiment-tags-d0155608","description":null,"created":"2025-10-24T15:29:12.664Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"author":"claude","version":"1.0"},"tags":["test","ruby"]}'
  recorded_at: Fri, 24 Oct 2025 15:29:12 GMT
recorded_with: VCR 6.3.1
