---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - OWU1ZTFlOTYtNjVjNC00ZTJmLWE4ZGMtNTQ5OWM5OGUxNWJj
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::h2jzv-1761317763787-9a2b94b1118a
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 14:56:03 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 7bcae6f8-90ad-407d-be23-7083b14fd013
      X-Bt-Internal-Trace-Id:
      - 68fb938400000000722be976fcfb05f3
      X-Amz-Apigw-Id:
      - S9P8rHP6oAMEERQ=
      Etag:
      - W/"ec-ae+104VIsuTGSnPanxA+Dc4IyRE"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
  recorded_at: Fri, 24 Oct 2025 14:56:04 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-experiment-tags","ensure_new":true,"tags":["test","ruby"],"metadata":{"version":"1.0","author":"claude"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - af01b34f-82c5-4c05-bb5c-42ac514af957
      X-Bt-Internal-Trace-Id:
      - 68fb9384000000003a0dde30c7535497
      X-Amz-Apigw-Id:
      - S9P8tHE-oAMEc4g=
      Etag:
      - W/"1ba-+mpNOL1RRmBFQz4ACNVq+BSVsaQ"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"00f1f9c2-8a3a-4fe1-9643-a417155051a0","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-experiment-tags-24bfd794","description":null,"created":"2025-10-24T14:56:04.274Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"author":"claude","version":"1.0"},"tags":["test","ruby"]}'
  recorded_at: Fri, 24 Oct 2025 14:56:04 GMT
recorded_with: VCR 6.3.1
