---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - NDM0M2VhNzMtNTA4YS00ZTJiLWIwNTctODE2ODE4MjczYjBk
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::lsfhj-1761317762997-58e820e43f92
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 14:56:03 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 862c5a16-650e-4696-80e4-6d3930f501ab
      X-Bt-Internal-Trace-Id:
      - 68fb9383000000004618048d2a345bcf
      X-Amz-Apigw-Id:
      - S9P8jEgwIAMEZ1Q=
      Etag:
      - W/"ec-ae+104VIsuTGSnPanxA+Dc4IyRE"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
  recorded_at: Fri, 24 Oct 2025 14:56:03 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-experiment-update","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 6a5ea393-97cf-4853-8974-7a120930458c
      X-Bt-Internal-Trace-Id:
      - 68fb938300000000202617e5cc8ec5fa
      X-Amz-Apigw-Id:
      - S9P8kGYyIAMEbOg=
      Etag:
      - W/"189-G9QENqsWadUtx1CSVkGn8Kg2D5U"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"b7237f2c-2012-41fe-b31f-6a1d528d9498","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-experiment-update-8444e5ab","description":null,"created":"2025-10-24T14:56:03.386Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
  recorded_at: Fri, 24 Oct 2025 14:56:03 GMT
[...]
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-experiment-update","ensure_new":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 967d3374-6b72-4d6c-bcfe-e6f9ab1bac78
      X-Bt-Internal-Trace-Id:
      - 68fb93830000000049b60414966cb223
      X-Amz-Apigw-Id:
      - S9P8nG-aoAMEfUg=
      Etag:
      - W/"180-Gl90m41ef9FU7HsMWhGgoDGj92M"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"327668a4-6f6a-4a94-ba6a-75f6fc153acc","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-experiment-update","description":null,"created":"2025-10-22T02:53:51.418Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
  recorded_at: Fri, 24 Oct 2025 14:56:03 GMT
recorded_with: VCR 6.3.1
