---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer test-key
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"10a39h4v7gs5d"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - NGM0ZTIyMGYtYjFmNC00NWM0LThiNTItYWI5ZDU0OTNkMTVj
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::6xs6c-1761408287398-2ec3c35de0a0
    body:
      encoding: UTF-8
      string: 'Failed to validate Cognito JWT: Error: JWT string does not consist
        of exactly 3 parts (header, payload, signature) [timestamp=1761408287.436]
        [request_id=iad1::6xs6c-1761408287398-2ec3c35de0a0]'
  recorded_at: Sat, 25 Oct 2025 16:04:47 GMT
[...]
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZTAzMDY2MmUtZjdjNy00OTJhLThiZGQtNTgyYTM0OGJmMzIz
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::k25nq-1761408287453-7603588fe079
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Sat, 25 Oct 2025 16:04:47 GMT
[...]
- request:
    method: post
    uri: https://api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 6219fe1e-de12-4d46-bbd7-6fc6ff481626
      X-Bt-Internal-Trace-Id:
      - 68fcf5be0000000004465ca68e5dc662
      X-Amz-Apigw-Id:
      - TAtV5HovIAMEWYw=
      Etag:
      - W/"ec-ae+104VIsuTGSnPanxA+Dc4IyRE"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
  recorded_at: Sat, 25 Oct 2025 16:07:26 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-auto-init","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 7c10ace2-ba9e-4667-bee7-1eed16249c4e
      X-Bt-Internal-Trace-Id:
      - 68fcf5bf000000001aca104770a45443
      X-Amz-Apigw-Id:
      - TAtV7H05IAMEJaQ=
      Etag:
      - W/"181-uJXa91vLzWR2qImjzy9xFdgfFHk"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"2f9080a2-368d-403f-8d11-9b8f94ed8153","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-auto-init-e01a8919","description":null,"created":"2025-10-25T16:07:27.302Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
  recorded_at: Sat, 25 Oct 2025 16:07:27 GMT
recorded_with: VCR 6.3.1
