---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - OWJjODYyMWYtNDhkYy00NDgyLTkxNDctZmIxYzJjY2E4YWI4
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::94rcg-1761317788364-d7534061cbe4
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 14:56:28 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-dataset-string","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","project_name":"ruby-sdk-test","description":"Test
        dataset for eval integration"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a4x4kpmslpga"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - N2M5NDQ4YzQtYjBkMS00NmI5LTgyOTktN2Y1NDdhMjEzNjll
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::qmjts-1761317788502-c362812c162b
    body:
      encoding: UTF-8
      string: '{"project":{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null},"dataset":{"id":"f096af81-b0c5-4859-b0d1-bc00b3f7498b","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-dataset-string","description":"Test
        dataset for eval integration","created":"2025-10-24T14:47:39.027Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null},"found_existing":true}'
  recorded_at: Fri, 24 Oct 2025 14:56:28 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/dataset/f096af81-b0c5-4859-b0d1-bc00b3f7498b/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"hello","expected":"HELLO"},{"input":"world","expected":"WORLD"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 32f3ca80-a4a9-4806-8de9-92608316b119
      X-Bt-Internal-Trace-Id:
      - 68fb939c0000000026d52a326200df31
      X-Amz-Apigw-Id:
      - S9QAiHR0oAMEURw=
      Etag:
      - W/"5b-lUF/aJP51CI++h+BjgXv0GevC38"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["be1e5315-fe5f-4a04-bba8-5f5dcc5725b2","81cd63cd-5194-46f9-bd99-2f6be9bac4ec"]}'
  recorded_at: Fri, 24 Oct 2025 14:56:28 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/dataset?dataset_name=test-ruby-sdk-dataset-string&project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - ab7c3aea-1ef8-4137-8a91-df5740b1325d
      X-Bt-Internal-Trace-Id:
      - 68fb939c000000001797aaa6fca11c1b
      X-Amz-Apigw-Id:
      - S9QAlEhkoAMEg4A=
      Etag:
      - W/"13f-a0MzO8wjtcLQpHCKiM0ff88CfKo"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"f096af81-b0c5-4859-b0d1-bc00b3f7498b","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-dataset-string","description":"Test
        dataset for eval integration","created":"2025-10-24T14:47:39.027Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
  recorded_at: Fri, 24 Oct 2025 14:56:29 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"f096af81-b0c5-4859-b0d1-bc00b3f7498b"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ae1ceeb2-67d0-4b38-82d0-7afc3765a179
      X-Bt-Internal-Trace-Id:
      - 68fb939d000000004be030100fd58a5c
      X-Amz-Apigw-Id:
      - S9QAmEJ_oAMEjVQ=
      X-Bt-Cursor:
      - aPuRi9FZAAA
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07564802301532962817","_xact_id":"1000196021975579374","created":"2025-10-24T14:56:28.676Z","dataset_id":"f096af81-b0c5-4859-b0d1-bc00b3f7498b","expected":"WORLD","id":"81cd63cd-5194-46f9-bd99-2f6be9bac4ec","input":"world","is_root":true,"metadata":null,"origin":null,"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","root_span_id":"5f71f2c1-462d-4f94-9aa2-6b6ddc1a86ab","span_id":"5f71f2c1-462d-4f94-9aa2-6b6ddc1a86ab","tags":null}
        {"_pagination_key":"p07564802301532962816","_xact_id":"1000196021975579374","created":"2025-10-24T14:56:28.676Z","dataset_id":"f096af81-b0c5-4859-b0d1-bc00b3f7498b","expected":"HELLO","id":"be1e5315-fe5f-4a04-bba8-5f5dcc5725b2","input":"hello","is_root":true,"metadata":null,"origin":null,"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","root_span_id":"c06a0594-ce3a-4a98-bc76-0f336537ecef","span_id":"c06a0594-ce3a-4a98-bc76-0f336537ecef","tags":null}
        {"_pagination_key":"p[...]
- request:
    method: post
    uri: https://api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"f096af81-b0c5-4859-b0d1-bc00b3f7498b"}]},"select":[{"op":"star"}],"limit":1000,"cursor":"aPuRi9FZAAA"},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 5e897c98-557b-415d-800d-294a6489162d
      X-Bt-Internal-Trace-Id:
      - 68fb939d000000006460d0ac7b35d21e
      X-Amz-Apigw-Id:
      - S9QAqGpnIAMEJaQ=
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 24 Oct 2025 14:56:29 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 6acdf4a7-dd27-41f2-9584-283d4092c8ec
      X-Bt-Internal-Trace-Id:
      - 68fb939d0000000076709ef0ae22e243
      X-Amz-Apigw-Id:
      - S9QAsGUVoAMELpQ=
      Etag:
      - W/"ec-ae+104VIsuTGSnPanxA+Dc4IyRE"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
  recorded_at: Fri, 24 Oct 2025 14:56:29 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-exp-dataset-string","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - '03725493-0079-4fe0-ab5b-456c7a57f978'
      X-Bt-Internal-Trace-Id:
      - 68fb939d000000004c470bfa6d4607ad
      X-Amz-Apigw-Id:
      - S9QAuGktIAMEidw=
      Etag:
      - W/"193-t7aNHp/8oYSlHZcLGONv3Z5ZT+c"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0418fc5c-a8c2-42b9-8914-b62c1578b569","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-exp-dataset-string-246ed1c4","description":null,"created":"2025-10-24T14:56:29.935Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
  recorded_at: Fri, 24 Oct 2025 14:56:29 GMT
recorded_with: VCR 6.3.1
