---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - NjE5MjkyOTYtZjMyYy00NmZhLTliYjctYzJmMjIyZjYyYzEz
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::rrnvl-1765479122704-46651ca8a633
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Thu, 11 Dec 2025 18:52:02 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-dataset-id","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"qcf9ey5drzfb"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - MWQyZGI2NjgtMWIzZi00MGVjLWI3MTItZjE4YzAwMzUxMTk4
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::hmwpf-1765479122846-ababeaa0ee74
    body:
      encoding: UTF-8
      string: '{"project":{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null},"dataset":{"id":"02c8546e-38f8-46c1-8b09-df9c08854341","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-id","description":null,"created":"2025-12-11T18:38:01.718Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null},"found_existing":true}'
  recorded_at: Thu, 11 Dec 2025 18:52:02 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/dataset/02c8546e-38f8-46c1-8b09-df9c08854341/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"test","expected":"TEST"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - df0f0065-51b0-458f-bcfd-74cced11a2f4
      X-Bt-Internal-Trace-Id:
      - 693b12d3000000006bc905a9b4330aaf
      X-Amz-Apigw-Id:
      - Vb_hBFC4oAMEdOQ=
      Etag:
      - W/"34-8JSSpoW7pcILZAQfop1UIyGR6/U"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["eef9aa47-378d-4752-9f8c-72f8021ee763"]}'
  recorded_at: Thu, 11 Dec 2025 18:52:03 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"02c8546e-38f8-46c1-8b09-df9c08854341"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 839fbc96-c832-49be-8899-45e4b5af1a78
      X-Bt-Internal-Trace-Id:
      - 693b12d30000000065e73d826870341c
      X-Amz-Apigw-Id:
      - Vb_hIHLcIAMEOPg=
      X-Bt-Cursor:
      - aTsPiuPtAAA
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07582675098489389056","_xact_id":"1000196294692818089","audit_data":[{"_xact_id":"1000196294692818089","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"comments":null,"created":"2025-12-11T18:52:03.010Z","dataset_id":"02c8546e-38f8-46c1-8b09-df9c08854341","expected":"TEST","id":"eef9aa47-378d-4752-9f8c-72f8021ee763","input":"test","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"3be90d25-5d85-4eaf-b573-c4c41a9c0f8a","span_id":"3be90d25-5d85-4eaf-b573-c4c41a9c0f8a","tags":null}
        {"_pagination_key":"p07582672561744052224","_xact_id":"1000196294654110427","audit_data":[{"_xact_id":"1000196294654110427","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"comments":null,"created":"2025-12-11T18:42:13.699Z","dataset_id":"02c8546e-38f8-46c1-8b09-df9c08854341","expected":"TEST","id":"2787844c-196e-4446-b5a7-1d255bf2cc15","input":"test","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"07f[...]
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"02c8546e-38f8-46c1-8b09-df9c08854341"}]},"select":[{"op":"star"}],"limit":1000,"cursor":"aTsPiuPtAAA"},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 051702d6-61e8-4398-8185-0e4ac13b07ff
      X-Bt-Internal-Trace-Id:
      - 693b12d4000000000f6ace58fa9ed1f0
      X-Amz-Apigw-Id:
      - Vb_hMGfYoAMEBtw=
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 11 Dec 2025 18:52:04 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 41b4e85a-316f-47ca-8d97-4216322f47d5
      X-Bt-Internal-Trace-Id:
      - 693b12d40000000063659c8f902c794d
      X-Amz-Apigw-Id:
      - Vb_hNHJ6oAMEGOQ=
      Etag:
      - W/"ec-tjqKTzXkSD9WFkzugu+08z52cpA"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Thu, 11 Dec 2025 18:52:04 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-id","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - a849e798-3127-4e03-9bfd-8463691614d2
      X-Bt-Internal-Trace-Id:
      - 693b12d40000000036c3c1a03b1d73c2
      X-Amz-Apigw-Id:
      - Vb_hPEAPIAMED3A=
      Etag:
      - W/"189-WF+6dM24f2v2isgh7xwCcdaZyKA"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"99910465-b769-4856-b3ab-a75ed0c074d9","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-id-abd38611","description":null,"created":"2025-12-11T18:52:04.419Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Thu, 11 Dec 2025 18:52:04 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/experiment-comparison2?experiment_id=99910465-b769-4856-b3ab-a75ed0c074d9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 4d4a1085-f711-4b1b-93fa-2cf8999ce769
      X-Bt-Internal-Trace-Id:
      - 693b12d400000000117d45ae930f2c9a
      X-Amz-Apigw-Id:
      - Vb_hRH0xIAMEvCg=
      Etag:
      - W/"1a-DVqVcAQOxg1HFdcjY89JEuayOGw"
    body:
      encoding: ASCII-8BIT
      string: '{"scores":{},"metrics":{}}'
  recorded_at: Thu, 11 Dec 2025 18:52:05 GMT
recorded_with: VCR 6.3.1
