---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - YTJlYWYyMDktYzExMy00MGQ5LWE3MTItM2EzMTVjOWIzMmFl
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::hhpg5-1761317781542-85f4453fe48d
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 14:56:21 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-dataset-hash","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bixmo10ea2fd"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - NWYzZjc4NmItZTY4MC00YTczLWE4ZjYtOWMzYzQ0MzliNjI2
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::2kwzt-1761317781688-356714f23299
    body:
      encoding: UTF-8
      string: '{"project":{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null},"dataset":{"id":"437c6648-948f-4fbb-a2ae-b9fce616f04b","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-dataset-hash","description":null,"created":"2025-10-24T14:47:32.248Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null},"found_existing":true}'
  recorded_at: Fri, 24 Oct 2025 14:56:21 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/dataset/437c6648-948f-4fbb-a2ae-b9fce616f04b/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"test","expected":"TEST"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d18d8e30-9a6a-4fdc-af1e-f68d43c73696
      X-Bt-Internal-Trace-Id:
      - 68fb9395000000001dc458e3e31db81a
      X-Amz-Apigw-Id:
      - S9P_eGAHIAMETWQ=
      Etag:
      - W/"34-UBkbNikUTCV5gTt1v9YzoVP/c7s"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["a0e188c6-06ab-4243-a891-13cf39658838"]}'
  recorded_at: Fri, 24 Oct 2025 14:56:22 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/dataset?dataset_name=test-ruby-sdk-dataset-hash&project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 28116997-ecd6-4334-8940-2819ac4a1329
      X-Bt-Internal-Trace-Id:
      - 68fb9396000000001d7c00d5c5185360
      X-Amz-Apigw-Id:
      - S9P_gEj3oAMEQKQ=
      Etag:
      - W/"11e-etr0K7lqT/s5w0XMFHlzAQSUlos"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"437c6648-948f-4fbb-a2ae-b9fce616f04b","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-dataset-hash","description":null,"created":"2025-10-24T14:47:32.248Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
  recorded_at: Fri, 24 Oct 2025 14:56:22 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"437c6648-948f-4fbb-a2ae-b9fce616f04b"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b1a508c8-016a-4e55-a1a2-4161a938fc65
      X-Bt-Internal-Trace-Id:
      - 68fb93960000000031b22a1094a29d2d
      X-Amz-Apigw-Id:
      - S9P_iFsKoAMEs1A=
      X-Bt-Cursor:
      - aPuRhMB+AAA
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07564802271149948928","_xact_id":"1000196021975115766","created":"2025-10-24T14:56:21.835Z","dataset_id":"437c6648-948f-4fbb-a2ae-b9fce616f04b","expected":"TEST","id":"a0e188c6-06ab-4243-a891-13cf39658838","input":"test","is_root":true,"metadata":null,"origin":null,"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","root_span_id":"6ea8e88a-8c11-4ad1-b7fe-82db33fab21a","span_id":"6ea8e88a-8c11-4ad1-b7fe-82db33fab21a","tags":null}
        {"_pagination_key":"p07564801941572354048","_xact_id":"1000196021970086811","created":"2025-10-24T14:55:04.946Z","dataset_id":"437c6648-948f-4fbb-a2ae-b9fce616f04b","expected":"TEST","id":"b1bd97b7-8eea-4178-a655-78686009a34f","input":"test","is_root":true,"metadata":null,"origin":null,"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","root_span_id":"5938a4ef-3c48-496b-9319-27be046e0bb6","span_id":"5938a4ef-3c48-496b-9319-27be046e0bb6","tags":null}
        {"_pagination_key":"p07[...]
- request:
    method: post
    uri: https://api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"437c6648-948f-4fbb-a2ae-b9fce616f04b"}]},"select":[{"op":"star"}],"limit":1000,"cursor":"aPuRhMB+AAA"},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 72be5341-5b0a-4157-8c2f-8b7133ef95d7
      X-Bt-Internal-Trace-Id:
      - 68fb9396000000001600e6c0fddd1d8d
      X-Amz-Apigw-Id:
      - S9P_lGZSoAMERpA=
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 24 Oct 2025 14:56:22 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 79064d50-b9b1-40bf-9aa2-9c9278720826
      X-Bt-Internal-Trace-Id:
      - 68fb9396000000004ebe8a87af7903fc
      X-Amz-Apigw-Id:
      - S9P_nEFPoAMERxg=
      Etag:
      - W/"ec-ae+104VIsuTGSnPanxA+Dc4IyRE"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
  recorded_at: Fri, 24 Oct 2025 14:56:22 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-exp-hash","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 3f894da2-5386-46bb-bc50-c52c22ab974e
      X-Bt-Internal-Trace-Id:
      - 68fb939600000000009b6a50121a01ba
      X-Amz-Apigw-Id:
      - S9P_pFGdoAMELpQ=
      Etag:
      - W/"189-IG7ukMLfS+z2BKJMMP0b9yIe8KU"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ee2aa856-1659-4fc3-a852-881b9ad7450a","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-exp-hash-df9f8234","description":null,"created":"2025-10-24T14:56:23.031Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
  recorded_at: Fri, 24 Oct 2025 14:56:23 GMT
recorded_with: VCR 6.3.1
