---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - YzM1MmM5ZWEtMjBkNS00OTVlLWEwZmUtMzJjOTExOWVhYTk5
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::lzcff-1761319761796-a72711017b55
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:29:21 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-dataset-hash","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bixmo10ea2fd"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - OTQ0OWQ2OTgtOWQzNi00MGM5LThlNzAtZGRjZDdlOWI2ZTA2
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::xn6ps-1761319761907-e3fc138d7f34
    body:
      encoding: UTF-8
      string: '{"project":{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null},"dataset":{"id":"437c6648-948f-4fbb-a2ae-b9fce616f04b","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-dataset-hash","description":null,"created":"2025-10-24T14:47:32.248Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null},"found_existing":true}'
  recorded_at: Fri, 24 Oct 2025 15:29:22 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/dataset/437c6648-948f-4fbb-a2ae-b9fce616f04b/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"test","expected":"TEST"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c508cd82-44f9-49e5-9fb3-cae21c93f758
      X-Bt-Internal-Trace-Id:
      - 68fb9b5200000000630da34caddf2615
      X-Amz-Apigw-Id:
      - S9U04EG8IAMEngA=
      Etag:
      - W/"34-yaM4yXvRIXuz8SGv91qmSY8O7jI"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["0f511326-3913-4f4d-8c57-b72138757906"]}'
  recorded_at: Fri, 24 Oct 2025 15:29:22 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/dataset?dataset_name=test-ruby-sdk-dataset-hash&project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b92523e8-6cf4-4f82-b9fc-894847fd7bf2
      X-Bt-Internal-Trace-Id:
      - 68fb9b520000000027f3b9d6acc4fbf5
      X-Amz-Apigw-Id:
      - S9U06GaAIAMEsig=
      Etag:
      - W/"11e-etr0K7lqT/s5w0XMFHlzAQSUlos"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"437c6648-948f-4fbb-a2ae-b9fce616f04b","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-dataset-hash","description":null,"created":"2025-10-24T14:47:32.248Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
  recorded_at: Fri, 24 Oct 2025 15:29:22 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"437c6648-948f-4fbb-a2ae-b9fce616f04b"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - aa02e415-72b4-44dd-9a9c-2c47ba110912
      X-Bt-Internal-Trace-Id:
      - 68fb9b520000000054657a36c848e050
      X-Amz-Apigw-Id:
      - S9U08HkbIAMEudw=
      X-Bt-Cursor:
      - aPuRhMB+AAA
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07564810775701094400","_xact_id":"1000196022104884918","created":"2025-10-24T15:29:22.059Z","dataset_id":"437c6648-948f-4fbb-a2ae-b9fce616f04b","expected":"TEST","id":"0f511326-3913-4f4d-8c57-b72138757906","input":"test","is_root":true,"metadata":null,"origin":null,"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","root_span_id":"b2d1984c-1b5b-4381-a865-8f697c24e35e","span_id":"b2d1984c-1b5b-4381-a865-8f697c24e35e","tags":null}
        {"_pagination_key":"p07564802271149948928","_xact_id":"1000196021975115766","created":"2025-10-24T14:56:21.835Z","dataset_id":"437c6648-948f-4fbb-a2ae-b9fce616f04b","expected":"TEST","id":"a0e188c6-06ab-4243-a891-13cf39658838","input":"test","is_root":true,"metadata":null,"origin":null,"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","root_span_id":"6ea8e88a-8c11-4ad1-b7fe-82db33fab21a","span_id":"6ea8e88a-8c11-4ad1-b7fe-82db33fab21a","tags":null}
        {"_pagination_key":"p07[...]
- request:
    method: post
    uri: https://api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"437c6648-948f-4fbb-a2ae-b9fce616f04b"}]},"select":[{"op":"star"}],"limit":1000,"cursor":"aPuRhMB+AAA"},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 0eac9b87-962a-461a-9444-3d195fa4f419
      X-Bt-Internal-Trace-Id:
      - 68fb9b5600000000380f42464c44308b
      X-Amz-Apigw-Id:
      - S9U1kFOBoAMEc5w=
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 24 Oct 2025 15:29:26 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 52494500-f645-41b8-a9ad-97d0ebf30b5c
      X-Bt-Internal-Trace-Id:
      - 68fb9b56000000002a1a4a5602c7ae05
      X-Amz-Apigw-Id:
      - S9U1nEaYIAMEbbg=
      Etag:
      - W/"ec-ae+104VIsuTGSnPanxA+Dc4IyRE"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
  recorded_at: Fri, 24 Oct 2025 15:29:26 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-exp-hash","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 62a0c8bb-9472-479e-91bd-27206cb7319e
      X-Bt-Internal-Trace-Id:
      - 68fb9b56000000004fd8f3a32e078cdd
      X-Amz-Apigw-Id:
      - S9U1oEE9IAMEK5w=
      Etag:
      - W/"189-2gNNMPof7iUUyv6guL2KlU8WidU"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"fd5a2dae-a8d4-4763-b326-61f96bc94069","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-exp-hash-c1a35648","description":null,"created":"2025-10-24T15:29:26.958Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
  recorded_at: Fri, 24 Oct 2025 15:29:26 GMT
recorded_with: VCR 6.3.1
