---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZGRhODk2MjctNzIxMC00NjE4LTlmYzItMTIxMjUwMTE2YTRl
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::8vb6j-1765480159423-1516270052f1
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Thu, 11 Dec 2025 19:09:19 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-dataset-limit","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"10a7g5jf8uife"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - ZDdjMDIyYjUtZTFmNS00Y2Y0LTk5MzktNTczNDY4YTY4Zjlk
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::n9s5l-1765480159870-81e1dc349668
    body:
      encoding: UTF-8
      string: '{"project":{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null},"dataset":{"id":"f15434ad-cc1a-4ea4-9c8c-e8a32582cb67","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-limit","description":null,"created":"2025-12-11T18:38:08.788Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null},"found_existing":true}'
  recorded_at: Thu, 11 Dec 2025 19:09:19 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/dataset/f15434ad-cc1a-4ea4-9c8c-e8a32582cb67/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"one","expected":"ONE"},{"input":"two","expected":"TWO"},{"input":"three","expected":"THREE"},{"input":"four","expected":"FOUR"},{"input":"five","expected":"FIVE"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - bd1c667b-10b8-4009-aca2-e07f7f90e1da
      X-Bt-Internal-Trace-Id:
      - 693b16e00000000011f2f433a94caaa6
      X-Amz-Apigw-Id:
      - VcCDEEC3oAMEn3Q=
      Etag:
      - W/"d0-Wzb4UzA6hjUUi+1cHM1PntwKX0E"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["a38ed3e1-c0fe-459a-ab63-4b96ab5d15fe","0ebde395-c4d2-44ca-92fa-e571957ea22b","8dd8f7c5-6926-4867-bbc2-c03579fafb31","fbbbc66d-13a8-4c18-ad3f-13fe95db2ec0","106c4844-4783-49ae-bbee-faaaa06ff803"]}'
  recorded_at: Thu, 11 Dec 2025 19:09:20 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/dataset?dataset_name=test-ruby-sdk-dataset-limit&project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 04b49db2-8a98-4176-9915-e756c00509cb
      X-Bt-Internal-Trace-Id:
      - 693b16e1000000001022e783d760722e
      X-Amz-Apigw-Id:
      - VcCDWG6VIAMEBXA=
      Etag:
      - W/"11f-1xQSKe+NbQQ3FGn574jf3noysgw"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"f15434ad-cc1a-4ea4-9c8c-e8a32582cb67","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-limit","description":null,"created":"2025-12-11T18:38:08.788Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null}]}'
  recorded_at: Thu, 11 Dec 2025 19:09:21 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"f15434ad-cc1a-4ea4-9c8c-e8a32582cb67"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b5c0763c-82ee-4481-8a98-c43a087f2a73
      X-Bt-Internal-Trace-Id:
      - 693b16e2000000000844e804ede42693
      X-Amz-Apigw-Id:
      - VcCDZGYRoAMEH9A=
      X-Bt-Cursor:
      - aTsPkftuAAA
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07582679549860249604","_xact_id":"1000196294760740618","audit_data":[{"_xact_id":"1000196294760740618","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"comments":null,"created":"2025-12-11T19:09:20.091Z","dataset_id":"f15434ad-cc1a-4ea4-9c8c-e8a32582cb67","expected":"FIVE","id":"106c4844-4783-49ae-bbee-faaaa06ff803","input":"five","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"e07136b3-eac7-43f7-a4e4-1b37ca6dca10","span_id":"e07136b3-eac7-43f7-a4e4-1b37ca6dca10","tags":null}
        {"_pagination_key":"p07582679549860249603","_xact_id":"1000196294760740618","audit_data":[{"_xact_id":"1000196294760740618","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"comments":null,"created":"2025-12-11T19:09:20.091Z","dataset_id":"f15434ad-cc1a-4ea4-9c8c-e8a32582cb67","expected":"FOUR","id":"fbbbc66d-13a8-4c18-ad3f-13fe95db2ec0","input":"four","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"e05[...]
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 432506fc-77a8-4815-89a8-1900ede60287
      X-Bt-Internal-Trace-Id:
      - 693b16e200000000178dfe3073327e20
      X-Amz-Apigw-Id:
      - VcCDgGwqIAMEZwQ=
      Etag:
      - W/"ec-tjqKTzXkSD9WFkzugu+08z52cpA"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Thu, 11 Dec 2025 19:09:22 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-limit","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - ab15c101-a21c-4e1a-8b22-6882fe4cc1f5
      X-Bt-Internal-Trace-Id:
      - 693b16e3000000005aa8b4a801295af5
      X-Amz-Apigw-Id:
      - VcCDjHTqIAMEkvQ=
      Etag:
      - W/"18c-fAXxtX9uvbmz7bEPNnlJg/LsdLo"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"12b5ad76-f00e-4c47-8919-738bfacdff50","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-limit-7b7efb44","description":null,"created":"2025-12-11T19:09:23.184Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Thu, 11 Dec 2025 19:09:23 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/experiment-comparison2?experiment_id=12b5ad76-f00e-4c47-8919-738bfacdff50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 3467c30d-d29d-4bdc-be86-6045cdaa6efd
      X-Bt-Internal-Trace-Id:
      - 693b16e4000000004456ea171262e786
      X-Amz-Apigw-Id:
      - VcCDvECwIAMEaIw=
      Etag:
      - W/"1a-DVqVcAQOxg1HFdcjY89JEuayOGw"
    body:
      encoding: ASCII-8BIT
      string: '{"scores":{},"metrics":{}}'
  recorded_at: Thu, 11 Dec 2025 19:09:24 GMT
recorded_with: VCR 6.3.1
