---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - M2ViNThjNGMtZWE3Ny00ZmFkLWI1YTUtZDI5NWM0MGY1MjFl
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::w4qxq-1770224591237-18a9c1334bce
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Wed, 04 Feb 2026 17:03:11 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-dataset-origin","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","project_name":"ruby-sdk-test","description":"Test
        dataset for origin integration"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"la06xqsiuui2"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - MGFiNDY2NTgtMjcyYi00YTQzLTliMGYtOGMyYzk4MmUzOWFk
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::grckn-1770224591416-32f37c83293e
    body:
      encoding: UTF-8
      string: '{"project":{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null},"dataset":{"id":"4f9ef62b-44a4-40c4-9a83-7cdb791e2876","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-origin","description":"Test
        dataset for origin integration","created":"2026-02-04T17:03:11.480Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"url_slug":"test-ruby-sdk-dataset-origin"},"found_existing":false}'
  recorded_at: Wed, 04 Feb 2026 17:03:11 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/dataset/4f9ef62b-44a4-40c4-9a83-7cdb791e2876/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"origin-test","expected":"ORIGIN-TEST"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 1352c1d1-cd55-4a54-a4f7-fcf6238d51e2
      X-Bt-Internal-Trace-Id:
      - 69837bcf0000000031efc9a2201a1d98
      X-Amz-Apigw-Id:
      - YRBIhHF2oAMEbng=
      Etag:
      - W/"34-53NSuFcAopa3dx2Efipnj4vEFUc"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["10cc8e51-4280-4f4b-8951-e2bfd0617e3c"]}'
  recorded_at: Wed, 04 Feb 2026 17:03:12 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/dataset?dataset_name=test-ruby-sdk-dataset-origin&project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 443bf5a8-1109-4002-a082-a7fd04d0b613
      X-Bt-Internal-Trace-Id:
      - 69837bd0000000005567a266111c60a5
      X-Amz-Apigw-Id:
      - YRBIlGHjoAMEbgg=
      Etag:
      - W/"16b-BK+mmoQKsxWNKLSUq3Nx7g8XBig"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"4f9ef62b-44a4-40c4-9a83-7cdb791e2876","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-origin","description":"Test
        dataset for origin integration","created":"2026-02-04T17:03:11.480Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"url_slug":"test-ruby-sdk-dataset-origin"}]}'
  recorded_at: Wed, 04 Feb 2026 17:03:12 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"4f9ef62b-44a4-40c4-9a83-7cdb791e2876"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 719ce2c3-83eb-4fc7-ad42-f937e28a713e
      X-Bt-Internal-Trace-Id:
      - 69837bd000000000018003f7ecdcaf3d
      X-Amz-Apigw-Id:
      - YRBImGJNIAMEJuQ=
      X-Bt-Cursor:
      - aYN7z+qKAAA
    body:
      encoding: ASCII-8BIT
      string: '{"_pagination_key":"p07603056728854888448","_xact_id":"1000196605691816586","audit_data":[{"_xact_id":"1000196605691816586","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-02-04T17:03:11.751Z","dataset_id":"4f9ef62b-44a4-40c4-9a83-7cdb791e2876","expected":"ORIGIN-TEST","facets":null,"id":"10cc8e51-4280-4f4b-8951-e2bfd0617e3c","input":"origin-test","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"a588c208-c631-4d0f-bed9-dc732b1fffb5","span_id":"a588c208-c631-4d0f-bed9-dc732b1fffb5","tags":null}

        '
  recorded_at: Wed, 04 Feb 2026 17:03:12 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"4f9ef62b-44a4-40c4-9a83-7cdb791e2876"}]},"select":[{"op":"star"}],"limit":1000,"cursor":"aYN7z+qKAAA"},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 8d3db6e4-20ea-489e-ab35-a8557d5334e0
      X-Bt-Internal-Trace-Id:
      - 69837bd00000000014d92a3d98c91123
      X-Amz-Apigw-Id:
      - YRBIoFtHoAMEF3g=
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 04 Feb 2026 17:03:12 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - af677481-4552-4ca7-83ca-4323e90b989f
      X-Bt-Internal-Trace-Id:
      - 69837bd0000000005ff77c9219450725
      X-Amz-Apigw-Id:
      - YRBIpF6WoAMEdsw=
      Etag:
      - W/"ff-6vJBGKzQtkVK0GxiGBpsJc6l6u8"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Wed, 04 Feb 2026 17:03:12 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-origin","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - e24e5226-95bd-4b29-a859-32b949fca72c
      X-Bt-Internal-Trace-Id:
      - 69837bd000000000127ab07cc0170707
      X-Amz-Apigw-Id:
      - YRBIrHMTIAMEevQ=
      Etag:
      - W/"184-nGHxQXw/TAVG+jG26cSGPF3M/hY"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"d4663a0c-92ee-4801-8abe-8049f7dae7be","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-origin","description":null,"created":"2026-02-04T17:03:12.838Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Wed, 04 Feb 2026 17:03:12 GMT
recorded_with: VCR 6.4.0
