---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZDg5M2ViOTctMzg1Ni00OGM2LTgyNWYtNmVlMDIzNTE1NWFj
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::6ptq5-1771737972238-88ece68f7d74
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Sun, 22 Feb 2026 05:26:12 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-dataset-id-struct-eac7f2d3","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"vfx13fxo0xht"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - MDY1NWQzZWQtNmFlZi00NTU1LTlhYjgtZGNmNGM5NTZiYWIw
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::m5tfx-1771737972345-d20b07dc5c12
    body:
      encoding: UTF-8
      string: '{"project":{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null},"dataset":{"id":"9a3601e6-0711-4368-92f6-06e528c9ce29","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-id-struct-eac7f2d3","description":null,"created":"2026-02-22T05:26:12.405Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"url_slug":"test-ruby-sdk-dataset-id-struct-eac7f2d3"},"found_existing":false}'
  recorded_at: Sun, 22 Feb 2026 05:26:12 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/dataset/9a3601e6-0711-4368-92f6-06e528c9ce29/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"alpha","expected":"ALPHA"},{"input":"beta","expected":"BETA"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 849a80cc-88f8-445f-a417-cfcc52cb48be
      X-Bt-Internal-Trace-Id:
      - 699a93740000000046cd05249cd77546
      X-Amz-Apigw-Id:
      - ZKv6RF3YIAMEbTw=
      Etag:
      - W/"5b-y5qlcNsuvdozAKeRftf0NMLucmw"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["9173d161-665b-47e7-8d77-6aae52529b15","ceab3640-bda4-4110-ab10-46f1a71b6dc4"]}'
  recorded_at: Sun, 22 Feb 2026 05:26:12 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"9a3601e6-0711-4368-92f6-06e528c9ce29"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c0e26875-2440-4f07-9301-742047cbbde8
      X-Bt-Brainstore-Duration-Ms:
      - '80'
      X-Bt-Api-Duration-Ms:
      - '85'
      X-Bt-Internal-Trace-Id:
      - 699a93740000000035cee4d4f511e9f0
      X-Amz-Apigw-Id:
      - ZKv6VGB8IAMEDtQ=
      X-Bt-Cursor:
      - aZqTdIpvAAA
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07609556649143894017","_xact_id":"1000196704872729199","audit_data":[{"_xact_id":"1000196704872729199","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-02-22T05:26:12.562Z","dataset_id":"9a3601e6-0711-4368-92f6-06e528c9ce29","expected":"BETA","facets":null,"id":"ceab3640-bda4-4110-ab10-46f1a71b6dc4","input":"beta","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"2dfa4619-40d3-4b08-9158-ee581361041b","span_id":"2dfa4619-40d3-4b08-9158-ee581361041b","tags":null}
        {"_pagination_key":"p07609556649143894016","_xact_id":"1000196704872729199","audit_data":[{"_xact_id":"1000196704872729199","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-02-22T05:26:12.562Z","dataset_id":"9a3601e6-0711-4368-92f6-06e528c9ce29","expected":"ALPHA","facets":null,"id":"9173d161-665b-47e7-8d77-6aae52529b15","input":"alpha","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"66add50f-07cc-4666-aa2d-2c2536999edb","span_id":"66add50f-07cc-4666-aa2d-2c2536999edb","tags":null}
  recorded_at: Sun, 22 Feb 2026 05:26:13 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"9a3601e6-0711-4368-92f6-06e528c9ce29"}]},"select":[{"op":"star"}],"limit":1000,"cursor":"aZqTdIpvAAA"},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 749999ca-cda2-49d9-bb35-077b7a39e037
      X-Bt-Brainstore-Duration-Ms:
      - '28'
      X-Bt-Api-Duration-Ms:
      - '32'
      X-Bt-Internal-Trace-Id:
      - 699a937500000000288d3e314d963863
      X-Amz-Apigw-Id:
      - ZKv6XEBMIAMEucA=
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 22 Feb 2026 05:26:13 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 6d8d4de4-88cb-4073-8bab-76bd47814cc8
      X-Bt-Internal-Trace-Id:
      - 699a9375000000000ea4b35ee180d61c
      X-Amz-Apigw-Id:
      - ZKv6YHsGIAMESsw=
      Etag:
      - W/"ff-6vJBGKzQtkVK0GxiGBpsJc6l6u8"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Sun, 22 Feb 2026 05:26:13 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-dataset-id-struct-eac7f2d3","ensure_new":true,"dataset_id":"9a3601e6-0711-4368-92f6-06e528c9ce29","dataset_version":"1000196704872729199"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d888be3e-de14-42dd-8414-1604c85ec4c3
      X-Bt-Internal-Trace-Id:
      - 699a9375000000007e3b96e746ceec0f
      X-Amz-Apigw-Id:
      - ZKv6aHcsoAMEX6g=
      Etag:
      - W/"1cb-+IOnAxXR/Q8dr/XWb8o3AcG3ptk"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"aea0e43b-2af5-4628-ad33-82029695f73c","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-dataset-id-struct-eac7f2d3","description":null,"created":"2026-02-22T05:26:13.652Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":"9a3601e6-0711-4368-92f6-06e528c9ce29","dataset_version":"1000196704872729199","public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Sun, 22 Feb 2026 05:26:13 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/dataset/9a3601e6-0711-4368-92f6-06e528c9ce29
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 0efad064-dd22-4d18-93a3-e3f79c069e9f
      X-Bt-Internal-Trace-Id:
      - 699a93750000000044966b2341bbda0c
      X-Amz-Apigw-Id:
      - ZKv6dGNQoAMEGow=
      Etag:
      - W/"16a-igxLfIA6W/aBgkkVAdhe5+QmK20"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"9a3601e6-0711-4368-92f6-06e528c9ce29","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-id-struct-eac7f2d3","description":null,"created":"2026-02-22T05:26:12.405Z","deleted_at":"2026-02-22T05:26:13.874Z","user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"url_slug":"test-ruby-sdk-dataset-id-struct-eac7f2d3"}'
  recorded_at: Sun, 22 Feb 2026 05:26:13 GMT
recorded_with: VCR 6.4.0
