---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - MzBjMGU3MzQtM2IwZC00NDU2LWIwN2UtNTg5NzU0YWJkOTNj
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::swmz2-1771737973965-baf2979214b9
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Sun, 22 Feb 2026 05:26:14 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-ds-combined-36bd9adf","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"dqqsd37f78hh"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - YTRjZmJhODItZWRkOS00NjIwLTk5NGQtZjJlOTgzYTllNmQw
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::j29vj-1771737974117-2ae04d12539f
    body:
      encoding: UTF-8
      string: '{"project":{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null},"dataset":{"id":"ea644cc6-ca23-4efe-bf8b-cb5f6121c062","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-ds-combined-36bd9adf","description":null,"created":"2026-02-22T05:26:14.284Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"url_slug":"test-ruby-sdk-ds-combined-36bd9adf"},"found_existing":false}'
  recorded_at: Sun, 22 Feb 2026 05:26:14 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/dataset/ea644cc6-ca23-4efe-bf8b-cb5f6121c062/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"foo","expected":"FOO"},{"input":"bar","expected":"BAR"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 86d3ea21-38b0-44c3-9be6-99cea29cf096
      X-Bt-Internal-Trace-Id:
      - 699a937600000000668a4ed1071f09c4
      X-Amz-Apigw-Id:
      - ZKv6jGnrIAMELkg=
      Etag:
      - W/"5b-9blivwFULoh/Sd9kYCqizraJLNg"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["ddd9e45e-be8b-48e4-940d-88684643c9c2","dcec19de-19f4-408c-b46a-235d3a7fd5eb"]}'
  recorded_at: Sun, 22 Feb 2026 05:26:14 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 9d9c143a-cc86-4eb5-8dcf-c794b041d064
      X-Bt-Internal-Trace-Id:
      - 699a93760000000030b5b39e049e94bb
      X-Amz-Apigw-Id:
      - ZKv6nG4LoAMEpJw=
      Etag:
      - W/"10d-SEV8zdYyFxsGQVbFPF9yW/SqrIE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Sun, 22 Feb 2026 05:26:14 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-combined-36bd9adf","name":"test-ruby-sdk-scorer-combined-36bd9adf","function_data":{"type":"code","data":{"type":"inline","runtime_context":{"runtime":"node","version":"18"},"code":"function
        handler({ output, expected }) { return { score: output === expected ? 1.0
        : 0.0 }; }"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d8c6cc58-9b61-4a4e-82a9-01704c934243
      X-Bt-Internal-Trace-Id:
      - 699a937600000000318ebdd475178077
      X-Amz-Apigw-Id:
      - ZKv6pEX4IAMEk-w=
      Etag:
      - W/"218-FI+wzMPHVxKmRwDvQZda0u7+29Q"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-combined-36bd9adf","name":"test-ruby-sdk-scorer-combined-36bd9adf","function_data":{"type":"code","data":{"type":"inline","runtime_context":{"runtime":"node","version":"18"},"code":"function
        handler({ output, expected }) { return { score: output === expected ? 1.0
        : 0.0 }; }"}},"id":"b08a96c2-cd92-4299-9260-2d7b5201a93c","created":"2026-02-22T05:26:15.111Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196704872927712"}'
  recorded_at: Sun, 22 Feb 2026 05:26:15 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function/b08a96c2-cd92-4299-9260-2d7b5201a93c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d83c50d0-933c-482a-9a8c-2f06b639d95d
      X-Bt-Internal-Trace-Id:
      - 699a93770000000069564eb86b304a6c
      X-Amz-Apigw-Id:
      - ZKv6uHiIoAMEX6g=
      Etag:
      - W/"294-0E0A9xirFdL1ghl4aVlWtnhsKbY"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"b08a96c2-cd92-4299-9260-2d7b5201a93c","_xact_id":"1000196704872927712","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-scorer-combined-36bd9adf","slug":"test-ruby-sdk-scorer-combined-36bd9adf","description":null,"created":"2026-02-22T05:26:15.111Z","prompt_data":null,"tags":null,"metadata":null,"function_type":null,"function_data":{"data":{"code":"function
        handler({ output, expected }) { return { score: output === expected ? 1.0
        : 0.0 }; }","type":"inline","runtime_context":{"runtime":"node","version":"18"}},"type":"code"},"origin":null,"function_schema":null}'
  recorded_at: Sun, 22 Feb 2026 05:26:15 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"ea644cc6-ca23-4efe-bf8b-cb5f6121c062"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 020a24e8-1ba6-4342-a04d-bf93b1a16324
      X-Bt-Brainstore-Duration-Ms:
      - '66'
      X-Bt-Api-Duration-Ms:
      - '71'
      X-Bt-Internal-Trace-Id:
      - 699a9377000000007a2906474abcf146
      X-Amz-Apigw-Id:
      - ZKv6zERqoAMEk2w=
      X-Bt-Cursor:
      - aZqTdpB5AAA
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07609556657835147265","_xact_id":"1000196704872861817","audit_data":[{"_xact_id":"1000196704872861817","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-02-22T05:26:14.400Z","dataset_id":"ea644cc6-ca23-4efe-bf8b-cb5f6121c062","expected":"BAR","facets":null,"id":"dcec19de-19f4-408c-b46a-235d3a7fd5eb","input":"bar","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"abe2d7c1-09b8-4dc1-8ca1-ed686ea9b687","span_id":"abe2d7c1-09b8-4dc1-8ca1-ed686ea9b687","tags":null}
        {"_pagination_key":"p07609556657835147264","_xact_id":"1000196704872861817","audit_data":[{"_xact_id":"1000196704872861817","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-02-22T05:26:14.400Z","dataset_id":"ea644cc6-ca23-4efe-bf8b-cb5f6121c062","expected":"FOO","facets":null,"id":"ddd9e45e-be8b-48e4-940d-88684643c9c2","input":"foo","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"22693630-e101-4d16-ac5d-cafc471a16e3","span_id":"22693630-e101-4d16-ac5d-cafc471a16e3","tags":null}
  recorded_at: Sun, 22 Feb 2026 05:26:16 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"ea644cc6-ca23-4efe-bf8b-cb5f6121c062"}]},"select":[{"op":"star"}],"limit":1000,"cursor":"aZqTdpB5AAA"},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 74602398-1a13-4491-b8e7-3b3f5a33d1a2
      X-Bt-Brainstore-Duration-Ms:
      - '35'
      X-Bt-Api-Duration-Ms:
      - '39'
      X-Bt-Internal-Trace-Id:
      - 699a93780000000051f32c2b5db7fb7e
      X-Amz-Apigw-Id:
      - ZKv60EAgIAMESxw=
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 22 Feb 2026 05:26:16 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 8030be72-b86d-4483-be82-bf61c13e19c2
      X-Bt-Internal-Trace-Id:
      - 699a937800000000247780428b9f9f9a
      X-Amz-Apigw-Id:
      - ZKv62H9eoAMEsdg=
      Etag:
      - W/"ff-6vJBGKzQtkVK0GxiGBpsJc6l6u8"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Sun, 22 Feb 2026 05:26:16 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-combined-36bd9adf","ensure_new":true,"dataset_id":"ea644cc6-ca23-4efe-bf8b-cb5f6121c062","dataset_version":"1000196704872861817"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - '0294ae65-a88f-4d66-9f10-07abcf68a295'
      X-Bt-Internal-Trace-Id:
      - 699a93780000000050f930dc883dfd66
      X-Amz-Apigw-Id:
      - ZKv63HPVIAMEdKw=
      Etag:
      - W/"1c2-7xlq6i2ykDKeb96tkrVk4kSwLaA"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c6f086e9-9c03-47ed-8a0c-558c14ef9b21","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-combined-36bd9adf","description":null,"created":"2026-02-22T05:26:16.448Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":"ea644cc6-ca23-4efe-bf8b-cb5f6121c062","dataset_version":"1000196704872861817","public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Sun, 22 Feb 2026 05:26:16 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function/b08a96c2-cd92-4299-9260-2d7b5201a93c/invoke
    body:
      encoding: UTF-8
      string: '{"input":{"input":"bar","expected":"BAR","output":"BAR","metadata":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bt-Function-Meta-Cached:
      - MISS
      X-Amzn-Requestid:
      - b29d8d07-3eac-4c16-b47a-e96ff66ecef6
      X-Bt-Function-Creds-Cached:
      - HIT
    body:
      encoding: UTF-8
      string: '{"score":1}'
  recorded_at: Sun, 22 Feb 2026 05:26:17 GMT
[...]
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/dataset/ea644cc6-ca23-4efe-bf8b-cb5f6121c062
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 00bbf3b8-efe4-4645-8319-11b5ffb6b789
      X-Bt-Internal-Trace-Id:
      - 699a9379000000004d1e64e8b07f5d31
      X-Amz-Apigw-Id:
      - ZKv7CHP-IAMEJRw=
      Etag:
      - W/"15e-c9LHg4P5SGQq//DyAWLIcAO1k8Y"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ea644cc6-ca23-4efe-bf8b-cb5f6121c062","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-ds-combined-36bd9adf","description":null,"created":"2026-02-22T05:26:14.284Z","deleted_at":"2026-02-22T05:26:17.532Z","user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"url_slug":"test-ruby-sdk-ds-combined-36bd9adf"}'
  recorded_at: Sun, 22 Feb 2026 05:26:17 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/function/b08a96c2-cd92-4299-9260-2d7b5201a93c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - fc730819-5d3d-4a85-9e38-28b4a9f4a4fd
      X-Bt-Internal-Trace-Id:
      - 699a9379000000003e436cf76ef322d2
      X-Amz-Apigw-Id:
      - ZKv7EFZlIAMEH3Q=
      Etag:
      - W/"12a-dqsGECrvp0nrbgicVOOF81Fhpf4"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-combined-36bd9adf","id":"b08a96c2-cd92-4299-9260-2d7b5201a93c","created":"2026-02-22T05:26:17.777Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_object_delete":true,"_xact_id":"1000196704873060914"}'
  recorded_at: Sun, 22 Feb 2026 05:26:17 GMT
recorded_with: VCR 6.4.0
