---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - MzhlOWU0MDctMjhiOS00YWU2LWFjY2ItMDMyODBjYjQ1Njkz
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::jxkjs-1761317785234-3bf7d2d02a83
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 14:56:25 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-dataset-id","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"phszpfole9fb"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - N2E2YjNlMzAtZTg1Ni00OThkLTk0ZWUtMjQyNzVhMmM5MGM2
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::z87v2-1761317785380-a48cbfd30b5a
    body:
      encoding: UTF-8
      string: '{"project":{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null},"dataset":{"id":"f6040259-2f57-463c-ad11-5f0976480ae0","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-dataset-id","description":null,"created":"2025-10-24T14:47:37.853Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null},"found_existing":true}'
  recorded_at: Fri, 24 Oct 2025 14:56:25 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/dataset/f6040259-2f57-463c-ad11-5f0976480ae0/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"test","expected":"TEST"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - aa160e99-6d6d-452c-91a8-280321e6cf5a
      X-Bt-Internal-Trace-Id:
      - 68fb93990000000006e4308e7ef2dba9
      X-Amz-Apigw-Id:
      - S9QADHCWoAMEmrQ=
      Etag:
      - W/"34-zSP3DUKqK6dFWsXa5gYfksjpoCg"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["9346985b-ac19-47e4-81cf-8aa0f0f0176a"]}'
  recorded_at: Fri, 24 Oct 2025 14:56:25 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"f6040259-2f57-463c-ad11-5f0976480ae0"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 3cbeb62f-8809-4d04-bf0c-6b8d933d122b
      X-Bt-Internal-Trace-Id:
      - 68fb9399000000007c18ff14acd7a01d
      X-Amz-Apigw-Id:
      - S9QAFHHBIAMEc4g=
      X-Bt-Cursor:
      - aPuRis2rAAA
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07564802288482189312","_xact_id":"1000196021975380235","created":"2025-10-24T14:56:25.536Z","dataset_id":"f6040259-2f57-463c-ad11-5f0976480ae0","expected":"TEST","id":"9346985b-ac19-47e4-81cf-8aa0f0f0176a","input":"test","is_root":true,"metadata":null,"origin":null,"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","root_span_id":"3816c372-b36e-4e05-88a6-5e86254050bb","span_id":"3816c372-b36e-4e05-88a6-5e86254050bb","tags":null}
        {"_pagination_key":"p07564801958911475712","_xact_id":"1000196021970351385","created":"2025-10-24T14:55:09.030Z","dataset_id":"f6040259-2f57-463c-ad11-5f0976480ae0","expected":"TEST","id":"91594e1e-bca7-4d82-a9a9-2d294aea954d","input":"test","is_root":true,"metadata":null,"origin":null,"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","root_span_id":"102467dc-10f4-4a17-94ba-8358587bfe80","span_id":"102467dc-10f4-4a17-94ba-8358587bfe80","tags":null}
        {"_pagination_key":"p07[...]
- request:
    method: post
    uri: https://api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"f6040259-2f57-463c-ad11-5f0976480ae0"}]},"select":[{"op":"star"}],"limit":1000,"cursor":"aPuRis2rAAA"},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ee7ebce2-d49e-45b6-8402-3a2928ec20d7
      X-Bt-Internal-Trace-Id:
      - 68fb939a000000002a0d23106a842c2f
      X-Amz-Apigw-Id:
      - S9QAJFGWIAMEepA=
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 24 Oct 2025 14:56:26 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 767581cb-5312-4433-9d22-6ea68803b93f
      X-Bt-Internal-Trace-Id:
      - 68fb939a0000000036637da068d0ecec
      X-Amz-Apigw-Id:
      - S9QALG1eoAMEURw=
      Etag:
      - W/"ec-ae+104VIsuTGSnPanxA+Dc4IyRE"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
  recorded_at: Fri, 24 Oct 2025 14:56:26 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-exp-id","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - a6a3c77e-8aa5-4e7d-a7bc-de632f8a8ef9
      X-Bt-Internal-Trace-Id:
      - 68fb939a000000007c15a781bf991e9e
      X-Amz-Apigw-Id:
      - S9QANHNTIAMEo-A=
      Etag:
      - W/"187-VCoaDq2XomkBJXKDrbOMGPD69+o"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0050ee11-87f7-4b49-bc97-b4947ddbd6a9","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-exp-id-931124fe","description":null,"created":"2025-10-24T14:56:26.671Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
  recorded_at: Fri, 24 Oct 2025 14:56:26 GMT
recorded_with: VCR 6.3.1
