---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZmFiY2NjYzAtMGRlZS00MmI5LWJlM2MtYjUwNTliZGM1YmVi
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::q45cl-1770238810459-b9631406fadc
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Wed, 04 Feb 2026 21:00:10 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-dataset-id","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"niv3d9z2h3h1"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - NGIxZDM3ZTItYTZmYi00NWIwLWE3M2MtM2NmZTU4Yzk1Yzcx
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::ssx6j-1770238810813-a80db886dd0f
    body:
      encoding: UTF-8
      string: '{"project":{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null},"dataset":{"id":"02c8546e-38f8-46c1-8b09-df9c08854341","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-id","description":null,"created":"2025-12-11T18:38:01.718Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"url_slug":"test-ruby-sdk-dataset-id-675d"},"found_existing":true}'
  recorded_at: Wed, 04 Feb 2026 21:00:11 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/dataset/02c8546e-38f8-46c1-8b09-df9c08854341/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"test","expected":"TEST"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 5476c481-f16b-475b-a308-43281f62e47b
      X-Bt-Internal-Trace-Id:
      - 6983b35b0000000069f8356c1c66e8de
      X-Amz-Apigw-Id:
      - YRj2UGRjIAMESXA=
      Etag:
      - W/"34-P9JaNvsANzEZIKsHgSMenLDGVKM"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["968885fb-cbdc-4c37-ba5d-67704eaae05d"]}'
  recorded_at: Wed, 04 Feb 2026 21:00:11 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"02c8546e-38f8-46c1-8b09-df9c08854341"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 2ed50e04-1ef5-4ba8-b101-19a49f308b64
      X-Bt-Internal-Trace-Id:
      - 6983b35b0000000079b860657f0b097c
      X-Amz-Apigw-Id:
      - YRj2YEMCoAMEpyg=
      X-Bt-Cursor:
      - aTsPiuPtAAA
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07603117802490626048","_xact_id":"1000196606623726311","audit_data":[{"_xact_id":"1000196606623726311","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-02-04T21:00:11.263Z","dataset_id":"02c8546e-38f8-46c1-8b09-df9c08854341","expected":"TEST","facets":null,"id":"968885fb-cbdc-4c37-ba5d-67704eaae05d","input":"test","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"663e2ffd-fa36-40ed-bdc9-51e8de705162","span_id":"663e2ffd-fa36-40ed-bdc9-51e8de705162","tags":null}
        {"_pagination_key":"p07603072546923347968","_xact_id":"1000196605933181156","audit_data":[{"_xact_id":"1000196605933181156","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-02-04T18:04:34.272Z","dataset_id":"02c8546e-38f8-46c1-8b09-df9c08854341","expected":"TEST","facets":null,"id":"1f7e18a5-fdeb-4304-93c8-83473c45c030","input":"test","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-9[...]
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"02c8546e-38f8-46c1-8b09-df9c08854341"}]},"select":[{"op":"star"}],"limit":1000,"cursor":"aTsPiuPtAAA"},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 28998d8f-f492-4268-87e2-13b5588c2a4c
      X-Bt-Internal-Trace-Id:
      - 6983b35c00000000508eee2a97ac93b2
      X-Amz-Apigw-Id:
      - YRj2dH3yIAMEvKg=
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 04 Feb 2026 21:00:12 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f9a84f47-ba5f-4e78-b5f3-1c6da6a286a5
      X-Bt-Internal-Trace-Id:
      - 6983b35c00000000741077af41cb2e42
      X-Amz-Apigw-Id:
      - YRj2eFuaIAMEStA=
      Etag:
      - W/"ff-6vJBGKzQtkVK0GxiGBpsJc6l6u8"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Wed, 04 Feb 2026 21:00:12 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-id","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 258822ff-ff30-473c-9782-be824c7327cc
      X-Bt-Internal-Trace-Id:
      - 6983b35c000000007496449fbe311b2f
      X-Amz-Apigw-Id:
      - YRj2hEDuIAMEMow=
      Etag:
      - W/"189-qXRZojY0TirnXlmRnFnXtcP3Mv0"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"352c8b58-caa6-41b3-8b14-fe4242f7cfa9","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-id-46a8c2b5","description":null,"created":"2026-02-04T21:00:12.730Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Wed, 04 Feb 2026 21:00:12 GMT
recorded_with: VCR 6.4.0
