---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - MjJkMjQxMTAtOGY0NC00NjlmLWIwYjItZTgzMmM2NDgxNWMw
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::l5hxc-1761319757879-4e915b56401c
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:29:17 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-dataset-string","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","project_name":"ruby-sdk-test","description":"Test
        dataset for eval integration"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a4x4kpmslpga"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - MGQ1YTYyMzgtMTU5YS00ZWZmLWE3ODEtMjg0MmZmMDg5ZmI2
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::hq6rh-1761319757997-ac94099633c1
    body:
      encoding: UTF-8
      string: '{"project":{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null},"dataset":{"id":"f096af81-b0c5-4859-b0d1-bc00b3f7498b","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-dataset-string","description":"Test
        dataset for eval integration","created":"2025-10-24T14:47:39.027Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null},"found_existing":true}'
  recorded_at: Fri, 24 Oct 2025 15:29:18 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/dataset/f096af81-b0c5-4859-b0d1-bc00b3f7498b/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"hello","expected":"HELLO"},{"input":"world","expected":"WORLD"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f1dc96d8-18a9-4b0f-9467-02ffea7be904
      X-Bt-Internal-Trace-Id:
      - 68fb9b4e000000004dd488c457cee9fc
      X-Amz-Apigw-Id:
      - S9U0QHgmIAMEagw=
      Etag:
      - W/"5b-x0P9Hh0WNOHwYEqQwJliVm4Ldnw"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["d6e323d1-1f09-46bf-badc-5732448eff41","5c663805-48a0-4349-bf62-b87a36843b0e"]}'
  recorded_at: Fri, 24 Oct 2025 15:29:18 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/dataset?dataset_name=test-ruby-sdk-dataset-string&project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - e4454fc4-05ba-41fa-adb4-2a07a33fbaef
      X-Bt-Internal-Trace-Id:
      - 68fb9b4e0000000057bcf229b9606369
      X-Amz-Apigw-Id:
      - S9U0VFWvIAMEcMA=
      Etag:
      - W/"13f-a0MzO8wjtcLQpHCKiM0ff88CfKo"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"f096af81-b0c5-4859-b0d1-bc00b3f7498b","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-dataset-string","description":"Test
        dataset for eval integration","created":"2025-10-24T14:47:39.027Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
  recorded_at: Fri, 24 Oct 2025 15:29:18 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"f096af81-b0c5-4859-b0d1-bc00b3f7498b"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ddff9c8d-da6e-47da-82fc-0d01131f0a75
      X-Bt-Internal-Trace-Id:
      - 68fb9b4e000000003c1cd6cb1c7019c0
      X-Amz-Apigw-Id:
      - S9U0XHYCoAMEinA=
      X-Bt-Cursor:
      - aPuRi9FZAAA
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07564810762653270017","_xact_id":"1000196022104685824","created":"2025-10-24T15:29:18.118Z","dataset_id":"f096af81-b0c5-4859-b0d1-bc00b3f7498b","expected":"WORLD","id":"5c663805-48a0-4349-bf62-b87a36843b0e","input":"world","is_root":true,"metadata":null,"origin":null,"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","root_span_id":"38465bd9-c88e-4b09-a0f7-fb889f4efb03","span_id":"38465bd9-c88e-4b09-a0f7-fb889f4efb03","tags":null}
        {"_pagination_key":"p07564810762653270016","_xact_id":"1000196022104685824","created":"2025-10-24T15:29:18.117Z","dataset_id":"f096af81-b0c5-4859-b0d1-bc00b3f7498b","expected":"HELLO","id":"d6e323d1-1f09-46bf-badc-5732448eff41","input":"hello","is_root":true,"metadata":null,"origin":null,"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","root_span_id":"9106f621-9914-4274-943f-a72d586cd20a","span_id":"9106f621-9914-4274-943f-a72d586cd20a","tags":null}
        {"_pagination_key":"p[...]
- request:
    method: post
    uri: https://api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"f096af81-b0c5-4859-b0d1-bc00b3f7498b"}]},"select":[{"op":"star"}],"limit":1000,"cursor":"aPuRi9FZAAA"},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c457f1a9-649d-44f1-a8fc-2ea2356abded
      X-Bt-Internal-Trace-Id:
      - 68fb9b4f0000000010ec0ac3b0c27960
      X-Amz-Apigw-Id:
      - S9U0bGDcoAMEfUg=
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 24 Oct 2025 15:29:19 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d6117b03-66e7-438b-8801-eb6dcbc0dd5d
      X-Bt-Internal-Trace-Id:
      - 68fb9b4f000000007f63434de00ce06d
      X-Amz-Apigw-Id:
      - S9U0eGgUIAMEGkw=
      Etag:
      - W/"ec-ae+104VIsuTGSnPanxA+Dc4IyRE"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
  recorded_at: Fri, 24 Oct 2025 15:29:19 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-exp-dataset-string","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d8615d47-0672-4b10-9e32-24e440c40ec6
      X-Bt-Internal-Trace-Id:
      - 68fb9b4f000000002b36117115cc6caf
      X-Amz-Apigw-Id:
      - S9U0fELnoAMEBCA=
      Etag:
      - W/"193-Z59/frEBRXDNCnKijGRdxtfNXfc"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"e0b3fe15-801b-43a7-8c4e-d315e6893b79","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-exp-dataset-string-e44eb59f","description":null,"created":"2025-10-24T15:29:19.744Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
  recorded_at: Fri, 24 Oct 2025 15:29:19 GMT
recorded_with: VCR 6.3.1
