---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ODViYWNjMWUtNTliMS00YTJmLThjOGQtZDBlYTRiMGI4OTE0
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::tjx7g-1765479132544-a4a8482beed9
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Thu, 11 Dec 2025 18:52:12 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-dataset-hash","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"zn0wf0p4difd"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - MTZlZWZmY2ItMzA4MS00MjVlLTg1YzktYTZjZTVlNWI5NzVh
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::nqq6q-1765479132670-ed28fcab4d99
    body:
      encoding: UTF-8
      string: '{"project":{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null},"dataset":{"id":"c6c16b01-8b0a-4831-8c0c-6338462c663e","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-hash","description":null,"created":"2025-12-11T18:38:13.127Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null},"found_existing":true}'
  recorded_at: Thu, 11 Dec 2025 18:52:12 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/dataset/c6c16b01-8b0a-4831-8c0c-6338462c663e/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"test","expected":"TEST"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 8706569d-ffa5-40b4-ac86-e954ab1d144d
      X-Bt-Internal-Trace-Id:
      - 693b12dc00000000386e04bd0d8826e9
      X-Amz-Apigw-Id:
      - Vb_ikFjkIAMELng=
      Etag:
      - W/"34-hRbpQT90PBZSSZrTxzYs4MxTBYs"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["fb8ec781-15ab-42e3-901e-996842e78dab"]}'
  recorded_at: Thu, 11 Dec 2025 18:52:13 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/dataset?dataset_name=test-ruby-sdk-dataset-hash&project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - a9e73bc0-3729-4658-ab77-d2178bdc4cc4
      X-Bt-Internal-Trace-Id:
      - 693b12dd0000000014c27d9e31913b8f
      X-Amz-Apigw-Id:
      - Vb_inHyRIAMEIzw=
      Etag:
      - W/"11e-BHp0obpkBYOr7euBGhB/ltoT2VU"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"c6c16b01-8b0a-4831-8c0c-6338462c663e","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-hash","description":null,"created":"2025-12-11T18:38:13.127Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null}]}'
  recorded_at: Thu, 11 Dec 2025 18:52:13 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"c6c16b01-8b0a-4831-8c0c-6338462c663e"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 4549aaec-5be9-4cd9-af49-7ae1338b0bfe
      X-Bt-Internal-Trace-Id:
      - 693b12dd00000000425ff7ae51c9b10a
      X-Amz-Apigw-Id:
      - Vb_ipGbGIAMEF-Q=
      X-Bt-Cursor:
      - aTsPlQp1AAA
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07582675137692434432","_xact_id":"1000196294693416280","audit_data":[{"_xact_id":"1000196294693416280","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"comments":null,"created":"2025-12-11T18:52:12.922Z","dataset_id":"c6c16b01-8b0a-4831-8c0c-6338462c663e","expected":"TEST","id":"fb8ec781-15ab-42e3-901e-996842e78dab","input":"test","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"af2c9d90-b20b-4709-817f-2dac6ebeaaba","span_id":"af2c9d90-b20b-4709-817f-2dac6ebeaaba","tags":null}
        {"_pagination_key":"p07582672552986738688","_xact_id":"1000196294653976801","audit_data":[{"_xact_id":"1000196294653976801","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"comments":null,"created":"2025-12-11T18:42:11.510Z","dataset_id":"c6c16b01-8b0a-4831-8c0c-6338462c663e","expected":"TEST","id":"71a3ca5e-3006-4d7c-bede-0c30fbecca6f","input":"test","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"555[...]
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"c6c16b01-8b0a-4831-8c0c-6338462c663e"}]},"select":[{"op":"star"}],"limit":1000,"cursor":"aTsPlQp1AAA"},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - cfb4058d-2db4-4807-b99b-1172936d21f4
      X-Bt-Internal-Trace-Id:
      - 693b12dd000000003b8ee6e514cfcb08
      X-Amz-Apigw-Id:
      - Vb_itEBvIAMEs4Q=
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 11 Dec 2025 18:52:13 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 66051d28-2695-4353-923f-c70ee6909506
      X-Bt-Internal-Trace-Id:
      - 693b12dd000000002a7054e4684f8104
      X-Amz-Apigw-Id:
      - Vb_ivHEdIAMEXvA=
      Etag:
      - W/"ec-tjqKTzXkSD9WFkzugu+08z52cpA"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Thu, 11 Dec 2025 18:52:13 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-hash","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 829844df-0702-487b-ba73-7f9c6d16d64b
      X-Bt-Internal-Trace-Id:
      - 693b12de00000000026ea97be6fc542a
      X-Amz-Apigw-Id:
      - Vb_iwFnjoAMETzA=
      Etag:
      - W/"18b-FoPrkOv56GiinRX5Pm5LcsfSBs4"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"7ef85b28-b1c4-4904-bd24-1ed9790d606e","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-hash-46f4c1c0","description":null,"created":"2025-12-11T18:52:14.176Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Thu, 11 Dec 2025 18:52:14 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/experiment-comparison2?experiment_id=7ef85b28-b1c4-4904-bd24-1ed9790d606e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - af77246b-4e26-41d5-984e-94511caca30f
      X-Bt-Internal-Trace-Id:
      - 693b12de00000000248f052bc894374b
      X-Amz-Apigw-Id:
      - Vb_iyGK8oAMEtMA=
      Etag:
      - W/"1a-DVqVcAQOxg1HFdcjY89JEuayOGw"
    body:
      encoding: ASCII-8BIT
      string: '{"scores":{},"metrics":{}}'
  recorded_at: Thu, 11 Dec 2025 18:52:14 GMT
recorded_with: VCR 6.3.1
