---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - YzRhNTgxOWYtNDkyMC00NjM0LTg5NmQtYjJkOTU1M2ExZWIy
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::5nst4-1771737980674-75569d2efa60
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Sun, 22 Feb 2026 05:26:20 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-dataset-id-struct-links-10814f08","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12d3c34jesgi5"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - NWU5NWE5MmMtYzlhYi00ZmYyLWFmNjQtZDFhMjQ0MjFlZTUw
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::kth9f-1771737980789-61418cde1554
    body:
      encoding: UTF-8
      string: '{"project":{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null},"dataset":{"id":"45638a57-0a3d-48b6-97f2-0408d8c8e378","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-id-struct-links-10814f08","description":null,"created":"2026-02-22T05:26:20.840Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"url_slug":"test-ruby-sdk-dataset-id-struct-links-10814f08"},"found_existing":false}'
  recorded_at: Sun, 22 Feb 2026 05:26:20 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/dataset/45638a57-0a3d-48b6-97f2-0408d8c8e378/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"hello","expected":"HELLO"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 91063c7f-b197-4a7d-abe1-e4ee4cbbb92b
      X-Bt-Internal-Trace-Id:
      - 699a937c0000000064c664632ad265fe
      X-Amz-Apigw-Id:
      - ZKv7lHiLIAMEcKQ=
      Etag:
      - W/"34-JnfyvajhMNIheLq2Dhm/TXujiJQ"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["7d806731-8eb8-4d61-9771-0ab1ee32d442"]}'
  recorded_at: Sun, 22 Feb 2026 05:26:21 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"45638a57-0a3d-48b6-97f2-0408d8c8e378"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 03b5d402-f2df-4588-821f-2609541f21a5
      X-Bt-Brainstore-Duration-Ms:
      - '71'
      X-Bt-Api-Duration-Ms:
      - '76'
      X-Bt-Internal-Trace-Id:
      - 699a937d0000000053c83a79a530df75
      X-Amz-Apigw-Id:
      - ZKv7pF4gIAMESRQ=
      X-Bt-Cursor:
      - aZqTfaQwAAA
    body:
      encoding: ASCII-8BIT
      string: '{"_pagination_key":"p07609556688230678528","_xact_id":"1000196704873325616","audit_data":[{"_xact_id":"1000196704873325616","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-02-22T05:26:20.991Z","dataset_id":"45638a57-0a3d-48b6-97f2-0408d8c8e378","expected":"HELLO","facets":null,"id":"7d806731-8eb8-4d61-9771-0ab1ee32d442","input":"hello","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"64f67301-4a2c-4367-bccc-063b4bc969a7","span_id":"64f67301-4a2c-4367-bccc-063b4bc969a7","tags":null}

        '
  recorded_at: Sun, 22 Feb 2026 05:26:21 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"45638a57-0a3d-48b6-97f2-0408d8c8e378"}]},"select":[{"op":"star"}],"limit":1000,"cursor":"aZqTfaQwAAA"},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - '086f3b77-96f6-45cd-aba0-f645e34b9596'
      X-Bt-Brainstore-Duration-Ms:
      - '36'
      X-Bt-Api-Duration-Ms:
      - '39'
      X-Bt-Internal-Trace-Id:
      - 699a937d000000004a48feb06b45db5b
      X-Amz-Apigw-Id:
      - ZKv7rGyaIAMEXcA=
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 22 Feb 2026 05:26:21 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c01c89db-d322-40b5-adb3-ca8e2f360cc6
      X-Bt-Internal-Trace-Id:
      - 699a937d000000006b48a68f7ce21e84
      X-Amz-Apigw-Id:
      - ZKv7sGzzIAMEQvQ=
      Etag:
      - W/"ff-6vJBGKzQtkVK0GxiGBpsJc6l6u8"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Sun, 22 Feb 2026 05:26:21 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-dataset-id-struct-links-10814f08","ensure_new":true,"dataset_id":"45638a57-0a3d-48b6-97f2-0408d8c8e378","dataset_version":"1000196704873325616"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b6066f9b-620a-4237-b57d-18030c3fb0c7
      X-Bt-Internal-Trace-Id:
      - 699a937d000000002ae62b546d1471e3
      X-Amz-Apigw-Id:
      - ZKv7uGJ8IAMETaA=
      Etag:
      - W/"1d1-5PHyY/9KTYlZHvdjV3oHP/46YYg"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"3e08d904-c6d5-47cd-a37c-3b1f9311ab5f","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-dataset-id-struct-links-10814f08","description":null,"created":"2026-02-22T05:26:21.929Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":"45638a57-0a3d-48b6-97f2-0408d8c8e378","dataset_version":"1000196704873325616","public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Sun, 22 Feb 2026 05:26:21 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/dataset/45638a57-0a3d-48b6-97f2-0408d8c8e378
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 6feb83f0-12ea-4e5b-97f8-ce7d14dd571d
      X-Bt-Internal-Trace-Id:
      - 699a937e0000000025083fbb049e3866
      X-Amz-Apigw-Id:
      - ZKv7wGdUIAMEt5Q=
      Etag:
      - W/"176-5DnQSBn9zb/QuEWE+/XkOynKwmY"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"45638a57-0a3d-48b6-97f2-0408d8c8e378","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-id-struct-links-10814f08","description":null,"created":"2026-02-22T05:26:20.840Z","deleted_at":"2026-02-22T05:26:22.290Z","user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"url_slug":"test-ruby-sdk-dataset-id-struct-links-10814f08"}'
  recorded_at: Sun, 22 Feb 2026 05:26:22 GMT
recorded_with: VCR 6.4.0
