---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZTg5ZDc3YjMtOWQwYS00Zjc2LWJmNWMtNWUyNGFmM2E3YWFk
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::f99rl-1761317773725-88129286c996
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 14:56:13 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-dataset-limit","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"j7hn1snxn4fe"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - MzI2MTc5M2EtYzBlZC00MWE2LWJlZWMtNDNlY2E2ZTc5YTg1
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::ldsm2-1761317773852-d8f5876e9ce8
    body:
      encoding: UTF-8
      string: '{"project":{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null},"dataset":{"id":"971ac27f-ef12-488c-a28a-fd37c6b13019","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-dataset-limit","description":null,"created":"2025-10-24T14:47:35.778Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null},"found_existing":true}'
  recorded_at: Fri, 24 Oct 2025 14:56:14 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/dataset/971ac27f-ef12-488c-a28a-fd37c6b13019/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"one","expected":"ONE"},{"input":"two","expected":"TWO"},{"input":"three","expected":"THREE"},{"input":"four","expected":"FOUR"},{"input":"five","expected":"FIVE"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 8a3b004c-1ec0-4a91-93d5-49e49304aa76
      X-Bt-Internal-Trace-Id:
      - 68fb938e0000000051e31900e9e384dc
      X-Amz-Apigw-Id:
      - S9P-RHLJoAMEBqQ=
      Etag:
      - W/"d0-Zp43TO3vRYlFIJcCd9fh9NvGAXg"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["25f51b54-d155-4115-8ae0-928383e1f741","7fdf7250-d842-40ee-8eab-a9f648eca6d3","7e032196-72fb-423c-8a43-cefcbc94527e","2582254b-af6a-4996-b7ec-042eeab7344e","930f8396-5704-4b83-a563-84e559f8adf3"]}'
  recorded_at: Fri, 24 Oct 2025 14:56:16 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/dataset?dataset_name=test-ruby-sdk-dataset-limit&project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 25bc1b5a-56a8-4ebf-89ed-2dbebf90294e
      X-Bt-Internal-Trace-Id:
      - 68fb9390000000000307fd38c217d982
      X-Amz-Apigw-Id:
      - S9P-oEltoAMEsbg=
      Etag:
      - W/"11f-huufLqMkt8ToOqqGPpxgUG6MwLM"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"971ac27f-ef12-488c-a28a-fd37c6b13019","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-dataset-limit","description":null,"created":"2025-10-24T14:47:35.778Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
  recorded_at: Fri, 24 Oct 2025 14:56:16 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"971ac27f-ef12-488c-a28a-fd37c6b13019"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 668b4e0f-ec07-4bd1-bf27-0fae6e184af1
      X-Bt-Internal-Trace-Id:
      - 68fb9390000000002b8b58626423cea4
      X-Amz-Apigw-Id:
      - S9P-rGKmIAMEosA=
      X-Bt-Cursor:
      - aPuRiMjoAAA
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07564802249427976196","_xact_id":"1000196021974784315","created":"2025-10-24T14:56:14.129Z","dataset_id":"971ac27f-ef12-488c-a28a-fd37c6b13019","expected":"FIVE","id":"930f8396-5704-4b83-a563-84e559f8adf3","input":"five","is_root":true,"metadata":null,"origin":null,"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","root_span_id":"c136520a-9501-43d6-a923-c3034c15bc4a","span_id":"c136520a-9501-43d6-a923-c3034c15bc4a","tags":null}
        {"_pagination_key":"p07564802249427976195","_xact_id":"1000196021974784315","created":"2025-10-24T14:56:14.129Z","dataset_id":"971ac27f-ef12-488c-a28a-fd37c6b13019","expected":"FOUR","id":"2582254b-af6a-4996-b7ec-042eeab7344e","input":"four","is_root":true,"metadata":null,"origin":null,"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","root_span_id":"73f84b71-379a-44f9-b7b1-21facbfd5b10","span_id":"73f84b71-379a-44f9-b7b1-21facbfd5b10","tags":null}
        {"_pagination_key":"p07[...]
- request:
    method: post
    uri: https://api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b59a1b7f-4298-48ee-acbe-fcc12e2efe6f
      X-Bt-Internal-Trace-Id:
      - 68fb93950000000021cdcf5380423bf5
      X-Amz-Apigw-Id:
      - S9P_WHqwoAMEONQ=
      Etag:
      - W/"ec-ae+104VIsuTGSnPanxA+Dc4IyRE"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
  recorded_at: Fri, 24 Oct 2025 14:56:21 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-exp-limit","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - ea427935-e5ed-4813-a446-af2ff645961d
      X-Bt-Internal-Trace-Id:
      - 68fb9395000000001ff566e93fde192f
      X-Amz-Apigw-Id:
      - S9P_YEk1oAMEdwA=
      Etag:
      - W/"18a-xjNxxvKumFZk9e0DikifnZQeMKk"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c18cdb85-c058-4784-8f21-ea35c9ce22ad","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-exp-limit-42814fc0","description":null,"created":"2025-10-24T14:56:21.379Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
  recorded_at: Fri, 24 Oct 2025 14:56:21 GMT
recorded_with: VCR 6.3.1
