---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - Mjk1M2JkOTktYzdlNi00MmRjLWE2ZDAtMjYwNGQ3MGY2NTBk
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::xw2vz-1765479107253-a778c2779638
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Thu, 11 Dec 2025 18:51:47 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-dataset-string","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","project_name":"ruby-sdk-test","description":"Test
        dataset for eval integration"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3cecse9d58ga"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - MGFlZGJiNzUtMzUzNy00NzkzLWE1ZTYtYzQwNWY3ZDkzYjI1
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::2x2z8-1765479107388-069096558db4
    body:
      encoding: UTF-8
      string: '{"project":{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null},"dataset":{"id":"6371684d-d959-4681-a6ff-f0b43917995d","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-string","description":"Test
        dataset for eval integration","created":"2025-12-11T18:38:10.725Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null},"found_existing":true}'
  recorded_at: Thu, 11 Dec 2025 18:51:47 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/dataset/6371684d-d959-4681-a6ff-f0b43917995d/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"hello","expected":"HELLO"},{"input":"world","expected":"WORLD"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 369c7342-d351-4e8e-989f-c4cd66d92298
      X-Bt-Internal-Trace-Id:
      - 693b12c3000000003ccd2871e22796ac
      X-Amz-Apigw-Id:
      - Vb_enHndoAMEdYQ=
      Etag:
      - W/"5b-2m7QKX8U4Sn92w3Rk91djUTO9Eg"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["08c0aa1f-dbcd-4c48-9262-190cdca8ac4a","1cb0d6fd-0d41-4966-a6db-b40bfa47060b"]}'
  recorded_at: Thu, 11 Dec 2025 18:51:48 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/dataset?dataset_name=test-ruby-sdk-dataset-string&project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 1d337f06-9657-407e-967e-4513847dbd90
      X-Bt-Internal-Trace-Id:
      - 693b12c4000000004e553f45399aed82
      X-Amz-Apigw-Id:
      - Vb_euGKHIAMEtPw=
      Etag:
      - W/"13f-RIfUI4VkZaLf/V1PtD6y/dMQruE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"6371684d-d959-4681-a6ff-f0b43917995d","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-dataset-string","description":"Test
        dataset for eval integration","created":"2025-12-11T18:38:10.725Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null}]}'
  recorded_at: Thu, 11 Dec 2025 18:51:48 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"6371684d-d959-4681-a6ff-f0b43917995d"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9398741f-83a0-4aa6-bbd8-cbbe796e14fd
      X-Bt-Internal-Trace-Id:
      - 693b12c40000000009ef314bcd0849cb
      X-Amz-Apigw-Id:
      - Vb_ewGKnoAMElYA=
      X-Bt-Cursor:
      - aTsPkwIhAAA
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07582675028953071617","_xact_id":"1000196294691757049","audit_data":[{"_xact_id":"1000196294691757049","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"comments":null,"created":"2025-12-11T18:51:47.591Z","dataset_id":"6371684d-d959-4681-a6ff-f0b43917995d","expected":"WORLD","id":"1cb0d6fd-0d41-4966-a6db-b40bfa47060b","input":"world","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"e4bb7fd8-50de-4124-a3c5-931c7ceb86ba","span_id":"e4bb7fd8-50de-4124-a3c5-931c7ceb86ba","tags":null}
        {"_pagination_key":"p07582675028953071616","_xact_id":"1000196294691757049","audit_data":[{"_xact_id":"1000196294691757049","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"comments":null,"created":"2025-12-11T18:51:47.590Z","dataset_id":"6371684d-d959-4681-a6ff-f0b43917995d","expected":"HELLO","id":"08c0aa1f-dbcd-4c48-9262-190cdca8ac4a","input":"hello","is_root":true,"metadata":null,"origin":null,"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","root_span_id":"c[...]
- request:
    method: post
    uri: https://staging-api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"6371684d-d959-4681-a6ff-f0b43917995d"}]},"select":[{"op":"star"}],"limit":1000,"cursor":"aTsPkwIhAAA"},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 48f87e42-a278-4bae-867b-f63e780182b8
      X-Bt-Internal-Trace-Id:
      - 693b12c40000000031d3251d4a246aef
      X-Amz-Apigw-Id:
      - Vb_e0EkToAMEUJw=
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 11 Dec 2025 18:51:48 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 673f3053-6ee6-4bff-a61d-b81aee4c4a4b
      X-Bt-Internal-Trace-Id:
      - 693b12c5000000004bb0d83a43a9258e
      X-Amz-Apigw-Id:
      - Vb_e2E2IoAMEDCQ=
      Etag:
      - W/"ec-tjqKTzXkSD9WFkzugu+08z52cpA"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Thu, 11 Dec 2025 18:51:49 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-dataset-string","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 8aaf4ee7-b97c-4f17-a087-ed53372af9a2
      X-Bt-Internal-Trace-Id:
      - 693b12c50000000040b24a9c4eeefefb
      X-Amz-Apigw-Id:
      - Vb_e3FWMoAMEBMA=
      Etag:
      - W/"195-ymcPv1rezYbwcUZ5rYE1RiOE+k8"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"2784b73f-1107-4860-92bb-9984b5b0f14d","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-dataset-string-c13d128d","description":null,"created":"2025-12-11T18:51:49.265Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Thu, 11 Dec 2025 18:51:49 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/experiment-comparison2?experiment_id=2784b73f-1107-4860-92bb-9984b5b0f14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - cc1ac2aa-99af-406e-8602-926c17de4a33
      X-Bt-Internal-Trace-Id:
      - 693b12c5000000001e8b7136abc201ac
      X-Amz-Apigw-Id:
      - Vb_e5Gk7IAMEYVw=
      Etag:
      - W/"1a-DVqVcAQOxg1HFdcjY89JEuayOGw"
    body:
      encoding: ASCII-8BIT
      string: '{"scores":{},"metrics":{}}'
  recorded_at: Thu, 11 Dec 2025 18:51:49 GMT
recorded_with: VCR 6.3.1
