---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - MGZhNGMwZTktMDE1Ny00YzI5LTk5NzAtMWY2YTAzOGYyMTlj
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::j9trb-1761319757422-46a1f9b7773c
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:29:17 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 2aec001d-65e6-482a-a605-ae28d5b17fb9
      X-Bt-Internal-Trace-Id:
      - 68fb9b4d00000000395bad9c30ed2b54
      X-Amz-Apigw-Id:
      - S9U0LGNioAMET4A=
      Etag:
      - W/"ec-ae+104VIsuTGSnPanxA+Dc4IyRE"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
  recorded_at: Fri, 24 Oct 2025 15:29:17 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-method-scorer","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 39844976-f877-44c8-ba75-ff3f4ab32114
      X-Bt-Internal-Trace-Id:
      - 68fb9b4d0000000018f2586245d2929a
      X-Amz-Apigw-Id:
      - S9U0MG8hIAMEe4g=
      Etag:
      - W/"18e-s3ydO+uZp8uu5fS7tsnHDojbdAE"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"9b8e0f85-441f-49c7-94d6-9936e467dbef","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-method-scorer-912f9b8f","description":null,"created":"2025-10-24T15:29:17.789Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
  recorded_at: Fri, 24 Oct 2025 15:29:17 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer test-key
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"jm2hq5zxij5d"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - MTcxZDllNTItMGMzNC00ZmI5LWI5MDQtY2VkYjc3YmI4NGJm
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::2bc2p-1761447045192-643982c14de3
    body:
      encoding: UTF-8
      string: 'Failed to validate Cognito JWT: Error: JWT string does not consist
        of exactly 3 parts (header, payload, signature) [timestamp=1761447045.258]
        [request_id=iad1::2bc2p-1761447045192-643982c14de3]'
  recorded_at: Sun, 26 Oct 2025 02:50:45 GMT
recorded_with: VCR 6.3.1
