---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ODU5NThlZjQtYTc4Mi00NzNjLThhNjUtZGM0MDI3ZmY0ZjU5
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::6wxfx-1761319768580-d594fd959f1b
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:29:28 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - cd8a7e4c-d3ef-4fa0-b138-2e4e5930e4fd
      X-Bt-Internal-Trace-Id:
      - 68fb9b58000000004ca6a91581398951
      X-Amz-Apigw-Id:
      - S9U17EeoIAMEONQ=
      Etag:
      - W/"ec-ae+104VIsuTGSnPanxA+Dc4IyRE"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
  recorded_at: Fri, 24 Oct 2025 15:29:28 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-basic","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 5f77d605-11b4-4416-9ae5-73957472a435
      X-Bt-Internal-Trace-Id:
      - 68fb9b5800000000590a298f49ec6f62
      X-Amz-Apigw-Id:
      - S9U18EhuIAMEevw=
      Etag:
      - W/"186-fXNEnjeggAwKUpBVc0djCdNIhgM"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"d16ca3bc-8cf3-4567-ac85-cf27a862f36e","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-basic-1e6875b4","description":null,"created":"2025-10-24T15:29:28.940Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
  recorded_at: Fri, 24 Oct 2025 15:29:28 GMT
recorded_with: VCR 6.3.1
