---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZjIxNzFmNzgtNjU5ZC00NGFjLWE0MjEtM2Y5MWI5NWRmZjlj
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::gbx7c-1765478881579-7cda303d37ab
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Thu, 11 Dec 2025 18:48:01 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 07c90f66-bcd7-4c38-9f55-b550fe8ed054
      X-Bt-Internal-Trace-Id:
      - 693b11e100000000225d22c7d41bee54
      X-Amz-Apigw-Id:
      - Vb-7WF6YIAMEZdQ=
      Etag:
      - W/"ec-tjqKTzXkSD9WFkzugu+08z52cpA"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Thu, 11 Dec 2025 18:48:01 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-basic","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 92902d17-2a5d-489a-95fc-15b8ecbfbf1b
      X-Bt-Internal-Trace-Id:
      - 693b11e20000000050a8c81ac06cecf0
      X-Amz-Apigw-Id:
      - Vb-7YFgDIAMETUw=
      Etag:
      - W/"188-QCOEEZALhJJSyqDl5RSYi9JLMkk"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5fde71d5-a520-42f1-97cd-dee3bc7f6d51","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-basic-ddecc4ee","description":null,"created":"2025-12-11T18:48:02.206Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Thu, 11 Dec 2025 18:48:02 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/experiment-comparison2?experiment_id=5fde71d5-a520-42f1-97cd-dee3bc7f6d51
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 3a72ba7e-a6fe-4552-be8e-1f25237b61be
      X-Bt-Internal-Trace-Id:
      - 693b11e20000000013c8112361ad9438
      X-Amz-Apigw-Id:
      - Vb-7bEw5oAMENOA=
      Etag:
      - W/"1a-DVqVcAQOxg1HFdcjY89JEuayOGw"
    body:
      encoding: ASCII-8BIT
      string: '{"scores":{},"metrics":{}}'
  recorded_at: Thu, 11 Dec 2025 18:48:03 GMT
recorded_with: VCR 6.3.1
