---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - YWIxMGM1ZDMtZmYyZS00MGE5LWE0MzYtYWNhNTAxZDIyMDY3
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::ssq28-1761317784547-08316852cdd8
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 14:56:24 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - dcd86ad5-1e18-4201-bf12-f83d79efee04
      X-Bt-Internal-Trace-Id:
      - 68fb9398000000007f7be33c69c6c9ec
      X-Amz-Apigw-Id:
      - S9P_6FqRoAMES0g=
      Etag:
      - W/"ec-ae+104VIsuTGSnPanxA+Dc4IyRE"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
  recorded_at: Fri, 24 Oct 2025 14:56:24 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-tracing","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - ca5dec01-ab9e-4531-bd75-7be9f1494570
      X-Bt-Internal-Trace-Id:
      - 68fb9398000000007e771c5d3897af79
      X-Amz-Apigw-Id:
      - S9P_8E--IAMEDbA=
      Etag:
      - W/"188-hK4P/7uBVbj+lody4K3OC3DKvqE"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"25a855e8-ce92-43f6-905e-1ad57d41f2da","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-tracing-9b0c31c9","description":null,"created":"2025-10-24T14:56:25.146Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
  recorded_at: Fri, 24 Oct 2025 14:56:25 GMT
recorded_with: VCR 6.3.1
