---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - M2FkMzkyMGItMTNkMS00NDgyLTg5MmYtMWZkYWMyNjU0MTYw
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::zsshg-1774541882513-938767795d4c
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Thu, 26 Mar 2026 16:18:02 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 0c45d16f-46dd-4b4e-a1b9-d38718cb1ab6
      X-Bt-Internal-Trace-Id:
      - 69c55c3a000000004836d38690c01adc
      X-Amz-Apigw-Id:
      - a1tZQGLpoAMEYhg=
      Etag:
      - W/"ff-6vJBGKzQtkVK0GxiGBpsJc6l6u8"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Thu, 26 Mar 2026 16:18:03 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","ensure_new":true,"name":"test-ruby-sdk-parameters"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - e34b0af4-7a1a-4be9-a06d-5682cfe0db85
      X-Bt-Internal-Trace-Id:
      - 69c55c3b0000000056c4c5907b1021fe
      X-Amz-Apigw-Id:
      - a1tZSFfcoAMEBFQ=
      Etag:
      - W/"1b3-e9902DkgGn59zhHGLbfc2vRo2AM"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"cf0493d6-32e5-446d-afdd-aff99dd0b7a4","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-parameters","description":null,"created":"2026-03-26T16:18:03.214Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"parameters_id":null,"parameters_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Thu, 26 Mar 2026 16:18:03 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/experiment/cf0493d6-32e5-446d-afdd-aff99dd0b7a4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - fc8cdc56-3942-4bb9-822e-0808b68cc6d3
      X-Bt-Internal-Trace-Id:
      - 69c55c3b0000000048a618ffbf326592
      X-Amz-Apigw-Id:
      - a1tZWHcooAMEHCA=
      Etag:
      - W/"1c9-HlESAHH2oC57Uq8AhF38PzEAr8I"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"cf0493d6-32e5-446d-afdd-aff99dd0b7a4","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-parameters","description":null,"created":"2026-03-26T16:18:03.214Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":"2026-03-26T16:18:03.707Z","dataset_id":null,"dataset_version":null,"parameters_id":null,"parameters_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Thu, 26 Mar 2026 16:18:03 GMT
recorded_with: VCR 6.4.0
