---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - MGY2YjFlNGItNTg5OC00Nzk5LWJhZWYtMWQ3NmQ2MDFmZjZl
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::ndz2l-1765478898894-61ab2df61395
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Thu, 11 Dec 2025 18:48:18 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 38476a7a-edb1-4f71-a226-27b006d30d8a
      X-Bt-Internal-Trace-Id:
      - 693b11f30000000046cb6683f778d08b
      X-Amz-Apigw-Id:
      - Vb--CHxZoAMENiA=
      Etag:
      - W/"ec-tjqKTzXkSD9WFkzugu+08z52cpA"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Thu, 11 Dec 2025 18:48:19 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-tracing","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 59ee9bbe-b3b2-4ed9-b3e6-1797010132c7
      X-Bt-Internal-Trace-Id:
      - 693b11f30000000067373f35df76b8b2
      X-Amz-Apigw-Id:
      - Vb--EH-3IAMER5w=
      Etag:
      - W/"18a-LGpZAdi5eoEgLzm//Tz9TCmUy3I"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"35c62596-bb92-4779-9753-fc27a4f17f00","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-tracing-fdfd53c5","description":null,"created":"2025-12-11T18:48:19.354Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Thu, 11 Dec 2025 18:48:19 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/experiment-comparison2?experiment_id=35c62596-bb92-4779-9753-fc27a4f17f00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - be2b270c-788d-475e-94f3-8875cb1cd2af
      X-Bt-Internal-Trace-Id:
      - 693b11f3000000005407d02b044e44d6
      X-Amz-Apigw-Id:
      - Vb--GGoZoAMEIEA=
      Etag:
      - W/"1a-DVqVcAQOxg1HFdcjY89JEuayOGw"
    body:
      encoding: ASCII-8BIT
      string: '{"scores":{},"metrics":{}}'
  recorded_at: Thu, 11 Dec 2025 18:48:19 GMT
recorded_with: VCR 6.3.1
