---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - OTVkY2VhYTItNjEzZC00NDBhLWIzN2MtYzIyNjRjNDJkZDBi
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::xx86l-1771737968962-92fc89121174
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Sun, 22 Feb 2026 05:26:09 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 3baab747-3215-4d44-b379-20f348f0785b
      X-Bt-Internal-Trace-Id:
      - 699a9371000000005fc39f74dd20d3ae
      X-Amz-Apigw-Id:
      - ZKv5wFVyIAMEWJQ=
      Etag:
      - W/"10d-SEV8zdYyFxsGQVbFPF9yW/SqrIE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Sun, 22 Feb 2026 05:26:09 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-id-mixed-9bc21c93","name":"test-ruby-sdk-scorer-id-mixed-9bc21c93","function_data":{"type":"code","data":{"type":"inline","runtime_context":{"runtime":"node","version":"18"},"code":"function
        handler({ output, expected }) { return { score: output === expected ? 1.0
        : 0.0 }; }"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - fa64800f-02f5-47c5-9218-87cc0451416f
      X-Bt-Internal-Trace-Id:
      - 699a937100000000781f5178758f641e
      X-Amz-Apigw-Id:
      - ZKv5yFevoAMEXCw=
      Etag:
      - W/"218-L0hwttQ5L9BRvJd3JPJwxcJ8pxs"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-id-mixed-9bc21c93","name":"test-ruby-sdk-scorer-id-mixed-9bc21c93","function_data":{"type":"code","data":{"type":"inline","runtime_context":{"runtime":"node","version":"18"},"code":"function
        handler({ output, expected }) { return { score: output === expected ? 1.0
        : 0.0 }; }"}},"id":"e7dca03a-a45d-437e-850c-857931e31da2","created":"2026-02-22T05:26:09.578Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196704872530177"}'
  recorded_at: Sun, 22 Feb 2026 05:26:09 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function/e7dca03a-a45d-437e-850c-857931e31da2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 550c8618-d846-4380-b6f6-9aa7cafec4b4
      X-Bt-Internal-Trace-Id:
      - 699a937200000000188cc523e936aef5
      X-Amz-Apigw-Id:
      - ZKv53GgtoAMEjwg=
      Etag:
      - W/"294-zElYd4hk8zYdaBWkh2yMrYpxK0g"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"e7dca03a-a45d-437e-850c-857931e31da2","_xact_id":"1000196704872530177","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-scorer-id-mixed-9bc21c93","slug":"test-ruby-sdk-scorer-id-mixed-9bc21c93","description":null,"created":"2026-02-22T05:26:09.578Z","prompt_data":null,"tags":null,"metadata":null,"function_type":null,"function_data":{"data":{"code":"function
        handler({ output, expected }) { return { score: output === expected ? 1.0
        : 0.0 }; }","type":"inline","runtime_context":{"runtime":"node","version":"18"}},"type":"code"},"origin":null,"function_schema":null}'
  recorded_at: Sun, 22 Feb 2026 05:26:10 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c24031ea-c6ae-4217-957c-fe289b6b11d5
      X-Bt-Internal-Trace-Id:
      - 699a93720000000001f1bb9df60d2f5e
      X-Amz-Apigw-Id:
      - ZKv59GGnoAMEmNQ=
      Etag:
      - W/"ff-6vJBGKzQtkVK0GxiGBpsJc6l6u8"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Sun, 22 Feb 2026 05:26:10 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-scorer-id-mixed-9bc21c93","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - afb0a9c0-5ea6-4fb7-9e47-ba3ee28a8c5e
      X-Bt-Internal-Trace-Id:
      - 699a93720000000023331074777ca0f5
      X-Amz-Apigw-Id:
      - ZKv5-F-hoAMEJaw=
      Etag:
      - W/"196-R7SmGouyYsCaaGomVFlFMjkcw8o"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"87a0e8cc-4ab8-40da-ae25-b63915245d91","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-scorer-id-mixed-9bc21c93","description":null,"created":"2026-02-22T05:26:10.753Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Sun, 22 Feb 2026 05:26:10 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function/e7dca03a-a45d-437e-850c-857931e31da2/invoke
    body:
      encoding: UTF-8
      string: '{"input":{"input":"hello","expected":"HELLO","output":"HELLO","metadata":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bt-Function-Meta-Cached:
      - MISS
      X-Amzn-Requestid:
      - 6dc91afa-e722-468b-8aec-6bc6c9d1ee31
      X-Bt-Function-Creds-Cached:
      - HIT
    body:
      encoding: UTF-8
      string: '{"score":1}'
  recorded_at: Sun, 22 Feb 2026 05:26:11 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/function/e7dca03a-a45d-437e-850c-857931e31da2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 4cba4ec9-78ef-4828-a2e2-049fe61d1b48
      X-Bt-Internal-Trace-Id:
      - 699a937300000000759e42701437647a
      X-Amz-Apigw-Id:
      - ZKv6LFxvIAMEhiw=
      Etag:
      - W/"12a-Rwjs88iCS9zNtYYncuFDuRUvNKE"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-id-mixed-9bc21c93","id":"e7dca03a-a45d-437e-850c-857931e31da2","created":"2026-02-22T05:26:12.102Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_object_delete":true,"_xact_id":"1000196704872728621"}'
  recorded_at: Sun, 22 Feb 2026 05:26:12 GMT
recorded_with: VCR 6.4.0
