---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZGIyZGVlMjAtNjc0My00YTlhLWFiYTgtMjgxOGUzMjU2NDY5
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::47w8r-1771737977898-63699c5777c9
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Sun, 22 Feb 2026 05:26:17 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/project?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 4d4b636d-d95b-4869-a055-8d9d9f290d29
      X-Bt-Internal-Trace-Id:
      - 699a937a00000000200dc074e4e32dce
      X-Amz-Apigw-Id:
      - ZKv7IEMAIAMEIrg=
      Etag:
      - W/"10d-SEV8zdYyFxsGQVbFPF9yW/SqrIE"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}]}'
  recorded_at: Sun, 22 Feb 2026 05:26:18 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-id-eval-e7378317","name":"test-ruby-sdk-scorer-id-eval-e7378317","function_data":{"type":"code","data":{"type":"inline","runtime_context":{"runtime":"node","version":"18"},"code":"function
        handler({ output, expected }) { return { score: output === expected ? 1.0
        : 0.0 }; }"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 3a1d8c4e-fd25-4c88-8697-46712e9f19b2
      X-Bt-Internal-Trace-Id:
      - 699a937a0000000075d18d438cc2e5d3
      X-Amz-Apigw-Id:
      - ZKv7KG0ZIAMEbtg=
      Etag:
      - W/"216-ioDvkI9Tm3+XaHch5nuGNbdpD9U"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-id-eval-e7378317","name":"test-ruby-sdk-scorer-id-eval-e7378317","function_data":{"type":"code","data":{"type":"inline","runtime_context":{"runtime":"node","version":"18"},"code":"function
        handler({ output, expected }) { return { score: output === expected ? 1.0
        : 0.0 }; }"}},"id":"98499247-287a-4b29-baa0-49c09c0af577","created":"2026-02-22T05:26:18.310Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_xact_id":"1000196704873126817"}'
  recorded_at: Sun, 22 Feb 2026 05:26:18 GMT
- request:
    method: get
    uri: https://staging-api.braintrust.dev/v1/function/98499247-287a-4b29-baa0-49c09c0af577
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 4ab3bde3-a987-49bf-96dc-26becd9ef390
      X-Bt-Internal-Trace-Id:
      - 699a937a000000007a25b9d5767ddeef
      X-Amz-Apigw-Id:
      - ZKv7ME0foAMEsyQ=
      Etag:
      - W/"292-tsQUmcHjG+qtuBKiy/ETWrN5sVg"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"98499247-287a-4b29-baa0-49c09c0af577","_xact_id":"1000196704873126817","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","log_id":"p","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"test-ruby-sdk-scorer-id-eval-e7378317","slug":"test-ruby-sdk-scorer-id-eval-e7378317","description":null,"created":"2026-02-22T05:26:18.310Z","prompt_data":null,"tags":null,"metadata":null,"function_type":null,"function_data":{"data":{"code":"function
        handler({ output, expected }) { return { score: output === expected ? 1.0
        : 0.0 }; }","type":"inline","runtime_context":{"runtime":"node","version":"18"}},"type":"code"},"origin":null,"function_schema":null}'
  recorded_at: Sun, 22 Feb 2026 05:26:18 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 0aabf48f-aa46-4c06-a1cb-0676e9945121
      X-Bt-Internal-Trace-Id:
      - 699a937a000000007355ddb0ce4ed93f
      X-Amz-Apigw-Id:
      - ZKv7QEX-oAMEmpQ=
      Etag:
      - W/"ff-6vJBGKzQtkVK0GxiGBpsJc6l6u8"
      X-Bt-Found-Existing:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ac86d18e-af78-4caf-918d-b89ad108ec67","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test","description":null,"created":"2025-10-22T03:32:12.324Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
  recorded_at: Sun, 22 Feb 2026 05:26:18 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/experiment
    body:
      encoding: UTF-8
      string: '{"project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-scorer-id-e7378317","ensure_new":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 3c098cac-e850-4abf-b0d7-cde83b38a2b7
      X-Bt-Internal-Trace-Id:
      - 699a937b0000000020b6ea0d41f886cf
      X-Amz-Apigw-Id:
      - ZKv7SFrIIAMEuQg=
      Etag:
      - W/"190-mksWxMJu/NLyZjaIhmJ/9bRF1+Q"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"4ab78e22-425e-424f-9042-292f30e596b6","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","name":"test-ruby-sdk-exp-scorer-id-e7378317","description":null,"created":"2026-02-22T05:26:19.154Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
  recorded_at: Sun, 22 Feb 2026 05:26:19 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/function/98499247-287a-4b29-baa0-49c09c0af577/invoke
    body:
      encoding: UTF-8
      string: '{"input":{"input":"hello","expected":"HELLO","output":"HELLO","metadata":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bt-Function-Meta-Cached:
      - MISS
      X-Amzn-Requestid:
      - 32778950-f3ec-4470-9c91-62dea6c5482a
      X-Bt-Function-Creds-Cached:
      - HIT
    body:
      encoding: UTF-8
      string: '{"score":1}'
  recorded_at: Sun, 22 Feb 2026 05:26:20 GMT
[...]
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/function/98499247-287a-4b29-baa0-49c09c0af577
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - '059baad6-ca2a-4f92-a09f-6a8bd475fcc5'
      X-Bt-Internal-Trace-Id:
      - 699a937c00000000410ff2dd4f233841
      X-Amz-Apigw-Id:
      - ZKv7gHvXoAMEjpw=
      Etag:
      - W/"129-yCljjWiYD/8jtGHOVnUT/fEZqA0"
    body:
      encoding: ASCII-8BIT
      string: '{"log_id":"p","project_id":"ac86d18e-af78-4caf-918d-b89ad108ec67","slug":"test-ruby-sdk-scorer-id-eval-e7378317","id":"98499247-287a-4b29-baa0-49c09c0af577","created":"2026-02-22T05:26:20.537Z","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","_object_delete":true,"_xact_id":"1000196704873259557"}'
  recorded_at: Sun, 22 Feb 2026 05:26:20 GMT
recorded_with: VCR 6.4.0
