---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - NThiMTA3OWYtNGQzYS00MTQ1LThlM2UtMDdlNDMzMjhjZGI5
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::2wgwr-1761318600780-5125b0b7908a
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:10:00 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-create","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","project_name":"ruby-sdk-test","description":"Test
        dataset for create"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3qm311myyxfs"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - YjRhOTA3ODUtZTFhZC00MzAyLWFjNGQtZDhmZjQ1Nzg0OGI2
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::s564p-1761318600924-dc1326402fc6
    body:
      encoding: UTF-8
      string: '{"project":{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null},"dataset":{"id":"a650f7a1-7a21-4ff1-aad7-a422ab6ce6cc","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-create","description":"Test
        dataset for create","created":"2025-10-24T14:47:42.405Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null},"found_existing":true}'
  recorded_at: Fri, 24 Oct 2025 15:10:01 GMT
recorded_with: VCR 6.3.1
