---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - YzUwNTcwYWEtMzI4MS00ODQ4LWFmMzItMzA0ODRlMzkzNmRj
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::zz4gh-1761318601590-5e96fa65b486
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:10:01 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-fetch","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"m9n385l317f6"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - NWJkZjdjZDMtOGMzOS00NDQ5LTlhMjYtODljMjZmYzg2MWNk
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::9xvqt-1761318601709-6c8e97effd79
    body:
      encoding: UTF-8
      string: '{"project":{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null},"dataset":{"id":"8919cfc5-32cf-4755-a88e-6afaef2f2033","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-fetch","description":null,"created":"2025-10-24T14:47:41.168Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null},"found_existing":true}'
  recorded_at: Fri, 24 Oct 2025 15:10:04 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/dataset/8919cfc5-32cf-4755-a88e-6afaef2f2033/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"test1","expected":"TEST1"},{"input":"test2","expected":"TEST2"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 0c3aa744-fb41-42df-b506-69837c705437
      X-Bt-Internal-Trace-Id:
      - 68fb96cc00000000354b155da575819a
      X-Amz-Apigw-Id:
      - S9R__FDroAMEbtA=
      Etag:
      - W/"5b-tctl+pmZUvvTSc2GUSQfSGrwYXo"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["8ce6de3d-0dd7-4103-ae98-693ae6909504","b7c4c992-db2b-42b3-989c-2e28e5c7a999"]}'
  recorded_at: Fri, 24 Oct 2025 15:10:04 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"8919cfc5-32cf-4755-a88e-6afaef2f2033"}]},"select":[{"op":"star"}],"limit":1000},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 22ec831c-97b7-40dc-9948-bbe7b7f658d0
      X-Bt-Internal-Trace-Id:
      - 68fb96cc000000003602b2cbd21aab23
      X-Amz-Apigw-Id:
      - S9SACG2zIAMEeZA=
      X-Bt-Cursor:
      - aPuRjdb5AAA
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07564805802668851201","_xact_id":"1000196022029002468","created":"2025-10-24T15:10:04.329Z","dataset_id":"8919cfc5-32cf-4755-a88e-6afaef2f2033","expected":"TEST2","id":"b7c4c992-db2b-42b3-989c-2e28e5c7a999","input":"test2","is_root":true,"metadata":null,"origin":null,"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","root_span_id":"2d5e6ec5-bcc7-4a46-8ce4-3ba53dd87ee2","span_id":"2d5e6ec5-bcc7-4a46-8ce4-3ba53dd87ee2","tags":null}
        {"_pagination_key":"p07564805802668851200","_xact_id":"1000196022029002468","created":"2025-10-24T15:10:04.329Z","dataset_id":"8919cfc5-32cf-4755-a88e-6afaef2f2033","expected":"TEST1","id":"8ce6de3d-0dd7-4103-ae98-693ae6909504","input":"test1","is_root":true,"metadata":null,"origin":null,"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","root_span_id":"39757846-c3c7-4736-80d8-c9fc920a1390","span_id":"39757846-c3c7-4736-80d8-c9fc920a1390","tags":null}
        {"_pagination_key":"p[...]
