---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZWU0ODI4MmItNzkzZS00OTVkLWEzMTktNzJmYWUyMGY2OTM4
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::7c9nk-1761318605063-ea8be484160e
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:10:05 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-pagination","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"n89hbxbbemfb"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - Nzg4MDdlZDUtYTcxOS00MjBkLTg0MmYtYmMzMjg2OWRmYjNi
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::pgd6f-1761318605188-25b53a44898a
    body:
      encoding: UTF-8
      string: '{"project":{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null},"dataset":{"id":"59038402-3b3a-4902-b6ca-e7119568b7ba","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-pagination","description":null,"created":"2025-10-24T14:47:44.994Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null},"found_existing":true}'
  recorded_at: Fri, 24 Oct 2025 15:10:05 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/dataset/59038402-3b3a-4902-b6ca-e7119568b7ba/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"test0","expected":"TEST0"},{"input":"test1","expected":"TEST1"},{"input":"test2","expected":"TEST2"},{"input":"test3","expected":"TEST3"},{"input":"test4","expected":"TEST4"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - dbdf226c-962d-422f-9ff5-42bc4485f5a7
      X-Bt-Internal-Trace-Id:
      - 68fb96cd000000005718f8215b1d6e0f
      X-Amz-Apigw-Id:
      - S9SAJEAcIAMEP0A=
      Etag:
      - W/"d0-MwdjhrQQIqYChoPon/LZGF+s/Ew"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["953f4e86-3fd2-4b86-921f-59b92d7abd22","7dd79cb3-cc8e-485b-a95f-c9eec699179c","2b97483f-9465-4d09-bf77-2ba766cdfc3c","7d85abb8-6b14-4fb8-9d68-080da3e46123","084418a1-dc74-4bd9-9da1-d6ee360558b6"]}'
  recorded_at: Fri, 24 Oct 2025 15:10:05 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"59038402-3b3a-4902-b6ca-e7119568b7ba"}]},"select":[{"op":"star"}],"limit":2},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b591b19b-019b-41bd-876e-bb0fc5233dc7
      X-Bt-Internal-Trace-Id:
      - 68fb96cd0000000066cdd3ab2c5b8c6d
      X-Amz-Apigw-Id:
      - S9SANG5EIAMEHZg=
      X-Bt-Cursor:
      - aPuWzSlJAAM
    body:
      encoding: ASCII-8BIT
      string: |
        {"_pagination_key":"p07564805807003992068","_xact_id":"1000196022029068617","created":"2025-10-24T15:10:05.363Z","dataset_id":"59038402-3b3a-4902-b6ca-e7119568b7ba","expected":"TEST4","id":"084418a1-dc74-4bd9-9da1-d6ee360558b6","input":"test4","is_root":true,"metadata":null,"origin":null,"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","root_span_id":"efc5e89b-d287-4c7a-af4d-84bbe333415b","span_id":"efc5e89b-d287-4c7a-af4d-84bbe333415b","tags":null}
        {"_pagination_key":"p07564805807003992067","_xact_id":"1000196022029068617","created":"2025-10-24T15:10:05.363Z","dataset_id":"59038402-3b3a-4902-b6ca-e7119568b7ba","expected":"TEST3","id":"7d85abb8-6b14-4fb8-9d68-080da3e46123","input":"test3","is_root":true,"metadata":null,"origin":null,"project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","root_span_id":"43e28385-b75a-4e34-bd3e-b3805db240ce","span_id":"43e28385-b75a-4e34-bd3e-b3805db240ce","tags":null}
  recorded_at: Fri, 24 Oct 2025 15:10:05 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/btql
    body:
      encoding: UTF-8
      string: '{"query":{"from":{"op":"function","name":{"op":"ident","name":["dataset"]},"args":[{"op":"literal","value":"59038402-3b3a-4902-b6ca-e7119568b7ba"}]},"select":[{"op":"star"}],"limit":2,"cursor":"aPuWzSlJAAM"},"fmt":"jsonl"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ddfc93fe-3d1a-4780-a4f7-737b75177d06
      X-Bt-Internal-Trace-Id:
      - 68fb96ce000000001d89b767c5bf7a9a
      X-Amz-Apigw-Id:
      - S9SAQGfmoAMEEcg=
      X-Bt-Cursor:
      - aPuWzSlJAAE
    body:
  [...]
