---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZGE4MDhjODQtMmQ3NC00M2I3LTg5MzgtYzcwNzk3MmRhMzhj
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::lmz7f-1761318607369-219fa6ecc12a
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:10:07 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/dataset?dataset_name=nonexistent-dataset-xyz&project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 0fd59e3a-5ea7-4b41-a4eb-c65d56028cf9
      X-Bt-Internal-Trace-Id:
      - 68fb96cf00000000613b7351518f70a9
      X-Amz-Apigw-Id:
      - S9SAhF7NoAMEJSQ=
      Etag:
      - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[]}'
  recorded_at: Fri, 24 Oct 2025 15:10:07 GMT
recorded_with: VCR 6.3.1
