---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZTFiYWVlOWMtMjc0Mi00YzhlLTg2NWMtNzBmMWVjMjMzMjJh
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::pj2cn-1761318600329-b92d8f0f7e64
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:10:00 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-get-by-id","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"mo1bhorbazfa"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - Mzk5NjFkMzktMzc3Ny00MWZhLWI0OTQtMWM1ZjEyNDg2ZjNi
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::ncgkz-1761318600456-d0058839fdeb
    body:
      encoding: UTF-8
      string: '{"project":{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null},"dataset":{"id":"e7b2a965-0820-4633-863b-25b49cf16e62","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-get-by-id","description":null,"created":"2025-10-24T14:47:47.943Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null},"found_existing":true}'
  recorded_at: Fri, 24 Oct 2025 15:10:00 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/dataset/e7b2a965-0820-4633-863b-25b49cf16e62
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 2b92613a-34ce-4781-bc16-f7c2302def92
      X-Bt-Internal-Trace-Id:
      - 68fb96c8000000005ce8f950190ca384
      X-Amz-Apigw-Id:
      - S9R_ZFN2IAMEosA=
      Etag:
      - W/"10d-2kOLf5JP+KCLdW9DFzPofqzLwhI"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"e7b2a965-0820-4633-863b-25b49cf16e62","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-get-by-id","description":null,"created":"2025-10-24T14:47:47.943Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
  recorded_at: Fri, 24 Oct 2025 15:10:00 GMT
recorded_with: VCR 6.3.1
