---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ZTRhOGZmMWEtMjllOS00MDhmLTk5NTEtZjIxNmRlOWNkMWE4
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::5qh4r-1761318607933-216cb9397c1d
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:10:08 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-get","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"jkeax8u856f4"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - YTZhODAyMGItMDhmMi00ODRmLTk1NWEtMWE3Y2Q1ZTAyMDRi
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::96zw4-1761318608064-a1e8c76cb6a1
    body:
      encoding: UTF-8
      string: '{"project":{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null},"dataset":{"id":"3d0de43a-b4c3-40d0-b784-1ef9eb7e452d","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-get","description":null,"created":"2025-10-24T14:47:46.742Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null},"found_existing":true}'
  recorded_at: Fri, 24 Oct 2025 15:10:08 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/dataset?dataset_name=test-ruby-sdk-get&project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 6a85afc3-7b3b-4d38-a8fd-35ea289ca419
      X-Bt-Internal-Trace-Id:
      - 68fb96d00000000035f68a5050e1aa22
      X-Amz-Apigw-Id:
      - S9SAlHtiIAMEJbg=
      Etag:
      - W/"115-9bKydEBOJuDgbUkB2gWxM9SRKsw"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"3d0de43a-b4c3-40d0-b784-1ef9eb7e452d","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-get","description":null,"created":"2025-10-24T14:47:46.742Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
  recorded_at: Fri, 24 Oct 2025 15:10:08 GMT
recorded_with: VCR 6.3.1
