---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - ODM2MTJlZTYtZGU1NS00M2EyLThjOGItM2ZmZTMzZDQ3MzQy
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::5ttbt-1761318601053-bb1a19e64395
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:10:01 GMT
- request:
    method: post
    uri: https://www.braintrust.dev/api/dataset/register
    body:
      encoding: UTF-8
      string: '{"dataset_name":"test-ruby-sdk-insert","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","project_name":"ruby-sdk-test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ht0j1lzi2mf7"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/dataset/register"
      X-Nonce:
      - ZDhjNzc0YWMtNTA1OS00Mzg2LWFjNjItZTk4YjMyZTRmN2Ix
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::hq6rh-1761318601188-e2a3fc5e972c
    body:
      encoding: UTF-8
      string: '{"project":{"id":"c532bc50-7094-4bbb-8704-42344c9728b9","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"ruby-sdk-test","created":"2025-10-22T02:53:49.779Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null},"dataset":{"id":"b0e73e21-c290-4193-a09d-cc8f59ebdf1f","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-insert","description":null,"created":"2025-10-24T14:47:46.163Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null},"found_existing":true}'
  recorded_at: Fri, 24 Oct 2025 15:10:01 GMT
- request:
    method: post
    uri: https://api.braintrust.dev/v1/dataset/b0e73e21-c290-4193-a09d-cc8f59ebdf1f/insert
    body:
      encoding: UTF-8
      string: '{"events":[{"input":"hello","expected":"HELLO"},{"input":"world","expected":"WORLD"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 14ece4c4-16a3-45f0-8e12-6d394cd32704
      X-Bt-Internal-Trace-Id:
      - 68fb96c9000000002eb00efcf8ffc2be
      X-Amz-Apigw-Id:
      - S9R_hFQzIAMEgYw=
      Etag:
      - W/"5b-1PaQrxJa13rULzwp4g5JuUdaRPI"
    body:
      encoding: ASCII-8BIT
      string: '{"row_ids":["d99dc292-f323-4d6c-b6d5-91eea4186c15","5a0d924c-3c7b-434a-b4b3-9f0c37311168"]}'
  recorded_at: Fri, 24 Oct 2025 15:10:01 GMT
recorded_with: VCR 6.3.1
