---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - MTQ4MDUyODMtYzBlYi00MzU0LWI2NWQtODU3NTQ3MWQ0MjZm
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::pj2cn-1761318606841-92beafe0d8ac
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 24 Oct 2025 15:10:06 GMT
- request:
    method: get
    uri: https://api.braintrust.dev/v1/dataset?project_name=ruby-sdk-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f14762ca-7537-47f7-81f9-0cd6a972f7a1
      X-Bt-Internal-Trace-Id:
      - 68fb96ce0000000065b23d62fbeb9bb6
      X-Amz-Apigw-Id:
      - S9SAZHtAIAMEjSg=
      Etag:
      - W/"5689b-jYWbTdbXtj3FMZEFQ3wgEgYuwiU"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"e7b2a965-0820-4633-863b-25b49cf16e62","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-get-by-id","description":null,"created":"2025-10-24T14:47:47.943Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null},{"id":"13c00811-557f-4433-963b-210ef82066f8","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-idempotent","description":null,"created":"2025-10-24T14:47:47.367Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null},{"id":"3d0de43a-b4c3-40d0-b784-1ef9eb7e452d","project_id":"c532bc50-7094-4bbb-8704-42344c9728b9","name":"test-ruby-sdk-get","description":null,"created":"2025-10-24T14:47:46.742Z","deleted_at":null,"user_id":"855483c6-68f0-[...]
