---
http_interactions:
- request:
    method: post
    uri: https://www.braintrust.dev/api/apikey/login
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12n7ok4b5phaz"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - "/api/apikey/login"
      X-Nonce:
      - YzRkNWEzYzYtMmIzMC00MWUxLTliZDAtZTJlYTI4ZjhkNmIz
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::p92ch-1772766223502-155d048a9a3d
    body:
      encoding: UTF-8
      string: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://staging-api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://staging-api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
  recorded_at: Fri, 06 Mar 2026 03:03:43 GMT
- request:
    method: post
    uri: https://staging-api.braintrust.dev/v1/project
    body:
      encoding: UTF-8
      string: '{"name":"ruby-sdk-test-delete-me"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b6c80815-af9c-4807-b248-24e218f4a8c1
      X-Bt-Internal-Trace-Id:
      - 69aa440f000000005c96d8e0537a9142
      X-Amz-Apigw-Id:
      - Zx-ShHMWoAMEmyg=
      Etag:
      - W/"109-YFxHJK0NWCSKgDsg93TzNAKybTE"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0ac7da79-c615-436b-aecf-3e204d343b49","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test-delete-me","description":null,"created":"2026-03-06T03:03:43.787Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","settings":null}'
  recorded_at: Fri, 06 Mar 2026 03:03:43 GMT
- request:
    method: delete
    uri: https://staging-api.braintrust.dev/v1/project/0ac7da79-c615-436b-aecf-3e204d343b49
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BRAINTRUST_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - ad9b1fcd-0a19-4941-bebd-02a13f70e5ca
      X-Bt-Internal-Trace-Id:
      - 69aa440f00000000211c58ffafaa0bd0
      X-Amz-Apigw-Id:
      - Zx-SjF1OIAMEbNQ=
      Etag:
      - W/"11f-bTULRARQyrTEtHbD0RaPH1Ei33w"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0ac7da79-c615-436b-aecf-3e204d343b49","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"ruby-sdk-test-delete-me","description":null,"created":"2026-03-06T03:03:43.787Z","deleted_at":"2026-03-06T03:03:44.040Z","user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","settings":null}'
  recorded_at: Fri, 06 Mar 2026 03:03:44 GMT
recorded_with: VCR 6.4.0
